[2017-07-26 20:49] samreid opened #111 "Wire is aliased on Firefox and iPad2"
Discovered in #109, the wire is aliased in Firefox

![image](https://user-images.githubusercontent.com/679486/28643009-9e44ebba-7211-11e7-9791-e1619f94ca25.png)

[2017-07-26 20:52] samreid commented on #110
And in the screen icon:
![image](https://user-images.githubusercontent.com/679486/28643150-1b156642-7212-11e7-8664-37210caa2f4c.png)

[2017-07-26 20:59] samreid opened #112 "Better separation for schematic battery icon text?"
![image](https://user-images.githubusercontent.com/679486/28643423-057132a2-7213-11e7-9929-6713863d4de6.png)
 Discovered in #109

[2017-07-26 20:59] samreid commented on #112
Compare to the other ones:

![image](https://user-images.githubusercontent.com/679486/28643440-162b2436-7213-11e7-9634-ef88189932ca.png)

[2017-07-26 21:04] samreid commented on #109
I tested for 15 minutes on desktop safari and firefox and identified the 4 issues above, closing.

[2017-07-26 21:34] samreid commented on #110
Fixed in the preceding commits, thanks mipmap!  Closing.

[2017-07-26 21:34] #110 closed

[2017-07-26 21:43] samreid commented on #111
@jonathanolson anything we can do about this?  It is rendered with toDataURLNodeSynchronous then Image/webgl.

[2017-07-26 21:50] jonathanolson commented on #111
Theoretically, adding back in some vertical padding for the wire may help (keeping the lack of padding at the ends).

Will check for local reproduction.

[2017-07-27 00:53] samreid opened #113 "Fuzz error: Matrix is rank deficient"
circuit-construction-kit-dc-virtual-lab : xss-fuzz : run
Uncaught Error: Matrix is rank deficient.
Error: Matrix is rank deficient.
    at QRDecomposition.solve (https://bayes.colorado.edu/continuous-testing/snapshot-1501107394213/dot/js/QRDecomposition.js?bust=1501109227730:146:15)
    at Matrix.solve (https://bayes.colorado.edu/continuous-testing/snapshot-1501107394213/dot/js/Matrix.js?bust=1501

[2017-07-27 01:11] samreid commented on #113
Proposed fix (workaround?) is above, but this is an exceedingly rare fuzz issue and I haven't caught it in a debugger after 30+ minutes of fuzzing.  But hopefully this workaround will be good enough.  Hopefully Bayes will tell us.

[2017-07-27 01:14] samreid commented on #113
I caught one!  It says the A matrix is all zeroes.  The dev tools is somewhat broken and won't tell me what the circuit is like though.  But catching this in the solve step seems as reasonable and robust as trying to catch it earlier, so perhaps the proposed fix above is still OK.

[2017-07-27 02:55] samreid opened #114 "Light bulb icon isn't changing to schematic"
The lifelike mipmap is nice but we need an icon that goes to schematic too

[2017-07-27 02:56] samreid commented on #113
This seems maybe gone in the latest fuzzes?  Closing and will reopen if we see it again.

[2017-07-27 02:56] #113 closed

[2017-07-27 03:29] samreid opened #115 "The icons and text jump around in the toolbox when changing to schematic"

[2017-07-27 15:49] samreid commented on #114
Fixed, closing.

[2017-07-27 15:49] #114 closed

[2017-07-27 16:02] samreid commented on #115
The schematic and lifelike icons are different sizes and shapes.  We must choose between the following:
1. Change the icons to have the same dimension.  This is problematic because we want some of the grab bag resistors to have different heights for lifelike but same height for schematic.
2. Relayout the icons when changing between schematic and lifelike.  This is problematic because the icons mov

[2017-07-27 16:05] samreid commented on #115
I implemented (2) above and published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.112/circuit-construction-kit-dc_en.html

@arouinfar can you please double check this issue?

[2017-07-27 16:06] samreid commented on #112
Fixed in the preceding commit, see related issue #115 in case we change the toolbox layout, closing.

[2017-07-27 16:06] #112 closed

[2017-07-27 16:12] phet-steele commented on #99
I can't reproduce in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.111/circuit-construction-kit-dc_en.html anymore, so maybe that commit did it?

[2017-07-27 16:15] #115 closed

[2017-07-27 16:40] jonathanolson commented on #111
Cannot reproduce locally:

![screen shot 2017-07-27 at 10 39 45 am](https://user-images.githubusercontent.com/480878/28681796-f5f0f3da-72b7-11e7-9c38-c2d40d05826d.png)

What device did this happen on?

[2017-07-27 16:43] samreid commented on #111
The screenshot in the top comment is from Firefox on my MBP retina display:
![image](https://user-images.githubusercontent.com/679486/28681922-62b9e382-72b8-11e7-96f5-3c388feea3d1.png)

[2017-07-27 18:11] jonathanolson commented on #111
The retina part may be relevant. Collaborating on this may help.

[2017-07-27 19:18] samreid opened #116 "Memory testing"
fuzz testing is showing a leak now, we should investigate before code review or dev testing.

[2017-07-28 03:23] samreid commented on #111
Same app, no problem.

![image](https://user-images.githubusercontent.com/679486/28701224-e0c6e76c-7311-11e7-8c23-32633852834d.png)

Let me see if it is a problem in the built version.

[2017-07-28 03:25] samreid commented on #111
It looks equally great in the published version.  Not sure what was wrong in my original post.  I tried ?webgl=false and it also looked good.  Closing.

[2017-07-28 03:50] samreid commented on #116
My test routine:
update Sim.js with this code:

[code]

Launch the sim with ?fuzzMouse.

Take an initial memory snapshot.

Let it fuzz for 5 seconds.

Press reset on each screen

Take a memory snapshot and compare.

We may need some "warm up fuzzing" before this starts?

[2017-07-28 04:03] samreid commented on #116
New routine:

[code]
launch with ?fuzzMouse
let it fuzz 5 sec (warming up phase)
reset both screens and capture a memory snapshot
let it fuzz 5 sec (testing phase)
reset both screens and capture a memory snapshot
compare memory snapshots

[2017-07-28 06:55] samreid commented on #116
After @jonathanolson & I addressed many leaks, we are still seeing about 1MB leaked per 10 seconds with fuzzMouse (and resets).  Here's a pic of what is still leaking:

![image](https://user-images.githubusercontent.com/679486/28705972-5e9fbb24-732f-11e7-8b47-c93255c7f763.png)

[2017-07-28 12:28] samreid commented on #116
One leak is that ResistorNode continually creates new rasters during startup for each of the different resistor types.

[2017-07-28 12:34] samreid commented on #116
Same deal for CircuitConstructionKitLightBulbNode

[2017-07-28 12:55] samreid commented on #116
Fuzz on and off every 10 seconds

[code]

[2017-07-28 14:48] samreid commented on #116
After fixing the above errors, I ran the following test:

grunt --mangle=false
?fuzzMouse&fuzzRate=3000

snapshot times
1: 7:29am  54.6MB
2: 7:32am  52.2MB
3: 7:46am  65.4MB
4: 7:49am  76.1MB
5: 7:53am  55.4MB
6: 7:57am  66.9MB
7: 8:07am  79.9MB
8: 8:09am  75.9MB
9: 8:41am  74.3MB

![image](https://user-images.githubusercontent.com/679486/28722391-d4e9de2c-7370-11e7-80ee-d4d2c494d62e.png)

It look

[2017-07-28 14:48] #116 closed

[2017-07-28 15:18] samreid opened #117 "Highlight region truncated for high resistance bulb on iPad2"
![image](https://user-images.githubusercontent.com/679486/28723961-b10135e6-7375-11e7-9c86-091f552d5a6d.png)

[2017-07-28 15:58] samreid opened #118 "Animation speed text overlaps radio buttons"
![image](https://user-images.githubusercontent.com/679486/28725617-42be7d68-737b-11e7-836c-3645452ec481.png)

[2017-07-28 16:13] samreid opened #119 "Circuit elements should pop up above touch events"
On iPad2, the finger obscures the circuit element when dragged out of the toolbox.  It would be better to pop it up some pixels or grab it near the bottom so it is easier to see.  Not sure if this should be same "grab point" for touch and mouse, or if touch should be a special case.  @arouinfar what do you think?

[2017-07-28 16:17] samreid commented on #117
I haven't been able to reproduce this problem.  @phet-steele can you keep your eyes peeled for this sort of this in the next round of testing?

[2017-07-28 16:22] samreid commented on #118
It depends on the aspect ratio--can be worse and changing the y position isn't necessarily the best solution:

![image](https://user-images.githubusercontent.com/679486/28726483-a89c77a4-737e-11e7-8194-0b1e84c2ec26.png)

[2017-07-28 16:34] arouinfar commented on #119
@samreid it looks like the "grab point" is currently the middle of the object. I think you could move it down to the bottom and that would alleviate the issue on iPad. I would use the same grab point for touch and mouse -- no need to create a special case.

[2017-07-28 16:58] samreid commented on #119
My gut reaction on seeing a wire drag out by the bottom center (by the mouse) is that it feels buggy--I'm sure this is to some extent because I'm used to the center drag. But it makes me wonder how complex it would be to separate these--if it is just a few lines of code, we should maybe go for it.

[2017-07-28 16:59] arouinfar commented on #119
Sounds good @samreid

[2017-07-28 17:56] samreid commented on #118
The new version looks like this:
![image](https://user-images.githubusercontent.com/679486/28730000-b76b9848-738b-11e7-92d4-05587ffd6f85.png)

@arouinfar can you please review?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.115/circuit-construction-kit-dc_en.html

[2017-07-28 18:44] samreid commented on #119
Proposed fix is here.  @arouinfar can you please test?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.116/circuit-construction-kit-dc_en.html

[2017-07-28 18:54] samreid commented on #109
Developer testing is back open.

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.116/circuit-construction-kit-dc_en.html
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-dev.5/circuit-construction-kit-dc-virtual-lab_en.html

[2017-07-28 19:02] samreid opened #120 "Light Bulb icons look crummy on Edge"
![image](https://user-images.githubusercontent.com/679486/28732389-88fbaf1a-738c-11e7-81fd-5610570a4d31.png)

[2017-07-28 19:10] samreid opened #121 "Issues with the battery value display"
The battery value display is left-justified, which means the 8 lines up with the 7 in this example:

![image](https://user-images.githubusercontent.com/679486/28732567-21194258-738d-11e7-8571-c487758fdd17.png)

This could be confusing or easily misread.  It may be better to:
1. Right justify
2. Align the decimal points
3. Drop the decimal point for the battery resistance (because it can only be se

[2017-07-28 19:19] samreid commented on #120
Discovered in https://github.com/phetsims/circuit-construction-kit-dc/issues/109

[2017-07-28 19:20] phet-steele commented on #117
@samreid, if a component (any) starts its life in schematic view, then its highlight will fit the size of the schematic, not the normal size. So, switch to schematic view, then drag out a light bulb (don't care which type). Then switch to normal view and drag out another lightbulb. Then you can compare their sizes. Not specific to platform either, I believe.

[2017-07-28 19:20] samreid commented on #120
Mipmaps solved this same problem for firefox, but not on edge.

[2017-07-28 19:45] samreid commented on #120
dev.117 tried to fix the navbar icon.  it is better but still pretty bad (depends on exact screen size)

![image](https://user-images.githubusercontent.com/679486/28733745-69b45caa-7392-11e7-8c8a-cd7dc29223bf.png)

[2017-07-28 19:45] samreid commented on #120
@jonathanolson what do you recommend here?

[2017-07-28 19:54] arouinfar commented on #121
@samreid I'm not sure how left-aligning the battery values would be confusing. I didn't witness any student difficulty in interpreting the values during interviews, so I'm inclined to go with option (5) and leave things as they are.

[2017-07-28 19:54] phet-steele commented on #99
Ack, @samreid I don't know if this is new or not, but now layout bounds are incorrect UNTIL I zoom. So right from sim opening, I drag out a sensor and am not allowed to drag out of dev bounds. Once I zoom out then in, everything is fine. Just tried this on master.

[2017-07-28 19:58] arouinfar commented on #119
@samreid did you end up going the touch-only route? Things look the same on my Mac.

[2017-07-28 20:00] arouinfar commented on #118
Looks much better now! Thanks @samreid

[2017-07-28 20:00] #118 closed

[2017-07-28 20:46] jonathanolson commented on #120
Is that on a retina screen? I'm curious if it's not properly adjusting mipmaps (or is over-adjusting mipmaps) on Edge, and maybe a mipmap level adjustment would help.

[2017-07-28 20:59] samreid commented on #120
It is a nonretina screen, how do I do a level adjustment?

[2017-07-28 21:02] jonathanolson commented on #120
If it's WebGL, I'd need to look it up.

If it's SVG/Canvas, adjust the Image node's mipmapBias (see setMipmapBias docs, note default is currently -0.7).

[2017-07-28 21:11] samreid commented on #120
Those are SVG, I'll give that a try

[2017-07-28 21:50] jonathanolson commented on #120
Forgot that Edge forces default to Canvas (because of SVG rendering issues).

I tried (?) changing the mipmapBias a lot and I saw no change (so I'm going to wait to investigate at home to debug further)

[2017-07-28 22:27] samreid opened #122 "Schematic component dimensions are wrong"
When dragging out a component in schematic mode, its dimensions are wrong.  this was on edge but maybe it happens everywhere

![image](https://user-images.githubusercontent.com/679486/28738598-39f7fcbc-73a9-11e7-9960-cf227ddc9eee.png)

[2017-07-28 22:28] samreid commented on #122
Or maybe they are all just wrong now?

[2017-07-28 22:41] samreid commented on #120
I tried removing the "edge is only canvas" logic and everything looked beautiful.

![image](https://user-images.githubusercontent.com/679486/28738832-c1b2a3c2-73aa-11e7-9744-a8c3eb194c01.png)

The ellipses were even OK.  Should we look into removing that workaround now?  My edge is 40.15063.0.0

[2017-07-28 22:50] phet-steele commented on #120
@samreid, maybe try the three test links at the top of this issue: https://github.com/phetsims/scenery/issues/515

[2017-07-28 23:35] jonathanolson commented on #120
I see comments in https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3723601/ that indicate some text issues may be fixed in "EdgeHTML 15 / Edge 40" which should be in the Win10 "creators" update.

I'd recommend some investigation to see if we can identify Edge versions where our canvas workarounds aren't needed, so that we don't introduce other problems (like this).

I'll look i

[2017-07-28 23:38] jonathanolson commented on #120
Looks like Edge 14.x is somewhat more common than Edge 15.x (with 13.x and 12.x trailing off quickly).

[2017-07-30 14:08] samreid opened #123 "Layout bounds are incorrect UNTIL I zoom"
From https://github.com/phetsims/circuit-construction-kit-dc/issues/99

@phet-steele said:

Ack, @samreid I don't know if this is new or not, but now layout bounds are incorrect UNTIL I zoom. So right from sim opening, I drag out a sensor and am not allowed to drag out of dev bounds. Once I zoom out then in, everything is fine. Just tried this on master.

[2017-07-30 14:08] samreid commented on #99
I'll track this in new issue #123

[2017-07-30 14:08] #99 closed

[2017-07-30 14:10] samreid commented on #119
Yes, the modified vertical translation is for touch only, the behavior for dragging should still be the same (except the centering was fixed for the light bulb.)

[2017-07-30 14:13] samreid commented on #119
By the way, on Mac Chrome you can open the console and click the 2nd icon (that looks like a phone next to an iPad).

![image](https://user-images.githubusercontent.com/679486/28754231-beb26932-74fe-11e7-871d-92dcac09d7b5.png)

That will let you choose a device profile:
![image](https://user-images.githubusercontent.com/679486/28754237-ce3f938e-74fe-11e7-945b-4fc76fac4694.png)

and then you can si

[2017-07-30 14:14] samreid commented on #122
Probably introduced after I added caching to fix a spritesheet memory leak.

[2017-07-31 04:33] samreid commented on #121
I don't recall which sim, but in a recent (<1 yr) sim design, we decided it was important to line up the decimal points to make sure the orders of magnitude weren't confusing and the numbers could be easily compared.  It may be less concerning in this simulation if the ohms and volts values aren't compared often.  However, it does seem like it would be aesthetically pleasing to line up the V and O

[2017-07-31 04:35] samreid commented on #121
Also, how come the top post has borders around the numbers and the snapshot above does not?

[2017-07-31 14:52] samreid commented on #117
If I initialize the highlight regions based on the lifelike view, then the schematic view looks like this:

![image](https://user-images.githubusercontent.com/679486/28783429-92d20a14-75cd-11e7-95a3-075dd67e8de2.png)

@arouinfar is that acceptable?  Or should the highlight regions be recomputed when changing between lifelike and schematic?

[2017-07-31 15:14] samreid commented on #117
Proposed fix committed above, @arouinfar can you please double check everything?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.121/circuit-construction-kit-dc_en.html

[2017-07-31 15:24] samreid commented on #122
Proposed fix is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.122/circuit-construction-kit-dc_en.html

@arouinfar can you please take a look?

[2017-07-31 15:43] samreid commented on #123
@phet-steele I published a proposed solution here, can you please test?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.125/circuit-construction-kit-dc_en.html

[2017-07-31 15:57] samreid commented on #120
Cursory testing on edge 14 with svg looks legit

![image](https://user-images.githubusercontent.com/679486/28786466-8b4b9cb6-75d6-11e7-8c8c-a6b8623bef91.png)

Though I did see one occurrence of an ellipsis about 20px to the left.

[2017-07-31 16:13] phet-steele commented on #123
Bounds are looking correct at all times for me. 😄

[2017-07-31 16:13] #123 closed

[2017-07-31 16:41] samreid commented on #120
@jonathanolson determined that mipmaps are not used on canvas.  We'll investigate adding that feature and it may address this problem (leaving renderer as canvas on Edge).

[2017-07-31 16:56] arouinfar commented on #122
@samreid I wasn't able to reproduce this in dev.121 in Mac/Chrome or Win10/Edge, so I'm not sure how to verify the fix in dev.122. @phet-steele have you observed this behavior?

[2017-07-31 17:01] arouinfar commented on #117
Updated highlight looks good! Thanks @samreid.

[2017-07-31 17:01] #117 closed

[2017-07-31 17:10] arouinfar commented on #121
Thanks for the clarification @samreid. Now that I see the right-aligned values, I prefer that arrangement, as it makes it a bit clearer which number is larger/has more digits. I am not bothered by the slightly misaligned decimal points, however. I think aligning the decimals would introduce a strange staggering of the units, which I would find more distracting.

I change my vote to right-aligning

[2017-07-31 17:20] samreid commented on #121
Right alignment is ready in this version, @arouinfar can you please test?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.126/circuit-construction-kit-dc_en.html

[2017-07-31 17:33] arouinfar commented on #121
👍

[2017-07-31 17:33] #121 closed

[2017-07-31 17:34] arouinfar commented on #119
Thanks for the tip @samreid! Tested the latest dev on iPad, and the popping elements look really nice.

[2017-07-31 17:34] #119 closed

[2017-07-31 17:40] samreid commented on #122
To see the buggy version, use any browser and launch http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.121/circuit-construction-kit-dc_en.html

Then switch to schematic and drag out a dog.  You should see something like this:

![image](https://user-images.githubusercontent.com/679486/28790133-181a2bd6-75e5-11e7-99cf-1271a01017c0.png)

[2017-07-31 17:44] arouinfar commented on #122
Thanks @samreid! I had been testing the standard components, not the Grab Bag items. I cannot reproduce the issue in dev.122. Closing.

[2017-07-31 17:44] #122 closed

[2017-07-31 18:32] samreid opened #124 "Sometimes the wire body doesn't appear in the toolbox"
I've seen this twice now. Last sighting was in requirejs (not sure where 1st sighting was).

This is Mac/Chrome on current master:

![image](https://user-images.githubusercontent.com/679486/28792268-467154b2-75ec-11e7-84ed-0ef9018480c6.png)

@jonathanolson any guesses what might be happening here?

[2017-07-31 19:03] samreid commented on #120
The scenery change looks great, here's the before/after:

![image](https://user-images.githubusercontent.com/679486/28793582-a7b5fc56-75f0-11e7-996f-f9b89d453ce1.png)

[2017-07-31 19:03] #120 closed

[2017-07-31 19:18] jonathanolson commented on #124
Might be related to image loading.

Will want to inspect a case where this has happened, or have reproduction instructions (can't reproduce locally).

[2017-07-31 19:19] samreid commented on #124
I refreshed 15 times and haven't seen it again yet.

[2017-07-31 19:24] samreid commented on #109
OK here's the next batch:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.127/circuit-construction-kit-dc_en.html
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-dev.6/circuit-construction-kit-dc-virtual-lab_en.html

[2017-07-31 19:26] samreid commented on #109
Oops a canvas bug sneaked into the above commits.  I'll roll out 2 new versions later on.

[2017-07-31 20:20] samreid commented on #109
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.128/circuit-construction-kit-dc_en.html
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-dev.7/circuit-construction-kit-dc-virtual-lab_en.html

[2017-07-31 20:24] samreid commented on #116
2:24pm 34MB

[2017-07-31 20:36] samreid opened #125 "Default wire resistivity and readouts lead to unwieldy numbers"
![image](https://user-images.githubusercontent.com/679486/28797085-4161f5d8-75fd-11e7-8163-6191e7123d67.png)

For ideal wires, this would read 12.0A but due to the resistivity it is reading 11.999A.  This seems liable to confuse middle schoolers and possible older students too.  We could address this by reducing the default resistivity or rounding some numbers in some displays.  Here's how long th

[2017-07-31 20:36] samreid commented on #109
I tested for 5 minutes in Firefox and another 5 in Safari and didn't see any obvious deficiencies.
 I reported one issue above though.  Memory testing is starting up again in https://github.com/phetsims/circuit-construction-kit-dc/issues/116

[2017-07-31 20:50] #109 closed

[2017-07-31 21:51] samreid commented on #124
I published http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.129/circuit-construction-kit-dc_en.html with an icon loaded through image!

[2017-07-31 22:00] samreid commented on #124
@phet-steele tested it out and we decided we like this fix.  Closing.

[2017-07-31 22:04] samreid commented on #111
@phet-steele saw this again on iPad2

[2017-07-31 22:11] arouinfar commented on #125
@samreid I agree that this could be problematic for some students. I would recommend that you investigate lowering the default resistivity rather than rounding.

[2017-07-31 22:21] phet-steele commented on #124
@samreid, looked again and the fix doesn't handle switching to schematic view. The non-schematic wire is always shown in the carousel.

[2017-07-31 23:15] jonathanolson commented on #111
I believe @phet-steele said this looked better on his side. @samreid can you confirm?

[2017-08-01 01:02] samreid commented on #111
Looks great, thanks!  @jonathanolson anything else to do for this issue?

[2017-08-01 01:17] jonathanolson commented on #111
Nope, closing.

[2017-08-01 01:17] #111 closed

[2017-08-01 01:22] samreid commented on #124
I committed the proposed fix, @phet-steele can you please verify?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.130/circuit-construction-kit-dc_en.html

[2017-08-01 01:30] samreid commented on #125
I took the default resistance from 1E-4 to 1E-10 and haven't seen any numerical issues yet.  And it handles default numbers nicely:

![image](https://user-images.githubusercontent.com/679486/28805345-a1b5790e-7626-11e7-8884-0a1c9f2f6b12.png)

It will need more testing.

[2017-08-01 01:36] samreid commented on #125
I confirmed values are commensurate with the previous version, and tried to wreck the linear algebra, but couldn't find any problems after a few minutes of testing.

@arouinfar can you please take it for a test drive?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.131/circuit-construction-kit-dc_en.html

[2017-08-01 01:38] samreid commented on #125
Here's an extreme case I tested that didn't cause numerical issues:

![image](https://user-images.githubusercontent.com/679486/28805518-dc1ec018-7627-11e7-8961-76c106f63f5c.png)

[2017-08-01 03:06] samreid commented on #125
Bumping priority since this is the only know issue before we start dev testing.

[2017-08-01 04:25] samreid opened #126 "A 0 resistance light bulb should have 0 power"
![image](https://user-images.githubusercontent.com/679486/28809211-1f565398-763f-11e7-8a9f-27687b9b90c8.png)

A 0 resistance light bulb should have 0 power and hence no brightness lines.  @arouinfar can you please confirm this?

[2017-08-01 04:27] samreid commented on #126
Dragging a light bulb out of the toolbox caused an ammeter reading to fluctuate and the brightness rays to flicker and go off.  Could this be related to #125 ?

[2017-08-01 04:41] samreid commented on #126
There is some noise in the solver:
![image](https://user-images.githubusercontent.com/679486/28809544-52a7eb10-7641-11e7-9dba-8f5da3553ffd.png)

[2017-08-01 04:44] samreid commented on #126
P=i*i*r will be better because it can use the user-set resistance.

[2017-08-01 04:45] samreid commented on #126
![image](https://user-images.githubusercontent.com/679486/28809650-d6334092-7641-11e7-97f6-b0b692688075.png)

[2017-08-01 04:50] samreid commented on #126
I published a proposed fix here that uses P=i*i*r instead of P=iv.  @arouinfar can you please take a look?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.132/circuit-construction-kit-dc_en.html

The circuit solver adds an equation for 0 resistance components that their v1=v2, but I think there is numerical error in the solution.  I wonder if 1E-10 is too low of

[2017-08-01 15:54] phet-steele commented on #124
Second time's the charm! (right?)

[2017-08-01 15:54] #124 closed

[2017-08-01 16:16] arouinfar commented on #125
@samreid everything seems to be behaving. I also created a short with all 14 available batteries at max voltage, which seemed to run smooth.

The only side effect I'm noticing is that the shorts now have an extremely high current.
![image](https://user-images.githubusercontent.com/8419308/28835246-f81b92bc-76a1-11e7-825d-86d9429102d5.png)

Is the >10^10 behavior new? I know we did something simila

[2017-08-01 16:22] arouinfar commented on #126
That's correct @samreid.

This may be a naive approach, but can you instead check the resistance of the bulb, and if it is zero, set the brightness to zero?

[2017-08-01 16:24] arouinfar commented on #126
This looks a bit suspect....

[2017-08-01 16:25] samreid commented on #126
Since the resistance value has no noise and can be exactly zero, it seems best to use P=i*i*r.  An additional check would provide no additional value (unless I'm misunderstanding something).

[2017-08-01 16:31] arouinfar commented on #126
@samreid I guess I misunderstood this statement to mean there's a numerical error when checking if v1=v2 to determine if R=0. Instead, you're verifying R=0, then setting v1=v2?

[2017-08-01 16:49] samreid commented on #126
Correct, here is the code:

[code]

However, an ill conditioned system can still lead to v1 differing  from v2 (but r will still be 0 and `P=i*i*r` will still be right.).  Adding more wire resistivity can lead to a better conditioned matrix system.

Another approach we could investigate to address https://github.com/phetsims/circuit-construction-kit-dc/issues/126#issuecomment-319422746 would be to

[2017-08-01 16:59] arouinfar commented on #125
@samreid decreasing the resistivity be 6 orders of magnitude seems a bit drastic. Maybe we could go with 1E-7 or 1E-8 instead. I think it would be acceptable for circuits with long wires, such as the one in https://github.com/phetsims/circuit-construction-kit-dc/issues/125#issuecomment-319241884, to display 11.999 A, especially if would ease the instability in #126.

[2017-08-01 17:01] samreid commented on #126
I think I'll close this issue since 0 resistance bulbs will always be unlit now.  I'll move https://github.com/phetsims/circuit-construction-kit-dc/issues/126#issuecomment-319422746 over to #125

[2017-08-01 17:01] samreid commented on #125
In #126 @arouinfar reported

This looks a bit off...

![image](https://user-images.githubusercontent.com/8419308/28835749-adfd3de6-76a3-11e7-97e6-a692a0dbbf4c.png)

[2017-08-01 17:02] arouinfar commented on #126
Sounds good @samreid. The 0-resistance bulbs in dev.132 looked good to me.

[2017-08-01 17:02] #126 closed

[2017-08-01 18:35] samreid commented on #125
It would be convenient if increasing the resistivity made all of the problems go away.  If we want something more guaranteed to address cases like the preceding comment, we could split apart the solution to disjoint "connected sets" and solve each independently.  That may take around 4 hours, but it would break the dependence between unconnected parts.

[2017-08-01 18:45] samreid commented on #125
At resistivity of 1E-4, the decimal point drops at this wire length:
![image](https://user-images.githubusercontent.com/679486/28841025-2ead06da-76b6-11e7-9f6c-1894dbf788e0.png)

At 1E-5, the decimal point drops at this wire length:
![image](https://user-images.githubusercontent.com/679486/28841079-4f81901a-76b6-11e7-9eb9-789456e9d384.png)

At 1E-5, a high voltage battery with a default bulb revea

[2017-08-01 18:50] samreid commented on #125
I changed the default resistivity to 1E-5 and committed.

Testing again with 1E-10 and using a fake battery with 10000000V, I can get electrons to run through a disconnected wire:

![image](https://user-images.githubusercontent.com/679486/28841559-eaeacc1e-76b7-11e7-9206-24e69cd31b62.png)

[2017-08-01 18:53] samreid commented on #125
@arouinfar here is a version with 1E-5 resistivity. http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.133/circuit-construction-kit-dc_en.html

Can you test it out and see if it is ready for dev testing?  Or if we may need to something like https://github.com/phetsims/circuit-construction-kit-dc/issues/125#issuecomment-319458218 or anything else?

[2017-08-01 19:06] arouinfar commented on #125
@samreid I haven't been able to reproduce https://github.com/phetsims/circuit-construction-kit-dc/issues/125#issuecomment-319432659 in dev.133, and the current looks good for standard components. I'd say you're good to go for dev testing, but I think we may want to discuss whether or not we're okay with rounding issues with the high V battery in design meeting.

[2017-08-01 23:41] kathy-phet commented on #125
I note that in the Java version, the current decimal places only go to two decimals. This would solve all of the rounding issues for current, I think.

Could we do two decimals?

Voltage drop shows 3 decimals, I think to capture the small voltage drops in the wires due to their resistance at high current.

[2017-08-02 01:45] samreid commented on #125
Here's a snapshot from the latest version, showing 2 decimal points in the Voltmeter, and 3 in each ammeter:

![image](https://user-images.githubusercontent.com/679486/28853975-6883953c-76f1-11e7-97ee-6ac6a2a66be6.png)

I'm not sure if the voltmeter is supposed to be 3 decimal points, but it apparently has been 2 decimal places for quite a long time.  There is a note in the ammeter code that says

[2017-08-02 02:39] kathy-phet commented on #125
Can we have a rule that shows only two decimals unless it is a current between 0.02 and 0.001 and the it starts showing 3 decimals?

Two decimals is easier to digest.

Perhaps we could have a similar rule for voltage?

I do recall we had made the voltmeter three decimals in the Java version to show the small voltage drop on the wires. I will have to play more with this and I'll try to get together

[2017-08-02 13:47] samreid commented on #125
That seems straightforward--less than an hour to implement for voltmeter and ammeters in the play area.  I'll wait for @kathy-phet and @arouinfar to confirm before I start.

[2017-08-02 14:39] arouinfar commented on #125
I like @kathy-phet's suggestion. Go for it @samreid!

[2017-08-02 15:34] samreid commented on #125
![image](https://user-images.githubusercontent.com/679486/28881543-b50ad5ae-7765-11e7-878d-2d60786b4f01.png)
![image](https://user-images.githubusercontent.com/679486/28881556-c15bd092-7765-11e7-97a1-8e0dbe70bed2.png)
![image](https://user-images.githubusercontent.com/679486/28881563-c874258c-7765-11e7-80aa-5b97231a6504.png)

[2017-08-02 15:39] samreid commented on #125
Proposed implementation is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.134/circuit-construction-kit-dc_en.html

@arouinfar can you please review and test?  And please point out anything else that should be fixed before dev testing.

[2017-08-02 16:59] arouinfar commented on #125
@samreid I'm seeing some disagreement between the ammeters
![image](https://user-images.githubusercontent.com/8419308/28884896-f7bbd4e2-7770-11e7-972a-5d037f654814.png)

Looks like the non-contact ammeter's probe location makes a difference. The third digit appears when reading over a battery or resistor, but not a wire.
![image](https://user-images.githubusercontent.com/8419308/28885034-835eb85c-

[2017-08-02 18:59] samreid commented on #125
@arouinfar how did you produce that bottom case?  I connected a normal battery and pencil like you did, then reduced the voltage to 4.0V and observed 0.013A throughout the circuit, even in the wires.

[2017-08-02 19:04] samreid commented on #125
Likewise, for the top case I'm seeing agreement in the ammeters:
![image](https://user-images.githubusercontent.com/679486/28889983-e8360c06-7782-11e7-8def-c6e0141a58be.png)

[2017-08-02 19:33] samreid commented on #125
@phet-steele determined that rotating the wire can cause the problem, and I was able to replicate the issue here.

[2017-08-02 19:45] arouinfar commented on #125
Thanks @phet-steele. I've been having trouble consistently replicating.

[2017-08-02 19:47] arouinfar commented on #125
@samreid on startup, I built the battery-pencil circuit and lowered the voltage. Non-contact ammeter sometimes displays the third digit, and sometimes doesn't.

[2017-08-02 19:49] samreid commented on #125
Proposed fix is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.135/circuit-construction-kit-dc_en.html

The wire direction was correlated with the problem, negative currents were not being given the correct number of decimal places, hopefully fixed now.  @arouinfar and @phet-steele can you please take a look?

[2017-08-02 19:57] arouinfar commented on #125
I'm getting a consistent reading across all of these wires:
![image](https://user-images.githubusercontent.com/8419308/28892220-7624183a-778a-11e7-8110-aa3b25f6f1ba.png)

[2017-08-02 21:47] phet-steele opened #127 "Parallel current does not diverge/converge gracefully"
@samreid This issue has varying degrees of expression, depending on the number of "current splits" created and the current through the wires. A simple setup with 4 splits is shown below:

<img width="1124" alt="screen shot 2017-08-02 at 3 30 06 pm" src="https://user-images.githubusercontent.com/5863899/28895906-7d140724-7797-11e7-9bd3-16094911555c.png">

Enabling current with this setup reveals ga

[2017-08-02 21:54] phet-steele commented on #127
Here is this case where the electrons do not un-bunch until entering a wire:
![cckdc09](https://user-images.githubusercontent.com/5863899/28896721-d531c3ee-779a-11e7-872e-247001efba6a.gif)

[2017-08-02 22:14] phet-steele commented on #127
An example where backwards motion is much more obvious. Watch the wire attached to the resistor.

![cckdc10](https://user-images.githubusercontent.com/5863899/28897356-98b5f5cc-779d-11e7-9ce2-4c46fee8a054.gif)

[2017-08-03 17:28] samreid commented on #127
@phet-steele can you please characterize the behavior in the Java version?  Does it exhibit the same behavior?

[2017-08-03 18:03] phet-steele commented on #127
@samreid biggest difference I see is that electrons don't travel backwards to fill the gap:
![cckdc11](https://user-images.githubusercontent.com/5863899/28935888-263200d0-7843-11e7-8120-e827da0a3810.gif)

Electrons still bunch in batteries and resistors and such:
![cckdc12](https://user-images.githubusercontent.com/5863899/28936036-aa001082-7843-11e7-988e-10e2d08829f0.gif)

[2017-08-03 19:34] phet-steele opened #128 "What happened to negative voltage readings?"
Either way I put this voltmeter, it always shows positive:

<img width="549" alt="screen shot 2017-08-03 at 1 32 42 pm" src="https://user-images.githubusercontent.com/5863899/28939960-46996338-7850-11e7-8f7f-7a357b07ac0c.png">
<img width="626" alt="screen shot 2017-08-03 at 1 32 48 pm" src="https://user-images.githubusercontent.com/5863899/28939961-46adc2b0-7850-11e7-997e-b22b3d586e7c.png">

Seen

[2017-08-03 19:45] samreid commented on #128
Thanks @phet-steele, I've published a proposed fix here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.136/circuit-construction-kit-dc_en.html

[2017-08-03 20:07] phet-steele commented on #128
Voila!

[2017-08-03 20:07] #128 closed

[2017-08-03 21:30] samreid commented on #127
@kathy-phet said look into it, but it may not warrant a significant or expensive fix.

[2017-08-03 21:40] samreid opened #129 "Investigate strobing"
@kathy-phet reported a strobe effect on her CPU-burdened laptop where the electrons appeared to move backwards.  @phet-steele can you test this?

[2017-08-03 21:44] samreid commented on #129
@kathy-phet suggested I could build a version with dynamic dt for her to compare.

[2017-08-03 21:45] phet-steele commented on #129
@kathy-phet @samreid I certainly need more info (or even a video/screenshot). Things like, was the circuit being dragged? What was the current? etc...

[2017-08-03 22:05] phet-steele commented on #129
@kathy-phet showed me in person. Simple battery + lightbulb with high current (and long wires), coupled with taxing the system, makes it happen for her.

[2017-08-03 22:16] arouinfar commented on #125
We discussed this issue during today's design meeting. A default resistivity of 10^-5 is reasonable, as is the thousandths place that appears in the meters when the magnitude is <.02.

The issue I raised in https://github.com/phetsims/circuit-construction-kit-dc/issues/125#issuecomment-319420027 is no longer relevant now that the resistivity has been increased.

@phet-steele can you verify this is

[2017-08-04 02:01] samreid commented on #127
I'm seeing electrons go backwards sometimes too.  If I add this code, charges will never slow down, they will only speed up:

[code]

It seems OK in brief testing, I'm not sure if we need to make it possible for charges to slow down.

[2017-08-04 02:04] samreid commented on #127
Part of the problem is that charges do not remember their position before being updated, so it is currently not possible to make sure they do not travel backwards.

[2017-08-04 02:12] samreid commented on #127
I made a change so that charges can only speed up from postprocessing equalization, and never slow down or reverse.  I published it here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.137/circuit-construction-kit-dc_en.html

@phet-steele and @arouinfar please let me know if that is a good solution, or if I need to reopen investigation on slowing down charges (

[2017-08-04 02:21] samreid commented on #129
I changed

[code]

to
[code]

which I thought would make it dynamic based on `dt` and still prevent strobing, but I saw electrons start to go backwards when the current was too high.

[2017-08-04 02:53] samreid commented on #129
It is difficult for me to reproduce this problem in Mac/Chrome and `makeEverythingSlow` doesn't seem to help.

[2017-08-04 02:57] kathy-phet commented on #129
@samreid - Can you publish a comparative dev version so I can see the A-B between the dt behavior in v28 and the dt behavior now? I saw some other behavior differences, and I want to see if it is tied to that code. Thx.

[2017-08-04 03:00] samreid commented on #129
This version (not committed) uses `maxSpeed * dt`:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.138/circuit-construction-kit-dc_en.html

[2017-08-04 03:49] kathy-phet commented on #129
They both show strobing.
Kathy

[2017-08-04 16:36] phet-steele commented on #127
- Why I've been told we won't be fixing the gap: It helps users track electrons and see that charge is conserved. Not going to change it.

- The backwards movement, however, is quite fixed @samreid, thanks! Fixed in the version linked directly above.

- One last thing that I don't think has been discussed: what about the electrons remaining bunched in fixed length components? Electrons don't appea

[2017-08-04 16:40] arouinfar commented on #127
@samreid I haven't been able to spot any backwards movement in dev.137. @phet-steele is correct, we didn't discuss current redistribution in fixed-length components, but I think it would be nice to treat all components the same. @samreid would it be possible/reasonable to redistribute the electrons in fixed-length components too?

[2017-08-04 16:42] samreid commented on #127
I believe the explanation for this is that the current strategy

* only equalizes electrons that are within a single component (it does not look beyond the edges of the component to determine what electrons are "nearby")
* only equalizes the position of electrons between other electrons (within that component),  so the leading electron in a battery won't have its speed adjusted.

We could investig

[2017-08-04 16:43] samreid commented on #127
They all use the same code but they exhibit different behavior because the wires can be much longer than the batteries and resistors, and hence there are more opportunities for electrons to be "between their neighbors in that circuit element".

[2017-08-04 16:56] samreid commented on #129
I'm unable to see strobing on dev.137 on my Mac or iPad2, even when I try to hinder performance.  @phet-steele can you replicate this problem so we can investigate further?

[2017-08-04 17:20] arouinfar commented on #127
Oh, that makes sense. Thanks for clarifying @samreid.

1. How much of a performance hit would this be? A few fps? Dealing with current directionality in the adjacent component also sounds (potentially) complicated.

2. This sounds a bit more straightforward (at least to a layman like me), so maybe spend a little time looking into this?

@samreid I'd recommend that you look into whichever option yo

[2017-08-04 18:46] samreid commented on #127
It could be an additional ~1% CPU and garbage generation during charge animation.

[2017-08-04 18:54] samreid commented on #127
The simplest implementation to address (2) seems like it could lead to speeding up and slowing down of electrons as they pass through series elements.

[2017-08-06 15:21] samreid commented on #127
This strategy seems correct, but none too efficient!

[code]

[2017-08-06 15:43] kathy-phet commented on #127
Maybe we should just stick with the original for v1.0 since there haven't been complaints.

Kathy

Sent from my iPhone

On Aug 6, 2017, at 9:21 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

This strategy seems correct, but none too efficient!

      // (1) choose 3 circuit elements.
      // * The one connected to the startVertex (but not charge.circuitElement) t

[2017-08-06 19:07] samreid commented on #127
I'm OK with that, let's see what else comes up in testing.  Another possibility may be to write an algorithm that finds the distance to the nearest electron in each direction, then use that to equalize the distances.  It may take 4 hours for initial implementation.

[2017-08-06 19:25] kathy-phet commented on #127
I'm a bit worried about unintended consequences from any other models. Right now the behavior is relatively easy to understand why it might show that type of representation given the limitations of showing each electron as a big ball and not wanting to change its speed ... e.g. Current is constant in any element. I think other implementations might be harder to rationalize why things are speeding

[2017-08-06 19:36] kathy-phet commented on #127
Obviously electrons not elections .... uggg autocorrect.

Sent from my iPhone

On Aug 6, 2017, at 1:25 PM, Kathy Perkins <katherine.perkins@Colorado.EDU<mailto:katherine.perkins@Colorado.EDU>> wrote:

I'm a bit worried about unintended consequences from any other models. Right now the behavior is relatively easy to understand why it might show that type of representation given the limitations of s

[2017-08-06 20:02] samreid commented on #127
Understood, unassigning for now.

[2017-08-08 19:00] phet-steele opened #130 "Uncaught TypeError: Cannot read property 'globalToParentPoint' of undefined"
@samreid this is a multitouch bug that involves a touchscreen, OR can be done with a mouse and keyboard (using the snazzy delete/backspace button functionality).

If touch:
1. While dragging a VERTEX (not the body of a component), press the Reset All button with another finger.

If mouse & keyboard:
1. Connect two components.
2. Click on the connection to bring up the scissors (don't click the but

[2017-08-08 19:01] phet-steele opened #131 "Dragging an object by a vertex doesn't place it in the carousel"
@samreid, dragging an object by its body and tossing it into the carousel works as intended. However, dragging an object by its vertex will not drop the object into the carousel. @arouinfar has confirmed that this is not desired behaviour. An object should dismiss in either case. Current rules about wires and "how far" an object is placed into the carousel in order to dismiss would still apply (ma

[2017-08-08 19:01] phet-steele opened #132 "Switch highlight is dynamic and can obscure the switch"
@samreid, the size of the switch's highlight is dependent on its open/closed state when switching between schematic/normal view.

1. In normal view, drag out an open switch.
2. Click it, the highlight box is of the "bigger" variant.

<img width="335" alt="screen shot 2017-08-08 at 12 16 10 pm" src="https://user-images.githubusercontent.com/5863899/29087509-6f4c204a-7c33-11e7-98f3-605887ea8461.png"

[2017-08-08 19:01] phet-steele opened #133 "Let's make it easy to flip a battery!"
@ariel-phet @arouinfar @kathy-phet @samreid Can we add a battery flip button? The Java sim had one of these and it was ***mighty*** convenient. No more having to delete a battery and get a new one! No more having to cut two ends and reconnect the opposite way! Now you can just select a battery and press the "flip" button! It would probably be best placed to the left of the voltage slider while edi

[2017-08-08 19:01] phet-steele opened #134 "Keep value text centered over a component"
@samreid, I spoke with @arouinfar and we think it would be nice to have values always centered over their component. This should also support dynamic changes of value width, so going from 9.5 V to 10.0 V (an extra character is added here) should stay centered around the same point. Can we see how this would look? Hopefully there aren't too many design challenges with this.

For phetsims/QA/issues/

[2017-08-08 19:01] phet-steele opened #135 "Increase the size of the switch's infinity symbol"
@samreid, I spoke with @arouinfar and we think it would be nice if the infinity symbol for the open switch value text was larger. There are two problems with the current implementation:

- The symbol is small and hard to see when the play area is zoomed out
- The difference in the text size between open/closed (closed displaying "0.0 Ω") causes a horizontal jump in the text (the vertical jump is u

[2017-08-08 19:01] phet-steele opened #136 "Can we layer the value text over highlights?"
@samreid @arouinfar I'd like to at least raise discussion about the possibility of layering the value text over a highlight box/circle. Currently, I think this looks bad:

<img width="276" alt="screen shot 2017-08-08 at 12 47 06 pm" src="https://user-images.githubusercontent.com/5863899/29088854-c72602be-7c37-11e7-8db4-f303c19edc15.png">

Here is a poor-man's mockup of a layer change:

<img width=

[2017-08-08 19:17] arouinfar commented on #136
Thanks for the mockups @phet-steele! Now that I see the value layered on top, I think it does indeed look nicer.

With the rectangle layered over the values, it's hard to see the voltage as it's being changed. (But one could argue that the user can get this information from the voltage slider's readout.)

@samreid if this is an easy change and won't wreak havoc on the layering simplifications you'

[2017-08-08 19:31] kathy-phet commented on #133
I like this suggestion!

[2017-08-08 19:56] arouinfar commented on #133
I also like this suggestion @phet-steele. I don't remember having a discussion about flipping the battery (just the bulb terminals), but this seems like a useful feature.

Any thoughts about the mockup in https://github.com/phetsims/circuit-construction-kit-common/issues/73#issuecomment-283505455 @ariel-phet @samreid @kathy-phet?

There's not a font awesome icon for flip/mirror/reflect, but the pr

[2017-08-08 20:06] arouinfar commented on #133
@phet-steele suggested sandwiching an iconic battery between the refresh arrows:
![image](https://user-images.githubusercontent.com/8419308/29092177-a1c765b6-7c42-11e7-82a4-b555b36c7e1f.png)

I think this would clearer than a generic reflect icon.

[2017-08-08 20:11] kathy-phet commented on #133
I like Steele's suggestion. It's basically a rotate icon. You can rotate 180 or flip ... so this would be cuing rotate 180 I think.

[2017-08-09 00:04] samreid commented on #133
Proposed implementation is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.139/circuit-construction-kit-dc_en.html

The panel now looks like this for batteries:
![image](https://user-images.githubusercontent.com/679486/29099523-260ba5b0-7c63-11e7-9c1a-0a4b45fc7754.png)

Design notes:
1. I originally tried a different icon for low voltage battery and high v

[2017-08-09 00:40] samreid commented on #130
Thanks @phet-steele, the proposed fix is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.140/circuit-construction-kit-dc_en.html

Can you please test it out?

[2017-08-09 01:28] samreid commented on #131
Proposed fix is http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.141/circuit-construction-kit-dc_en.html

@phet-steele can you please check it out?

[2017-08-09 02:31] samreid commented on #136
Values are in front of highlight starting in this version: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.142/circuit-construction-kit-dc_en.html

@phet-steele can you please check it?

[2017-08-09 02:47] samreid commented on #132
Proposed fix published to http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.143/circuit-construction-kit-dc_en.html

@phet-steele can you please test?

[2017-08-09 02:55] samreid commented on #134
The value text is centered on the components in this version:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.144/circuit-construction-kit-dc_en.html

@arouinfar and @phet-steele can you please review? Whichever version you prefer, please be specific about the pros and cons.

[2017-08-09 03:00] samreid commented on #135
@jonathanolson said RichText can change fonts within a single string.

It may fix the second problem (widths) to use "0 Ω" instead of "0.0 Ω".

I also asked @jonathanolson for his recommendations on this issue.

[2017-08-09 03:27] samreid commented on #135
The current setup has the following advantages:
1. It is internationalizable using the following string:

[code]

2. PhET-iO clients will be able to read this as a text value.
3. The implementation is straightforward

Regarding the original reports:

Most (all?) of the readouts are small and hard to see when the play area is zoomed out.  Why not increase the size for all of them?
![image](https://

[2017-08-09 06:11] arouinfar commented on #135
@samreid "0 Ω" instead of "0.0 Ω" sounds good to me.

[2017-08-09 06:14] arouinfar commented on #135
I think the infinity symbol looks disproportionately small, and increasing the size of other readouts would look too large at the regular zoom level.

[2017-08-09 06:19] arouinfar commented on #134
@samreid looks like there was a slight miscommunication. We wanted to keep the vertical offset, but center the label horizontally. Looks like you vertically centered the labels, but "10.0 Ω" and "9.0 Ω" labels are still have the same right alignment.
![image](https://user-images.githubusercontent.com/8419308/29107617-3ad47c80-7c98-11e7-9bdd-da0454f4d0eb.png)

[2017-08-09 13:07] samreid commented on #135
In the above commit, the switch should show `0 Ω`.

[2017-08-09 13:11] samreid commented on #135
I tried changing the font for the entire readout, including the ohms symbol.  Here is regular zoom:
![image](https://user-images.githubusercontent.com/679486/29123062-b222e98c-7cd1-11e7-8f3d-707b8b73e33c.png)

and here is zoomed out:
![image](https://user-images.githubusercontent.com/679486/29123076-bc93a49c-7cd1-11e7-9f84-ae029ade3e55.png)

@arouinfar do you think something like that might work?

[2017-08-09 13:12] samreid commented on #135
In the preceding change, the font is increased only for switches, and remains the same size for other components.

[2017-08-09 13:16] samreid commented on #134
This is from version dev.143:

![image](https://user-images.githubusercontent.com/679486/29123312-8b55585c-7cd2-11e7-81f2-5761388672ae.png)

It seems the request is to put the label centered north of the midpoint of the component rather than offset from the local "up" coordinate in the coordinate frame of the circuit element.   I will take a look.

[2017-08-09 13:18] samreid commented on #135
I decided to commit the change for increased Switch value font size, we can roll it back if we desire.

[2017-08-09 13:22] samreid commented on #135
On second thought, this does look kind of odd:

![image](https://user-images.githubusercontent.com/679486/29123550-5bf4ef4a-7cd3-11e7-962e-d16e2859cb46.png)

Maybe I should try RichText...

[2017-08-09 13:45] samreid commented on #135
This is RichText with Century Gothic and a font size bump for the infinity symbol for the switch and Arial for the other one:

![image](https://user-images.githubusercontent.com/679486/29124602-98e5a5d6-7cd6-11e7-8b72-75d0a33b359d.png)

[2017-08-09 13:54] samreid commented on #135
'Century Gothic' renders as century gothic, but 'Century Gothic, Arial' renders as arial.  @jonathanolson can you help?

[2017-08-09 13:55] arouinfar commented on #134
In dev.135 the labels look like this
![image](https://user-images.githubusercontent.com/8419308/29124844-4bc4bac0-7cd7-11e7-99cd-527e59d5a391.png)

The label on the "landscape" 9.5-ohm resistor isn't centered over the component, but the other labels look fine @samreid.

[2017-08-09 14:16] arouinfar commented on #133
Looks really good @samreid!!

In regards to points (1) and (2), I think it's actually preferable to use the same icon for the standard, high-V, and schematic batteries. Originally, I was thinking we could use an all-black iconic battery, perhaps in the style of the font awesome [battery-full icon](http://fontawesome.io/icon/battery-full/). Alternatively, I could modify the icon to be completely fi

[2017-08-09 14:18] samreid commented on #133
I think it's best to use the standard battery icon for consistency with the one that appears in the radio buttons (and not introduce a 3rd representation for battery)

It's pretty close!

[2017-08-09 14:31] samreid commented on #133
On the other hand, I'm somewhat concerned about the "gold on yellow" contrast problem:

![image](https://user-images.githubusercontent.com/679486/29127022-1ca14d5c-7cdd-11e7-9de5-4d087a4e4c1c.png)

[2017-08-09 14:34] samreid commented on #134
Proposed fix is http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.147/circuit-construction-kit-dc_en.html @arouinfar can you please test?

[2017-08-09 14:35] samreid commented on #135
Proposed fix is http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.147/circuit-construction-kit-dc_en.html @arouinfar can you please test?

[2017-08-09 15:00] arouinfar commented on #135
👍

[2017-08-09 15:02] arouinfar commented on #134
👍

[2017-08-09 15:04] arouinfar commented on #135
While the switch looks ok, I realized while verifying #134 that this was effecting all components (thought it was just the switch).

I think the thinner numbers are actually a bit harder to read...
![image](https://user-images.githubusercontent.com/8419308/29128667-b6820c96-7ce1-11e7-9ada-6e2790e6b4af.png)

[2017-08-09 15:06] arouinfar commented on #135
I think these numbers are Century Gothic @samreid. Maybe your browser was showing the fallback?

[2017-08-09 15:08] samreid commented on #135
Yep, it looks like @arouinfar is showing Century Gothic and my machine was showing some fallback.

[2017-08-09 15:12] arouinfar commented on #133
Here are some rough mockups using the font awesome battery icon
![image](https://user-images.githubusercontent.com/8419308/29129062-df1ddcce-7ce2-11e7-835f-09fde86452c1.png)

[2017-08-09 15:18] samreid commented on #133
Those would probably work.  Another possibility would be to change the button color:

![image](https://user-images.githubusercontent.com/679486/29129320-a31ae856-7ce3-11e7-9349-d48c33dad9ae.png)

Or possibly a lighter yellow?

[2017-08-09 15:31] samreid commented on #135
I went back to Arial, then selected bold serif for the infinity symbol: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.149/circuit-construction-kit-dc_en.html

@arouinfar and @phet-steele can you please test it out?

[2017-08-09 15:33] arouinfar commented on #135
Much better @samreid! @phet-steele can you also take a look?

[2017-08-09 16:31] phet-steele commented on #130
Fixed.

[2017-08-09 16:31] #130 closed

[2017-08-09 16:32] phet-steele commented on #131
Fixed.

[2017-08-09 16:32] #131 closed

[2017-08-09 16:35] phet-steele commented on #132
Fixed.

[2017-08-09 16:35] #132 closed

[2017-08-09 16:39] phet-steele commented on #136
Looks better, thanks guys!

[2017-08-09 16:40] phet-steele commented on #136
Actually, let's have @arouinfar take a look.

[2017-08-09 16:42] arouinfar commented on #136
:+1:

[2017-08-09 16:42] #136 closed

[2017-08-09 16:46] phet-steele commented on #134
@samreid sorry for the miscommunication! Looks like it was all sorted out. I'd to point out though, that the lightbulb value text is not initially centered when switching between schematic/normal. It takes some interaction to cause the text to update and recenter:

![cckdc14](https://user-images.githubusercontent.com/5863899/29133149-c4454c2c-7cef-11e7-9cf0-a76f41a0bbdc.gif)

This never happened i

[2017-08-09 16:55] phet-steele commented on #135
I like where this is at! Thanks for the suggestions and work, @arouinfar @samreid.

[2017-08-09 16:55] #135 closed

[2017-08-09 19:11] arouinfar commented on #127
After further discussion with @kathy-phet we've decided to leave things as-is. @samreid was able to address the backward-moving current carriers, which was the most problematic part of this issue. Closing as `wont-fix`.

[2017-08-09 19:11] #127 closed

[2017-08-09 19:32] arouinfar commented on #133
@samreid I worked on this a bit with @kathy-phet, and we thought this icon worked nicely
![image](https://user-images.githubusercontent.com/8419308/29140245-19926838-7d07-11e7-8181-aa7739a057f7.png)

If you don't have any objections/suggestions, I'll send you the asset.

[2017-08-09 19:34] samreid commented on #133
Let's go for it!

[2017-08-09 19:34] arouinfar commented on #133
Great! I'll cleanup the artwork and send you an icon for the battery.

[2017-08-09 19:40] arouinfar commented on #133
Sent! Back to you @samreid.

[2017-08-09 19:54] samreid commented on #133
The new icon is available here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.150/circuit-construction-kit-dc_en.html

@arouinfar can you please review?

[2017-08-09 19:56] arouinfar commented on #133
Love it! Thanks @samreid.

[2017-08-09 19:56] #133 closed

[2017-08-09 20:30] samreid commented on #134
In this version, the text position updates when changing between lifelike/schematic: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.151/circuit-construction-kit-dc_en.html

@phet-steele can you please test?

[2017-08-09 20:34] phet-steele commented on #134
It's beautiful!

[2017-08-09 20:34] #134 closed

[2017-08-11 19:43] phet-steele opened #137 "Bounds for sensors aren't checked on initial drag"
During the "draggingTogether" phase for sensor tools (the initial drag out from the sensor tool box), the bounds of the tool are determined by the center of the main body. In other words, dragging towards the edge of the screen causes you to lose certain probes.

These are recoverable by changing zoom, changing window size, placing them back in the tool box and taking them back out, or pressing Re

[2017-08-11 19:49] phet-steele opened #138 "Bounds are not checked when cutting connections"
@samreid, the little push that happens when pressing the cut button does not take into account the screen bounds. Maybe it should? You can cause components to be pushed off screen when cutting near the edges.

These are recoverable by changing zoom, changing window size, or pressing Reset All, but are otherwise lost forever.

This is at the top of my browser window.
![cckdc16](https://user-images.

[2017-08-12 00:55] samreid commented on #137
Proposed fix is http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.152/circuit-construction-kit-dc_en.html

@phet-steele can you please take a look?

[2017-08-12 02:34] samreid commented on #138
Proposed fix is http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.153/circuit-construction-kit-dc_en.html, @phet-steele can you please test?

[2017-08-14 15:59] phet-steele commented on #138
Magnificent!

[2017-08-14 15:59] #138 closed

[2017-08-14 16:02] phet-steele commented on #137
Extraordinary!

[2017-08-14 16:02] #137 closed

[2017-08-16 18:05] phet-steele opened #139 "Aliased resistor bands"
Similar in appearance to #111, the resistor bands are heavily aliased ***when rotated*** on an iPad 2 and Firefox.

![img_0101](https://user-images.githubusercontent.com/5863899/29378102-174e532e-827b-11e7-88b2-e35dde774187.PNG)

Seen on macOS 10.12.6 FF and iOS 9.3.5. For phetsims/QA/issues/33.

URL: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.153/circuit-c

[2017-08-16 18:33] samreid commented on #139
@jonathanolson I think these are rendered with `new Rectangle({renderer:'webgl'})`, can you please take a look?

[2017-08-17 19:47] arouinfar opened #140 "[iPad2] Laggy behavior when dragging components"
For https://github.com/phetsims/QA/issues/33.

I've noticed a pretty big lag when dragging components around the play area, even in uncomplicated situations. A few examples:

The top layer of the series ammeter becomes disjointed from the body. See [video](https://drive.google.com/a/colorado.edu/file/d/0BwZJWzOg9l4DMEdBYWdlb1ZyNVU/view?usp=sharing). To reproduce:
1. On startup, open Lab
2. Take se

[2017-08-18 00:48] arouinfar opened #141 "[iPad2] Safari sometimes refreshes tab"
For https://github.com/phetsims/QA/issues/33. Most likely this is a Safari issue, rather than a sim issue, but opening so @samreid and @jonathanolson can take a look. When it comes to iPad2 performance, I'm much more concerned with #140.

With dev.135 running in one tab, opening another sim in a 2nd Safari tab and then switching back to the CCK tab can cause the browser tab to refresh. Initially,

[2017-08-18 16:08] samreid opened #142 "Instrument for PhET-iO"
At yesterday's status meeting, @kathy-phet said it would be good to instrument CCK-DC for PhET-iO.  There is some residual instrumentation from Black Box Study, but much remains to be done.  She also recommended not to start on this until 1.0.0 is in a safe branch (so after code review and QA complete).

[2017-08-18 16:09] samreid commented on #142
As we have decided to do with Build an Atom in https://github.com/phetsims/build-an-atom/issues/156#issuecomment-322815323 it would be great to have a design meeting for this work before we begin.  Reassigning to @ariel-phet and @arouinfar to schedule a design meeting.

[2017-08-18 16:09] samreid commented on #142
Note the phet-io instrumentation may overlap with bonus features available in the App.

[2017-08-18 16:30] arouinfar commented on #142
Chatted with @samreid, and we've decided to schedule the CCK: DC PhET-iO meeting for 8/31. I've set a slackbot reminder to request that it's added to the 8/31 design meeting agenda.

[2017-08-18 17:10] samreid commented on #46
@kathy-phet we discussed publishing another "prototype" version once dev testing is complete: https://github.com/phetsims/circuit-construction-kit-dc/issues/50#issue-235580092

Dev testing is complete, and raised 15 issues, several of which are fixed or non-severe: https://github.com/phetsims/QA/issues/33

@kathy-phet how would you like to proceed with a second "prototype" version?

[2017-08-18 17:14] samreid commented on #46
Here's a dev version from after dev testing and before code review (in case upcoming code review destabilizes things):
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.154/circuit-construction-kit-dc_en.html

[2017-08-18 18:13] samreid commented on #139
Here's a note about detecting aa capabilities:
http://codeflow.org/entries/2013/feb/22/how-to-write-portable-webgl/#how-to-request-antialiasing

[2017-08-18 18:16] samreid commented on #139
@jonathanolson tried gl.SAMPLES on his chrome and got a result of `4`

[2017-08-18 18:22] samreid commented on #139
Looks nicely aliased in my MacOS FF 55.0.2
![image](https://user-images.githubusercontent.com/679486/29472094-c913c892-840f-11e7-90b8-1f9cd5fd14f5.png)

Perhaps the OP meant safari?

[2017-08-18 18:24] samreid commented on #139
Also beautiful in my Safari 10.1.2
![image](https://user-images.githubusercontent.com/679486/29472211-32f10888-8410-11e7-98a2-5834dcd3c60a.png)

[2017-08-18 18:26] samreid commented on #139
@jonathanolson ran gl.SAMPLES on iPad2 and got back a value of 0, which means that AA is not supported by WebGL on iPad2.

[2017-08-18 18:54] samreid commented on #139
We investigated supersampling by setting a backing scale of 2.0.  This makes the rectangles look beautiful, but it doubles the WebGL memory usage.  Will this crash the sim earlier, or exacerbate #141?  Possibly, or perhaps the graphics memory is separate from the JS heap memory and hence OK to go a bit higher.  The easiest thing to do would be to leave this aliased on platforms that don't support

[2017-08-18 19:02] samreid commented on #139
@arouinfar said it would be good to not introduce new memory issues.

@jonathanolson said there is a way to implement our own antialiasing for iPad2 that could take around 8 hours to implement.  @arouinfar said she wasn't sure that would be warranted.

@kathy-phet what do you recommend?

[2017-08-18 19:12] phet-steele commented on #139
@samreid @kathy-phet @arouinfar @jonathanolson It might be worth it to point out that there is significant aliasing on these components during rotation as well, so the custom AA would probably fix it all, right?:

- Eraser
![img_0110](https://user-images.githubusercontent.com/5863899/29473901-be7ef814-8416-11e7-802e-7d7b07dc101c.PNG)

- Paperclip
![img_0110](https://user-images.githubusercontent.c

[2017-08-18 19:15] arouinfar commented on #139
If this is correct, then I'm more inclined to say custom AA is worth the time expenditure. Still think it would be good for @kathy-phet to take a look.

[2017-08-18 19:34] samreid commented on #139
The strategy @jonathanolson indicated in https://github.com/phetsims/circuit-construction-kit-dc/issues/139#issuecomment-323435771 would only work for rectangles and drawn shapes, not for images.  We may wish to investigate the 2x backing scale and try to solve the memory issues.

[2017-08-18 19:58] samreid commented on #139
@jonathanolson committed the 2x backing scale above.

[2017-08-18 19:59] samreid commented on #139
Here's a dev version for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.155/circuit-construction-kit-dc_en.html

@phet-steele and @arouinfar can you take a look?

[2017-08-18 20:11] samreid commented on #140
@jonathanolson and I decided to look into pooling charges in ChargeLayout, that may help the most.

[2017-08-18 20:25] samreid commented on #141
@jonathanolson and I discovered this is a widespread problem, there are many sites dedicated to discussing this problem.  We also ran the following test on iPad2: load disneyland's homepage on one tab and disneyworld's homepage on the other tab, then tab to disneyland and back to disneyworld.  When we did this, disneyworld reloaded itself.  So the problem is not isolated to PhET sims, and even wou

[2017-08-18 21:05] phet-steele commented on #139
@samreid I do not think this makes performance any better or worse. The components do look crisper though! It may just be my imagination, but maybe:

- Components take a little longer to grab out of the carousel (not alarmingly longer)
- The sim takes ~2 extra seconds to load

[2017-08-18 23:08] kathy-phet commented on #141
Thanks for looking into this. I don't think we should pursue saving the state, since that seems tantamount to adding PhET-iO to the sim ... at least in my naive understanding.

[2017-08-19 00:11] samreid commented on #141
I think it would be best to publish CCK-DC 1.0.0 without addressing this problem, but one day we may wish to investigate state save/load to address this issue in general.  The straightforward way to add state saving would be to use the PhET-iO implementation.  But we could also implement a separate save implementation, or find a way to separate the save/load part from PhET-iO, but still have PhET-

[2017-08-19 01:18] samreid commented on #139
iPad2 on local wifi refreshing dev.155 (in seconds)
10.28
10.74
8.85

dev.154 (aliased)
12.40
9.18
10.27

There is some variability, but dev.155 doesn't seem significantly worse, closing.

[2017-08-19 01:18] #139 closed

[2017-08-19 01:55] jonathanolson commented on #141
Created https://github.com/phetsims/joist/issues/437 for the general issue, and I have a proposed solution for the general case (if a sim is able to save and load its state).

@samreid, would save/load of state be realistic for this simulation (to solve this problem)? Otherwise, I don't see a way to fix it, since low-memory tabs get reloaded also.

[2017-08-19 04:24] kathy-phet commented on #141
Thx, Sam. I agree with publishing 1.0.0 without addressing this issue.

It's not a priority to do save/load right now outside of offering it to PhET-iO clients/app when we get to that.

Sent from my iPhone

On Aug 18, 2017, at 6:11 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for looking into this. I don't think we should pursue saving the state, since th

[2017-08-19 14:43] samreid commented on #141
OK thanks, let's close this issue, then we can reopen it if/when we decide to work on https://github.com/phetsims/joist/issues/437

[2017-08-19 14:43] #141 closed

[2017-08-20 22:36] samreid commented on #140
The videos reveal an implementation detail that circuit elements, solder, charges, vertices are rendered in WebGL whereas light bulb brightness rays, ammeter readouts, sensors, highlights, values and cut buttons are rendered in SVG. The main reason for this is that our scenery WebGL support can render images and solid, unstroked rectangles but not text or other shapes.

@jonathanolson also pointed

[2017-08-20 22:43] samreid opened #143 "pool charges in ChargeLayout"
From https://github.com/phetsims/circuit-construction-kit-dc/issues/140 we may be able to get a performance boost by pooling charges in the layout.  I'd like to check if that's possible/easy.

[2017-08-20 23:05] samreid commented on #143
Fixed in preceding commit, and dragging one vertex of a wire is significantly faster on iPad2 now.  This will need to be tested in case it introduced any new issues.  Specifically, testing anything that could cause the creation or relayout of charges--dragging out a component, resizing a component, etc.  @phet-steele and/or @arouinfar can you please test http://www.colorado.edu/physics/phet/dev/ht

[2017-08-20 23:06] samreid commented on #140
Addressing https://github.com/phetsims/circuit-construction-kit-dc/issues/143 may help in some of the circumstances and with general performance when charges are layed out, but as I described in the preceding comment, it won't help with the SVG lagging behind the WebGL.

[2017-08-20 23:07] samreid commented on #143
Hold everything, I'm seeing assertion errors when cutting a vertex...

[2017-08-20 23:09] samreid opened #144 "Assertion failed: tried to removeListener on something that wasnt a listener"
Discovered during testing in https://github.com/phetsims/circuit-construction-kit-dc/issues/143

I was cutting a vertex and saw:
[code]

[2017-08-20 23:09] samreid commented on #143
Well, that problem seems unrelated, so I'll pursue it in another issue.  This version can still be tested (assertions removed in build).

[2017-08-20 23:25] samreid commented on #144
This is not happening every time--not as simple as cutting any junction.

[2017-08-20 23:27] samreid commented on #144
Hmmm.. Bayes hasn't been too bothered by it:

![image](https://user-images.githubusercontent.com/679486/29499372-c13d7b0e-85cc-11e7-93fa-4bc4c96fda0b.png)

[2017-08-20 23:28] samreid commented on #144
Oops, I just remembered Bayes is not on the branch.

[2017-08-20 23:28] samreid commented on #144
On the other hand, fuzzing has gone for a few minutes without any trouble.

[2017-08-21 20:21] phet-steele commented on #143
@samreid looks good to me!

[2017-08-21 21:01] arouinfar commented on #143
Thanks @phet-steele. Looks good to me too.

[2017-08-21 21:01] #143 closed

[2017-08-21 22:56] samreid commented on #144
The fuzzer and I are having trouble reproducing this problem, closing for now.

[2017-08-21 23:00] samreid commented on #144
Now I'm hitting this problem from reset:

[code]

[2017-08-21 23:12] samreid commented on #144
I cannot figure out where the listeners are getting removed from, perhaps vertex disposal is somehow happening before circuit element disposal?  But it's very difficult to reproduce the problem so I'm going to use a custom guard for now.  Custom guard has been fuzzing for a while with no issue.

[2017-08-21 23:12] #144 closed

[2017-08-22 15:59] phet-steele commented on #125
I did verify this a bit ago...besides, the test in https://github.com/phetsims/circuit-construction-kit-dc/issues/125#issuecomment-319780842 is as good as any! 😄

[2017-08-22 15:59] #125 closed

[2017-08-22 17:06] samreid commented on #62
We'll need to test crashiness again after increasing the WebGL backing scale, see https://github.com/phetsims/circuit-construction-kit-dc/issues/139

[2017-08-24 16:29] samreid commented on #46
@kathy-phet said if it is only an hour or so to publish over the prototype, then go for it.  Then let @oliver-phet and @kathy-phet know and they can decide if they want to email/etc.

I volunteered to do this sometime in the coming week.

[2017-08-24 18:40] oliver-phet opened #145 "Google form user suggestion: add ohmmeter"

[2017-08-24 19:07] oliver-phet commented on #145
Assigning to @amyh-phet to decide if this is worth pursuing.

[2017-08-24 20:39] arouinfar commented on #145
Sounds like the user may want to measure the effective resistance of a few resistors in series. Like so:

![image](https://user-images.githubusercontent.com/8419308/29685692-6ac998a2-88d3-11e7-8d51-da6c5cb2e9bd.png)

By measuring V and I in a circuit, the user could use Ohm's Law (or build equivalent circuits) to discover that the effective R = R1+R2
![image](https://user-images.githubusercontent.

[2017-08-24 20:40] #145 closed

[2017-08-24 21:02] oliver-phet commented on #145
Email to user sent.

[2017-08-25 16:34] samreid commented on #116
http://localhost/circuit-construction-kit-dc/circuit-construction-kit-dc_en.html?brand=phet&ea&fuzzMouse
10:28am: 64.9MB
10:34am: 62.4MB

[2017-08-25 17:14] samreid commented on #46
Here's the last place we published the prototype, see https://github.com/phetsims/circuit-construction-kit-dc/issues/6

[2017-08-25 17:29] samreid commented on #46
Proposed version is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.157/circuit-construction-kit-dc_en.html

I tested a few minutes in firefox and chrome and didn't see any obvious defects yet.

[2017-08-25 17:33] samreid commented on #46
I followed the script in #6 and published dev.157 as the prototype, and it is now available from the PhET website, see http://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html

[2017-08-25 17:36] samreid commented on #46
I emailed @kathy-phet and @oliver-phet

Full details in https://github.com/phetsims/circuit-construction-kit-dc/issues/46

The new prototype (dev.157) replaced the old prototype (dev.5) at the same address:
http://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html

Would you like to notify any users or social media about the change?

Best Regards,
Sa

[2017-08-28 15:21] samreid opened #146 "No event for editing a circuit element/vertex"
From https://github.com/phetsims/phet-io/issues/807

When clicking on a circuit element, the only thing that remotely signifies that this has happened is this event (number 332):
<img width="555" alt="screen shot 2016-11-03 at 12 05 26 pm" src="https://cloud.githubusercontent.com/assets/5863899/19978886/1d00c854-a1be-11e6-9b88-ce260e3ce096.png">

But this is not truly representative of editing a c

[2017-08-31 06:01] jonathanolson opened #147 "Assertion failure while attempting to disconnect light bulb in weird pattern"
![cck-bug-1](https://user-images.githubusercontent.com/480878/29908465-bdb63790-8dde-11e7-80c5-497991f7eff2.PNG)

[2017-08-31 18:45] samreid opened #148 "Light bulb not catching on fire"
Is it supposed to?

[2017-08-31 18:48] samreid commented on #148
@arouinfar do you recall?

[2017-08-31 18:53] arouinfar commented on #148
@samreid we discussed this a bit in https://github.com/phetsims/circuit-construction-kit-common/issues/72, and decided against having the light bulb catch fire.

@ariel-phet commented:

[2017-08-31 18:55] samreid commented on #148
But is that statement only for a 0-resistance light bulb?

[2017-08-31 18:58] arouinfar commented on #148
Possibly... but it was in response to your comment asking if lightbulbs should catch fire.

The current behavior matches Java, and personally, I think a fiery bulb looks really strange. In interviews, students interpreted the fire just fine, so I'm not inclined to change it.

[2017-08-31 19:24] samreid commented on #148
OK thanks!  I'll finish removing the light bulb fire code.

[2017-09-01 17:22] samreid commented on #148
Removed light bulb fire code, closing.

[2017-09-01 17:22] #148 closed

[2017-09-01 17:35] samreid commented on #147
Not sure how how to reproduce this problem, can you provide steps?

[2017-09-05 18:38] samreid commented on #116
Built version:

12:15pm 49.5MB
12:17pm 54.7MB
12:20pm 64.8MB
12:23pm 67.2MB
12:25pm 72.0MB
12:30pm 73.6MB
12:35pm 83.4MB

[2017-09-05 19:31] samreid commented on #46
@ariel-phet are you working on this too?

[2017-09-05 20:21] samreid opened #149 "Improve touch areas"
@jonathanolson noted some deficiencies in the touch areas that would be good to improve upon:

- [x] labels and values checkboxes, should the touch/mouse area extend to the right?  @jonathanolson points out that there may be no principled way to do this and it may warrant a larger issue in sun or scenery.
- [x] voltmeter icon touch area should span the bounds.
- [x] ammeter icon touch area should

[2017-09-05 21:50] ariel-phet commented on #46
@samreid I already made some social media posts.

[2017-09-05 21:52] samreid commented on #46
Thanks, closing.

[2017-09-05 21:52] #46 closed

[2017-09-05 22:13] jonathanolson commented on #116
I was testing a built version (and turning off fuzzing and doing reset-all on both screens) and it seemed stable after about an hour, generally between 46MB and 52MB (slight variation each time).

[2017-09-06 15:33] samreid commented on #149
I updated the touch areas in the preceding commits, @jonathanolson would you please review?

[2017-09-06 18:11] jonathanolson commented on #149
Looks good, thanks!

[2017-09-06 18:11] #149 closed

[2017-09-07 00:00] jonathanolson commented on #147
Can't reproduce now, closing (presumably things would come up in testing if it's a problem).

[2017-09-07 00:00] #147 closed

[2017-09-07 00:30] jonathanolson commented on #140
If that's the only constraint (also paths), I'd like to investigate moving some more things to render in WebGL.

Otherwise I'd consider it better to leave as-is now.

@samreid thoughts?

[2017-09-07 03:04] samreid commented on #140
@arouinfar adding text and paths to WebGL will be the best way to get excellent performance and lag-free rendering, however, it will take weeks or months to develop it, and we may run into issues regarding internationalization.  My recommendation is to accept the laggy behavior for now and plan for text + paths WebGL for 1.1+

Can you please review everything in this issue and let me know your rec

[2017-09-07 03:17] samreid commented on #140
Elevating priority since this is the only issue remaining before next dev test.

[2017-09-07 03:18] samreid commented on #140
And adding @ariel-phet to get his feedback as well.

[2017-09-07 16:58] arouinfar commented on #140
Thanks for the investigation @jonathanolson @samreid.

Given the time estimate, I'd be okay with leaving things as-is for 1.0. Rendering text in WebGL sounds tricky for i18n, so we may want to discuss if we truly want to go down that route for 1.1+.

 I think it would be good for @ariel-phet to take a look on his iPad2 to confirm that the performance is indeed acceptable for 1.0.

[2017-09-07 16:59] samreid commented on #140
@ariel-phet reviewed the behavior with WebGL on iPad2 and determined that it is too laggy and needs to be addressed.  We next checked performance & behavior with webgl=false on iPad2 and determined it looks good: fast enough and no laggy behavior between svg and webgl.  He recommended to put iPad2 as webgl=false for the upcoming dev test.  We could check user agent or perhaps pixel ratio to see if

[2017-09-07 17:00] arouinfar commented on #140
Sounds good to me @samreid!

[2017-09-07 17:16] samreid commented on #140
@jonathanolson pointed out the lag may be due to iOS Safari 9 more than it relates to the hardware.  So we can use that to identify the svg platforms.

[2017-09-07 17:23] samreid commented on #140
Committed changes that check for mobile safari 9 and ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.159/circuit-construction-kit-dc_en.html

[2017-09-07 17:51] samreid commented on #140
We reviewed performance on iPad Air 2 and it is great with webgl=false.  With webgl, there is an inverse lag where the SVG goes in front of the WebGL.  @jonathanolson you might want to know about this, since it is the opposite of what we've seen previously.

[2017-09-07 17:56] samreid commented on #140
We also checked an LG Android phone.  The WebGL was 60fps-ish but with a 50ms lag.  Webgl=false had less or no lag but ran at <30fps.

In my opinion our lives will be simpler if we can isolate to use one renderer.

After discussion with @ariel-phet we decided we want to dev test with webgl=false and have QA team keep eyes peeled for performance issues (including but not limited to firefox).

[2017-09-07 18:45] samreid commented on #140
SVG version is published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.160/circuit-construction-kit-dc_en.html

[2017-09-07 18:45] samreid commented on #140
I'll close this issue, and when creating dev/rc test issues I'll ask to check performance.

[2017-09-07 18:45] #140 closed

[2017-09-07 18:49] samreid commented on #50
I published http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.160/circuit-construction-kit-dc_en.html and will test it on a few browsers before giving to the QA team.

[2017-09-08 17:43] phet-steele opened #150 "Some images have shifted"
Did they get shifted on purpose? The first version where these are moved is dev.158. I only see this on the hand and dog.

1.0.0-dev.160:
<img width="414" alt="screen shot 2017-09-08 at 11 31 27 am" src="https://user-images.githubusercontent.com/5863899/30223833-b1bb17f6-9489-11e7-98c7-46dcb7f115ac.png">

1.0.0-dev.157 (presumably correct):
<img width="390" alt="screen shot 2017-09-08 at 11 34 26

[2017-09-08 17:55] samreid commented on #150
Thanks @phet-steele, dev.157 is correct, I'll see what's happened here.

[2017-09-08 18:14] phet-steele opened #151 "Schematic mode touch areas need work"
Testing in 1.0.0-dev.160 with pointer areas enabled. @samreid READ THIS: none of these issues are present when not in schematic mode except for the last one.

- [ ] Some pointer areas aren't centered. Most notably the wire (compare it to the battery below) but also a few other components. This maybe isn't a huge deal.
<img width="155" alt="screen shot 2017-09-08 at 11 54 52 am" src="https://user-i

[2017-09-08 19:05] samreid commented on #150
Fixed in preceding commit, @phet-steele would you like a new version?

[2017-09-08 19:08] samreid commented on #151
You can simulate touch from the comfort of your own Chrome by pressing the devices button in the dev tools:

![image](https://user-images.githubusercontent.com/679486/30227376-bd643bfc-9496-11e7-97e8-e0c7cad67431.png)

[2017-09-08 19:35] samreid commented on #151
https://github.com/phetsims/circuit-construction-kit-common/commit/826a8690201a6ec120bc2fd825888ee11cc92e99 updates touch/mouse areas when lifelike/schematic changes.  I'll see which boxes that checks off.

[2017-09-08 19:38] samreid commented on #151
- [ ] Centering is better, but not perfect:
![image](https://user-images.githubusercontent.com/679486/30228385-b0ea8d32-949a-11e7-8c24-be9ddfb8700e.png)

[2017-09-08 19:50] samreid commented on #151
That is normal and doesn't cause problems because those objects are occluded by a clip area:
![image](https://user-images.githubusercontent.com/679486/30228813-9a329858-949c-11e7-9b4f-7c2a63912014.png)

[2017-09-08 20:00] samreid commented on #151
After the above commits, I got everything except the centering (which wasn't too bad to begin with, and even got better after the 1st commit.  Not obvious where to look to improve the centering further, but I'm not too worried about it.

@phet-steele would you like a new version?

[2017-09-08 21:34] samreid commented on #151
It looks like the centering issue is caused by the lifelike/schematic pages having different widths and carousel not updating its layout when the icons change.

[2017-09-08 22:59] lmulhall-phet opened #152 "Voltage text box moves when zoom in/out"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6

**Browser:**

Safari 10.1.2

**Problem description:**

While testing the CCK DC, I noticed that the text box for the voltage on a battery can move when one zooms in if the circuit is large, the battery has been flipped upside down and is on fire. This is for phetsims/QA/issues/48.

**Steps to reproduc

[2017-09-08 23:40] BryceAG commented on #96
This crept up again in phetsims/QA#48. Also odd is how the arrows point in opposite directions randomly, and occasionally there is a blank spot across a component.

Here is an image that shows odd arrow directions and blank spots for an incomplete circuit:
![circuit construction kit- dc screenshot 1](https://user-images.githubusercontent.com/15327201/30234651-8a5564d6-94bc-11e7-9987-e5c8708b3444.p

[2017-09-08 23:52] BryceAG commented on #96
Seems to (still?) be windows 10 chrome specific

[2017-09-09 00:01] BryceAG opened #153 "components are only visible on bottom left part of screen for Edge"
related to phetsims/QA#48.

Test device:
Hanson
Operating System:
Windows 10
Browser:
Edge
Problem description:
The components are not visible until dragged to a portion of the screen in the lower left. Taking a screenshot using the phet menu shows everything as normal, but it doesn't show up on screen that way. The voltmeter and first ammeter show up, but only the text box of the 2nd ammeter show

[2017-09-09 00:41] samreid commented on #152
@lmulhall-phet did you see the "schematic" radio button flickering?  Should that be a separate issue?

[2017-09-09 00:52] phet-steele commented on #152
@samreid that's just a side-effect of the screen-recording app being used. The sim was never actually flickering, only the .gif file flickers.

[2017-09-09 15:40] samreid commented on #152
Co-assigned to @arouinfar and @ariel-phet to help gauge priority for 1.0.

[2017-09-10 16:00] samreid commented on #96
Possible solutions:
1. increase the threshold at which current is rendered and animated.  The threshold right now is `1E-6` amps.  This would be the easiest solution to implement.
2. Add an explicit rule that incomplete loops will have current of 0.0.  This would not address loops with voltage supplies adding up to zero.  We would either have to add a separate algorithm to detect that case, or suf

[2017-09-11 15:17] ariel-phet commented on #152
@lmulhall-phet nice find! That is some @phet-steele level work

@samreid this is definitely an edge case, no need to investigate for 1.0 . Marking as deferred.

[2017-09-11 15:22] ariel-phet commented on #96
@phet-steele @BryceAG can you show a "minimum reproducible case"? Does it need this many batteries and such? Do you see this with just 2 or 3 batteries?

[2017-09-11 15:25] ariel-phet opened #154 "Electrons icon seems large"
In the control panel the electrons icon seems large. The icon is larger than the default size of electrons in the sim. I would consider reducing the icon to at least match the default electron size.

![electrons](https://user-images.githubusercontent.com/4051174/30282628-0e904d16-96d3-11e7-9f5e-b63b55fdcaa1.PNG)

[2017-09-11 15:31] arouinfar commented on #154
Great idea @ariel-phet. It does seem a bit too large now. @samreid can you update the icon to match the new electron size?

[2017-09-11 15:32] lmulhall-phet commented on #152
@ariel-phet I found the issue while messing around with a huge, complex circuit, but @phet-steele was able to reproduce the issue with a simple circuit.

[2017-09-11 16:07] phet-steele commented on #96
I reproduced on macOS 10.12.6 Chrome, so not windows specific.

@ariel-phet you only need 1 high-voltage battery that is at **_max voltage_**. Yo do not need an ammeter. Connect a wire to each end of the battery and a dog to one of the wires as shown below. You will likely have to make the wires short to see the issue; the arrows show up to a varying degree based on the wire length in the "circuit

[2017-09-11 16:16] phet-steele commented on #151
No need.

@samreid master looked great. Up to you to pursue the centering. I didn't think it was critical either and it is much improved on master. You can close if you do not desire to improve it further.

[2017-09-11 16:19] phet-steele commented on #150
Nope!

Fixed in master.

[2017-09-11 16:19] #150 closed

[2017-09-11 16:42] brroberts1231 commented on #96
Also reproduced on iPad iOS 9.3.5 (Bjork), so not specific to chrome either.

[2017-09-11 16:54] BryceAG commented on #96
Able to reproduce on iPad 9.3.5 and 10.3.3 and windows 10 chrome with just one high voltage battery and one wire. Minumum required voltage of battery found was 11500 V, but needed a very short wire.

[2017-09-11 17:36] ariel-phet commented on #96
@samreid can you help me understand what you think is going on here?

[2017-09-11 17:47] samreid commented on #151
Thanks for the review.  The centering seems acceptable, let's close.

[2017-09-11 17:47] #151 closed

[2017-09-11 17:59] samreid commented on #96
Modified nodal analysis works by setting up an equation Ax=z and solving for x (which contains unknown currents and voltages).  A and z come from the characteristics of the circuit.  You can see the matrices if you use this query parameter: `?debugModifiedNodalAnalysis`.  For the case of a high voltage battery plus one attached wire, we have:

[code]

Our matrix solver gives this result for x:

[c

[2017-09-11 18:02] samreid commented on #96
When I tried plugging those matrices into http://www.bluebit.gr/matrix-calculator/solve.aspx it gave the more accurate solution:
[code]

I'm not sure what algorithm they are using or we are using.

[2017-09-11 18:04] samreid commented on #96
It looks like for non-square matrices, dot is using QR decomposition to solve for x.

[2017-09-11 18:08] samreid commented on #96
I asked @jonathanolson if he can take a look, since it would be great if we can solve this on the linear algebra side.

[2017-09-11 18:41] samreid commented on #96
@jonathanolson discussed a bit and would like to discuss more. We aren't sure if there is another algorithm that will deal with this case well or not, but @jonathanolson recommended increasing the threshold for now to see if that's sufficient.

[2017-09-11 22:05] samreid commented on #96
Turning up the wire resistance also alleviates this problem (if the wire is long enough).

[2017-09-11 22:16] samreid commented on #96
Crazy hack idea: any unconnected vertices could get attached to an infinitely resistive synthetic wire?

[2017-09-11 23:40] samreid commented on #96
I tried connecting a synthetic vertex to each battery and it did not seem to help.  @jonathanolson recommended looking into 3rd party matrix solvers that may have better behavior for ill conditioned matrices (still using QR algorithm probably)

I tried changing the conventional current visibility from 1E-6 Amps to 1E-3 Amps and changing the current animation threshold from 1E-10 Amps to 1E-3 Amps

[2017-09-11 23:57] samreid commented on #96
I brought both thresholds to 1E-3 in the preceding commit. Worst case scenario is if someone can create a circuit that has numerical instability that puts one part of the circuit >1E-3 and another part at <1E-3 then the current will bunch up.  I tried for a few minutes to create such a case but could not do so.  So I think this solution is ready for @phet-steele @BryceAG and @brroberts1231 to revi

[2017-09-12 00:28] samreid commented on #153
@jonathanolson any idea what is happening here?  The renderer should be SVG only (no webgl in this version).  Do we sometimes put `canvas` as the renderer for Edge?

[2017-09-12 03:03] samreid commented on #154
Fixed in the preceding commit and available for review in master on phettest, or let me know if you'd like to see a new dev version.

[2017-09-12 03:04] samreid commented on #154
Also, here's a pic after the change with an adjacent battery + electrons for scale:
![image](https://user-images.githubusercontent.com/679486/30306344-d0cb976c-9734-11e7-8b71-1bff74002482.png)

[2017-09-12 04:57] jonathanolson commented on #153
The default in Joist is always Canvas for Edge. Is this being overridden to specify SVG (probably not recommended, due to potential for text bugs in the menu and other places)?

That shouldn't cause rendering issues normally though, I'll look into it.

[2017-09-12 04:58] jonathanolson commented on #153
Can reproduce with rootRenderer=canvas.

[2017-09-12 05:00] jonathanolson commented on #153
Looks like an SVG element is still being created. There's a root-level `<svg>` whose bounds are what is being clipped, so it should be related to that.

[2017-09-12 05:02] jonathanolson commented on #153
rootRenderer=canvas&showFittedBlockBounds is showing:

![cck-bounds](https://user-images.githubusercontent.com/480878/30308847-33a696ec-9745-11e7-9b01-7d180fc4b5b1.PNG)

[2017-09-12 05:21] jonathanolson commented on #153
That was the SVG for the overlay, so red herring.

[2017-09-12 15:15] samreid commented on #153
Putting edge's rootRenderer as `svg` instead of canvas in Sim.js fixes the problem, but then there are text issues:

![image](https://user-images.githubusercontent.com/679486/30333734-e9d1bd84-979a-11e7-8712-b78fb5bd12e5.png)

[2017-09-12 15:24] samreid commented on #153
Putting renderer 'webgl' in CircuitLayerNode.js and leaving canvas for the text appears to fix the problem.

[2017-09-12 15:40] ariel-phet commented on #154
Looks good. Closing

[2017-09-12 15:40] #154 closed

[2017-09-12 15:43] jonathanolson commented on #153
Understood, but it is indicative of a Scenery bug in general that I'd like to get fixed, and we'll want Canvas for Edge on the text.

[2017-09-12 17:24] jonathanolson commented on #153
Fixed in Scenery, @samreid can you verify?

[2017-09-12 17:26] samreid commented on #153
I pulled and tested in my virtualbox edge, it seems good, thanks!

[2017-09-12 17:27] samreid commented on #153
@BryceAG can you confirm this on phettest?

[2017-09-13 16:09] oliver-phet opened #155 "User suggestion: pluggable ammeter"

[2017-09-13 16:15] ariel-phet commented on #155
@oliver-phet can you tell the user to simply look at the "lab" screen. That screen includes an in line (pluggable) ammeter

[2017-09-13 16:15] oliver-phet commented on #155
Will do. Closing.

[2017-09-13 16:15] #155 closed

[2017-09-13 16:29] brroberts1231 commented on #96
I kept playing around with this and it looks like it is at least fixed for open circuits. However, I still found ways of creating a circuit with some parts at 1E-3 A, and some <1E-3 A. Putting the dog, the eraser, and the dollar bill in parallel, with the 4 batteries at max voltage creates 1E-3 A through the batteries, which would be divided by 3 for the currents going through each object, making

[2017-09-13 16:37] brroberts1231 commented on #96
Playing around with the voltages and wire lengths in the above circuit, and also looking at a circuit with the hand, which has lower resistance, I was able to create these two cases where current is not the same on both sides of a loop. Wire resistivity is set to tiny in all 3 of these cases.
![cck dc screenshot 2](https://user-images.githubusercontent.com/11947677/30389090-2a730224-986f-11e7-8b8e

[2017-09-13 17:11] BryceAG commented on #153
This is still an issue on Hanson through phettest.

[2017-09-13 17:49] BryceAG commented on #153
scratch that, scenery wasn't pulled, It is fixed!

[2017-09-13 17:49] #153 closed

[2017-09-13 18:28] samreid commented on #96
@ariel-phet and @arouinfar can you please review the problem and make a recommendation how to proceed?

[2017-09-13 18:47] ariel-phet commented on #96
@samreid you found a matrix solver that gives the accurate solution, since that seems to be the culprit I would really like to solve this on the linear algebra side. I worry that fiddling with thresholds and hacky solutions are likely to introduce other potential edge cases.

I suggest trying a few 3rd party solvers to see if you can find one that gives better results as @jonathanolson had suggest

[2017-09-13 18:53] ariel-phet commented on #96
@samreid according to wikipedia:

Perhaps we are using Gram-Schmidt?

Perhaps we should see if there is a 3rd party solver using one of the other listed algorithms

1. Househoulder reflections

2. Givens rotations

[2017-09-13 18:59] ariel-phet commented on #96
This appears to have an MIT license for instance:

https://github.com/scijs/ndarray-householder-qr-complex

[2017-09-13 20:22] samreid commented on #96
@zepumph and I investigated numeric-1.2.6.js and discovered it only supports square matrices.  We tried to use lalolib which describes itself as solving nonsquare matrices.  We used this code:

[code]

[code]

And it gave us near zeroes instead of the correct answers.

[2017-09-13 21:31] samreid commented on #96
@jonathanolson said since this is an anaytical exact solution and not an approximation, the matrix should be square.  I found that a redundant equation was being incorporated because in getEquations it has this rule:

[code]

Imagine that there is one wire with node 0 and node 1. Then current conservation at node 0 would be I_01 = -I_10.  At node 1 there would be another equation I_10=-I_01.  Thes

[2017-09-13 21:34] samreid commented on #96
I also put on fuzzMouse and didn't find any nonsquare matrices after about a minute.

[2017-09-13 21:44] samreid commented on #96
The solution for https://github.com/phetsims/circuit-construction-kit-dc/issues/96#issuecomment-328608932 without the redundant equation:

[code]

It seems I should relax the thresholds and send this back to QA.

[2017-09-13 21:48] samreid commented on #96
Restored thresholds in the aforementioned commit.  This code also has a new assertion that the number of equations matches the number of unknowns, so you may run into new assertion errors in corner cases (though fuzzing hasn't found any yet).  @BryceAG and @phet-steele can you please test this new implementation?

[2017-09-13 22:09] jonathanolson commented on #96
My checks yesterday showed that our ported JAMA code uses Householder reflections for QR.

[2017-09-14 16:53] oliver-phet opened #156 "User reported issue: freezing"
![image](https://user-images.githubusercontent.com/5090275/30442836-e5ba93a0-993a-11e7-9f3f-a6e639893e6c.png)

Troubleshooting information (do not edit):
Name: ‪Circuit Construction Kit: Prototype
URL: https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html
Version: 1.0.0-dev.157 2017-08-25 17:25:34 UTC
Features missing: touch, fullscreen
Flags: p

[2017-09-14 17:02] oliver-phet commented on #156
A second report of this issue:

Test device:              HP Probook intel i5-4200M

Operating System:   Windows 10 Education version 1703

Browser:                   Internet Explorer 11, version 11.540.15063.0

Problem description: Program freezes after 2-3 components are added into a circuit. After a while, all the changes I have make while the window is “frozen” suddenly appears.

Steps to rep

[2017-09-15 16:39] brroberts1231 commented on #96
@samreid
This appears better, but it's still possible to create situations where there is current shown going into something but no current coming out. Moving the dollar bill around will sometimes show current coming out of the left side, but sometimes shows this.
![cckdc1](https://user-images.githubusercontent.com/11947677/30493577-d19ff0aa-9a01-11e7-8be9-aea8eece159a.PNG)

[2017-09-15 16:52] BryceAG commented on #96
A more minimal use case example:
![image](https://user-images.githubusercontent.com/15327201/30493718-9296383c-9a02-11e7-8266-8a24ba55136b.png)

[2017-09-15 18:16] samreid commented on #96
@arouinfar and @ariel-phet I'll need help figuring out what to do with the conventional current.  If we have a threshold at which it becomes visible then it seems it will always be possible to create cases like the one in the preceding image where visible current is divided into invisible current (because the current gets cut below threshold).

[2017-09-15 18:26] arouinfar commented on #96
@samreid if the conventional current is always visible (like electrons), I think things would look a bit odd at times.  For example, it seems weird to show the conventional current arrows when pulling a circuit element out of the toolbox since the conventional current isn't really physical.

Perhaps a reasonable compromise would be to to show the conventional current whenever the circuit is comple

[2017-09-15 18:33] samreid commented on #96
Which direction should the arrows point when I=0?

[2017-09-15 18:48] arouinfar commented on #96
@samreid great question. Unfortunately, I don't have a great answer.

Can you detect which way the battery(ies) are oriented and predict which way the current would eventually point? This would work so long as all the batteries point in the same direction, but cases like this would be problematic:
![image](https://user-images.githubusercontent.com/8419308/30498112-af615018-9a12-11e7-8b25-e4d63292c

[2017-09-15 21:33] samreid commented on #96
To clarify: this issue comes down to 2 somewhat related problems:

1. The problem where current was depicted even though the circuit wasn’t complete.  This comes from numerical inaccuracy in the linear algebra which was reduced but not eliminated by moving to LU when we eliminated the redundant equations.
2. The problem where we create conventional current above and below the visible threshold in

[2017-09-15 23:00] samreid commented on #96
In https://github.com/phetsims/QA/issues/48#issuecomment-329846175 @phet-steele requested another dev version after this issue regarding current is complete.

[2017-09-16 00:05] ariel-phet commented on #96
@samreid what about scaling the transparency of conventional current. For instance, in the case shown in https://github.com/phetsims/circuit-construction-kit-dc/issues/96#issuecomment-329837923 the current everywhere "reads" zero on the current meter.

Perhaps below a certain current we fade conventional current out? I am thinking 0.015 A would be "full opacity" since that is the first place you c

[2017-09-16 00:12] ariel-phet commented on #96
@samreid I also think the transparency could help mitigate both issues from a UX point of view.

[2017-09-18 15:21] oliver-phet opened #157 "User suggestion: Lightbulb and ammeter settings"

[2017-09-18 17:22] arouinfar commented on #157
@oliver-phet we are planning to add a non-Ohmic bulb to CCK, as it's been a very popular user request over the years. However, it won't be included the 1.0 release (see https://github.com/phetsims/circuit-construction-kit-common/issues/10).

The Ameter could use a resistance setting (useful if you need to simulate experiments on constantan wires). Same applies to V-meters for different reasons.

N

[2017-09-18 17:34] oliver-phet commented on #157
Reply to user sent.

[2017-09-18 17:35] oliver-phet commented on #157
I'll close this for now.

[2017-09-18 17:35] #157 closed

[2017-09-18 17:57] arouinfar commented on #96
Love this idea @ariel-phet!!

@samreid is this something that we could test out?

[2017-09-18 20:17] samreid commented on #96
Sounds good, I'll look into implementing it.

[2017-09-18 20:30] samreid commented on #96
The above commit fades out conventional current between 0.015 Amps and 1E-6 Amps.  It seemed nice in my brief testing, but it would be great if @arouinfar and @ariel-phet could test it out on phettest.

[2017-09-18 20:59] arouinfar commented on #96
I like it @samreid! I wasn't able to reproduce any of the circuits with a partially-visible conventional current like https://github.com/phetsims/circuit-construction-kit-dc/issues/96#issuecomment-329837923, and I think the fade looks pretty good.
<img width="524" alt="screen shot 2017-09-18 at 2 52 50 pm" src="https://user-images.githubusercontent.com/8419308/30564132-4dd3c8b4-9c81-11e7-96a1-d933

[2017-09-18 21:09] ariel-phet commented on #96
I think this is working great, shows a just barely visible current at 0.001 A, and nothing when the current reads 0.00 A.

Closing since we all seem happy. Hopefully it does not cause performance concerns.

[2017-09-18 21:09] #96 closed

[2017-09-20 22:50] EthanWJohnson opened #158 "Edges break circuits"
Seen on: Win 10 Chrome

Dragging circuits by the wire (so that it drags the entire circuit) to the edge of the screen on the lab screen tends to compress the circuit if you keep dragging. This is fine, but at a certain point one side of the circuit will 'snap' to the other side of the circuit. If you release at this point, it breaks everything.

Dragging it to the left, up or down freezes it, prev

[2017-09-21 16:41] samreid commented on #158
I suspect this was discovered during https://github.com/phetsims/QA/issues/51

@ariel-phet can you please review it and comment on its priority for investigation and fixing before 1.0?

[2017-09-21 20:35] BryceAG commented on #158
Here is an example of the huge fire. It is still interactive and once interacted with it will no longer have a huge fire, but also note how the high value resistor graphic gets angled upward so the end top left end no longer lines up with its dashed circle joint (which is connected to the high voltage battery). Interacting with it also moves the resistor graphic into its correct place.

![image](h

[2017-09-21 20:38] BryceAG commented on #158
Also, both the odd graphics sizes and the not-interactive blocks are reproducible in the Intro section, and are not limited to the Lab

[2017-09-21 21:14] BryceAG commented on #158
Reproduced on Win 7, Mac 10.12, Firefox, Edge, and Safari.

Internet Explorer is an interesting case, because dragging to any edge seems to freeze the entire sim except for the 'reset all,' 'home,' or other lab section (if you froze lab, then Intro, and vice versa) buttons. If the home button or other section is chosen, all functionality works except for trying to return to the screen you froze wh

[2017-09-21 21:19] BryceAG commented on #158
also dragging to the right edge can make an not interactive blob like with the other edges, but is less common

[2017-09-22 03:39] ariel-phet commented on #158
@samreid I am definitely not a fan of bugs that "break" the sim, however, I reproduced this one, and it definitely seems like a pretty specific edge case.

Really nice find @EthanWJohnson but for now, I think we will leave this as a known bug and not worry about it for 1.0 publication (since it seems very unlikely to be encountered during normal use of the sim).

Marking deferred and removing assi

[2017-09-26 18:24] oliver-phet opened #159 "User suggestion: incandescent bulb"

[2017-09-26 18:46] arouinfar commented on #159
@oliver-phet this suggestion overlaps a bit with #157 requesting a non-Ohmic bulb, which will be included in a later version (see https://github.com/phetsims/circuit-construction-kit-common/issues/10).

Despite what the user suggests, this is not a small change. It'll require quite a bit of work, which is why it's being deferred to version 1.1 (or later).

[2017-09-26 18:55] oliver-phet commented on #159
Thanks, will let user know this is a planned feature.

[2017-09-26 18:55] #159 closed

[2017-09-27 05:13] samreid commented on #62
Now that we are rendering everything with SVG we should check again for iPad crashiness.

[2017-09-28 21:34] BryceAG commented on #62
While testing some pretty complex circuits it did not crash once.
The performance for electrons started fine but gradually got slower as the complexity of the circuit decreased. Not to unbearable levels, but the frame rate dipped and electrons moved maybe a third of the speed that the conventional arrows did for the same complex circuit. Conventional current kept a good frame rate and stayed movin

[2017-09-29 17:27] BryceAG commented on #62
My mistake, what I originally tested on was an iPad _air_ 2. After testing on an iPad 2 it did not crash and the same trends are true (conventional performs better than electrons, and schematic better than realistic), but the performance was much worse across all modes, and decreasing much faster. It was showing 3 fps in a circuit similar to above.

[2017-09-29 17:29] samreid commented on #62
Thanks for your testing Bryce.  Since it no longer crashes on iPad2, will you please close this issue and create a new issue about dropping to 3 frames per second in that case?  Assign the new issue to @ariel-phet to decide if we want to address it.

[2017-09-29 18:00] BryceAG opened #160 "Electrons and conventional current should animate at the same speed"
related to phetsims/QA#51, and discussed in phetsims/circuit-construction-kit-dc#62

The iPad 2 will start performing well at 40-60 fps, but will quickly dip to 30 fps (which is still fine) with even a simple battery and light bulb circuit, and 20 fps with a simple parallel circuit. when moving objects around it seems that 20 fps is the max, and after completing any circuit it will stay there for

[2017-09-29 18:01] BryceAG commented on #62
moved to phetsims/circuit-construction-kit-dc#160

[2017-09-29 18:01] #62 closed

[2017-09-30 16:19] ariel-phet commented on #160
@samreid obviously with a circuit as complicated as above I am not surprised at a pretty serious performance hit.

However, I am a bit concerned about the difference in performance between conventional current and the electron view. I made a not too complex circuit (a few batteries, a resistor 2 bulbs), and the difference between the speed of conventional current and the electrons is very noticeab

[2017-09-30 16:38] samreid commented on #160
@ariel-phet what platform did you use to identify that problem?

[2017-09-30 16:40] ariel-phet commented on #160
@samreid iPad 2 as noted in the issue

[2017-10-01 02:23] samreid commented on #160
I suspect the difference is due to transparency.  Electrons are fully opaque while the arrows use `setImageOpacity` of `0.75`.  I would have expected this difference when using `setOpacity` but not `setImageOpacity`, @jonathanolson does this match your expectation?

Image transparency is pretty much "free" in WebGL, we may be seeing new differences since we are rendering in SVG now.

Brainstorming

[2017-10-01 19:48] ariel-phet commented on #160
@samreid well since the arrows are performing better, if we make a hack, lets make it ideally in the direction where both the electrons and arrows perform at the current arrow level.

[2017-10-02 17:35] brroberts1231 opened #161 "Wires do not delete properly"
For phetsims/QA#51
Testing in phettest, after the commit made in https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-332902739

Test device: Dirac, Hanson

Operating System: macOS 10.12, Win 10

Browser: Chrome, Safari, Firefox

Problem description: Deleting a wire via the trashcan button leaves the wire on the screen, its vertices sort of stay connected to other ob

[2017-10-02 17:43] phet-steele commented on #161
Muahahahahaha I beat you to it by a few minutes! See https://github.com/phetsims/circuit-construction-kit-common/issues/406. This should be fixed in master as of recently. @brroberts1231 please hard refresh your page and try again (I already pulled). If it's gone, please close.

[2017-10-02 17:44] brroberts1231 commented on #161
Ok, literally within 10 minutes of writing that up, and going back to try to record more gifs, it stopped happening, haha.
Can't reproduce, so I guess I'll close this.

[2017-10-02 17:44] #161 closed

[2017-10-02 20:20] jonathanolson commented on #160
That might be worth the experimentation. First, I'd check to see that opacity is what is causing the performance loss.

[2017-10-03 03:38] samreid commented on #160
Here is other code in ChargeNode.js that may lead to differences in runtime behavior on the iPad2

[code]

[2017-10-03 03:49] samreid commented on #160
I made a long loop with 1.0 ohm resistor + 9V battery and measured about 8 seconds for electron to traverse vs 5 seconds for arrow to traverse vertically.

[2017-10-03 04:06] samreid commented on #160
Removing this code seems to align the performances:

[code]

I noticed that electrons already attempted 0.75 opacity in their constructor:

[code]

But this opacity doesn't seem to be respected--I tried setting it to 0.75*0.75=0.56 and they looked fully opaque.  It should be easy enough to create a electron raster PNG with correct opacity and use it, but we should also understand why this is a pro

[2017-10-03 06:54] samreid commented on #160
If I try:

[code]
Then immediately try `ELECTRON_CHARGE_NODE.toDataURL(function(x){console.log(x);});` it comes up blank.

If I try:

[code]
then wait until launch then try `E.toDataURL(function(x){console.log(x);});` it comes out like so:

![image](https://user-images.githubusercontent.com/679486/31113213-622788b4-a7d5-11e7-922d-23a2b4f2f53e.png)

@jonathanolson am I doing something wrong?

[2017-10-03 07:28] samreid commented on #160
I tried
[code]

Then in photoshop, applying 0.75 opacity and reducing size to 16px by 16px.  This fixes the performance difference.  The right edge of the electron looks slightly wonky though, it is coming out like this even though I left ample padding in the scenery generation and in the photoshop step:
![image](https://user-images.githubusercontent.com/679486/31114080-95b8e2aa-a7d9-11e7-89ad-6b7

[2017-10-03 07:29] samreid commented on #160
If I put transparency in the shaded sphere and minus sign instead of the parent node, it looks good and toDataURLNodeSynchronous retains the transparency, and there are no odd artifacts:

![image](https://user-images.githubusercontent.com/679486/31114245-4db47df6-a7da-11e7-8d2f-ec2edf8ada29.png)

[2017-10-03 07:39] samreid commented on #160
The commits above add a workaround for ElectronChargeNode. It will be nice to discuss with @jonathanolson about why opacity on the parent wasn't working, but this workaround is straightforward enough that we could proceed with it.  It is working well in my testing.

Leaving assigned to @jonathanolson for discussion about the opacity on the parent, and also assigning to @BryceAG or @ariel-phet to t

[2017-10-03 16:34] samreid commented on #74
Now that #62 is clear, the only other reason this issue could be a problem is if there are performance problems using the sim.  @phet-steele has iPad2 performance during dragging generally been acceptable?

[2017-10-03 16:40] samreid commented on #160
Dev version published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.163/circuit-construction-kit-dc_en.html

[2017-10-03 17:14] ariel-phet commented on #160
Speeds on iPad2 now appear to match, electron performance is improved, and electrons still look good.

Closing

[2017-10-03 17:16] phet-steele commented on #160
Agreed, but keeping open for this maybe?:

[2017-10-03 17:21] ariel-phet commented on #160
@phet-steele that seems like it should be a separate issue, but yes, probably have @samreid move that issue somewhere else appropriate and close this one.

[2017-10-03 17:24] phet-steele opened #162 "Update Lab screen icon"
#88 rotated the voltmeter probes. @samreid @arouinfar, does this mean we should update the Lab screen icon? The icon's probes are still not rotated. https://github.com/phetsims/circuit-construction-kit-dc/blob/master/images/lab-screen-icon.png

For phetsims/QA/issues/51.

[2017-10-03 17:30] samreid commented on #160
I created a new scenery issue and will close this one, thanks.

[2017-10-03 17:30] #160 closed

[2017-10-03 21:03] samreid commented on #162
It looks like this was generated from the sim, I can try to update it.

[2017-10-03 21:04] arouinfar commented on #162
Sounds good. Thanks @samreid.

[2017-10-03 21:07] samreid commented on #162
Updated in the preceding commit, @arouinfar can you please review on phettest?

[2017-10-03 21:09] arouinfar commented on #162
@phet-steele and I approve! Thanks @samreid.

[2017-10-03 21:09] #162 closed

[2017-10-04 18:42] BryceAG opened #163 "IE crashes when completing a circuit"
Related to phetsims/QA#51

Test device:
Bates

Operating System:
Windows 7

Browser:
Internet Explorer

Problem description:
In internet explorer, the display will freeze every time a circuit is completed, or sometimes randomly before you can even complete a circuit. This is true for both dev.162 and phettest. The sim is still interactive because I was able to click where "Report a problem..." was

[2017-10-04 18:59] phet-steele commented on #163
@BryceAG please open the console and look for errors (on phettest).

[2017-10-04 20:19] BryceAG commented on #163
States:
[code]

[2017-10-04 20:35] phet-steele commented on #163
Thanks @BryceAG.

This is too bad @samreid, support of Math.sign() doesn't exist in IE:
<img width="569" alt="screen shot 2017-10-04 at 2 33 48 pm" src="https://user-images.githubusercontent.com/5863899/31198345-27bf2f82-a911-11e7-91a9-15b27f781910.png">

[2017-10-04 20:48] BryceAG opened #164 "Animation speed optical illusions?"
With the circuit below, the electrons move at a speed where some optical illusions can happen. In windows 7, chrome, it looks like the electrons go only towards the positive end of the battery (circled, following arrows), so all charges head to one point and kirchoff's current law is broken. With conventional current it looks like some of the arrows travel backwards. In Firefox the same issue occa

[2017-10-04 20:50] BryceAG commented on #164
Related to phetsims/QA#51
tested on phettest

[2017-10-04 21:43] samreid commented on #163
Nice detective work @BryceAG and @phet-steele.  I added a new lint rule that will catch future usage of Math.sign (I also saw one usage in another unreleased sim.)

[2017-10-04 21:50] samreid commented on #163
I added Util.sign from the MDN polyfill.  @BryceAG can you test on phettest?

[2017-10-04 22:12] phet-steele commented on #164
Won't happen on my device, will have to try Bates. I wonder if you're seeing #129 on steroids?

[2017-10-05 18:50] phet-steele commented on #164
Easily done on Bates, the electrons are very obviously moving the wrong way. If you start moving your mouse around, they begin to move the correct way though. Most likely this is due to a slight dip in performance while the cursor is hit-testing.

Anyway, I showed @samreid and @ariel-phet this and the leading theory is that the speed throttle is not doing its job well. Assigning to @samreid to dec

[2017-10-05 18:59] phet-steele commented on #163
@BryceAG isn't working today so I took a look. It doesn't crash when I make a circuit!

[2017-10-05 18:59] #163 closed

[2017-10-06 18:02] samreid commented on #156
I suspect this was fixed by https://github.com/phetsims/circuit-construction-kit-dc/issues/163

@phet-steele can you take a look and see if you agree?

[2017-10-06 18:45] phet-steele commented on #156
Oh most certainly #163 was the issue, thanks @samreid. @oliver-phet, I suppose you could email these people (or not) and say the provided version is not supported on IE, but the full release version will be.

[2017-10-06 18:58] phet-steele commented on #55
QA credits accurate as of 10/6/2017.

[2017-10-06 19:27] samreid commented on #55
Thanks, closing for now.  We can reopen if QA team changes.

[2017-10-06 19:27] #55 closed

[2017-10-07 13:19] samreid commented on #50
Since we are on dev testing and hopefully going into RC soon, this issue has served its usefulness, closing.

[2017-10-07 13:19] #50 closed

[2017-10-07 13:22] samreid commented on #146
On hold until we get to phet-io for this sim.

[2017-10-07 13:30] samreid commented on #164
I tried to set up the same circuit on my mac chrome and saw 2 differences: my battery and resistor are on fire and I get 96% instead of 97%.  The electrons are going in the correct directions (no strobe effect).  I'll try a windows machine.

[2017-10-07 13:41] samreid commented on #164
Even with 6x Chrome CPU throttling combined with `phet.joist.makeEverythingSlow()` the electron directions and speeds are still correct on Mac Chrome.

[2017-10-07 13:50] samreid commented on #164
It took about 15 minutes to set up this circuit in Mac running Virtual Box running Windows 10 running Chrome, but I as able to capture a screencast of the stobing behavior.  Over 1.5MB so may take a moment to load:

![cast-vbox](https://user-images.githubusercontent.com/679486/31308412-de94b03c-ab33-11e7-8018-f083db50ecd3.gif)

[2017-10-07 13:57] samreid commented on #164
In https://github.com/phetsims/circuit-construction-kit-dc/issues/15 we found that linking the animation speed reduction to the system clock was causing fluctuations and differing behavior across platforms.  In https://github.com/phetsims/circuit-construction-kit-common/commit/4e3f1b55f7903a0781979c94e60f6d8ea766e65d we changed from a machine-specific estimation of clock timing to assume that mach

[2017-10-07 14:17] samreid commented on #164
I tried reverting https://github.com/phetsims/circuit-construction-kit-common/commit/4e3f1b55f7903a0781979c94e60f6d8ea766e65d and ran the same circuit in virtual box.  The "animation speed limit reached" message is not shown and the strobing behavior is still bad.

[2017-10-07 14:25] samreid commented on #164
`dt` is being capped to 1/30 anyways, so this prevents us from using the true machine dts in the downstream code:

[code]

According to the docs, we are capping it to avoid too large of an integration step.  Maybe this is important so that an electron doesn't try to go across many circuit elements in a single step?

[2017-10-07 15:04] samreid commented on #164
I tried changing the MAX_DT from 1/30 to 1 and recorded the circuit in virtual box.

![loop2](https://user-images.githubusercontent.com/679486/31309104-1caeb99e-ab3e-11e7-9c91-b777bcd267c7.gif)

NOTE: the stutter is from the GIF looping, not from the sim.  However, the max dt is used like so:

[code]

And hence this will change the speed threshold for every platform, I'm not sure the impact this w

[2017-10-07 15:06] samreid commented on #164
The effect is that everything is throttled--creating a default battery + default bulb throttles to 54% and everything looks slow.

![image](https://user-images.githubusercontent.com/679486/31309144-b61c0bcc-ab3e-11e7-8a6e-8b1b03ca9536.png)

[2017-10-07 15:24] samreid commented on #164
I tried eliminating the dt cap and using the former code

[code]

I also reduced the MAX_POSITION_CHANGE like so:
[code]

This looked great and throttled perfectly on mac/chrome (aside from fluctuations in the exact speed reduction value).  But when I tried this on virtualbox/win10/chrome I saw this:

![loop4](https://user-images.githubusercontent.com/679486/31309278-f00eb846-ab40-11e7-8c05-48b826

[2017-10-07 17:11] phet-steele commented on #164
I don't know how important it is now that you have investigated this quite a bit, but turn wire resistivity to max to get 97%.

[2017-10-07 17:18] ariel-phet commented on #164
@samreid might be good to first verify on an actual windows chrome set-up, not the virtual machine (just in case. Maybe publish a dev version so @phet-steele and I can try?

[2017-10-07 17:58] samreid commented on #164
@ariel-phet to clarify, are you requesting a dev version with the changes described in https://github.com/phetsims/circuit-construction-kit-dc/issues/164#issuecomment-334942997 ?

[2017-10-07 20:13] samreid commented on #164
I tested the original behavior on my Windows 10 laptop running Chrome 61.0.3163.100 and there is no strobing.

[2017-10-07 20:34] samreid commented on #164
I do not understand the mechanism of what is causing this problem.  I tried a variety of CPU throttling and phet.joist.makeEverythingSlow and makeRandomSlowness and couldn't simulate the behavior on my Mac.  I wonder if Win/Chrome is sometimes dropping frames on updates, that might explain it?

[2017-10-09 16:15] samreid commented on #164
@ariel-phet suggested working on this with @jonathanolson

[2017-10-09 18:42] samreid commented on #164
@jonathanolson and I reviewed it and agreed the given algorithm seems to be logically correct and it is unclear why it is misbehaving on Win/Chrome machines. To simulate the problem on Mac, @jonathanolson suggested putting dt = MAX_DT and this did a good job of showing uneven and strobing behavior.  We tried reducing the strobe threshold from 0.43 to 0.15 and it worked much better when MAX_DT, how

[2017-10-09 18:58] samreid commented on #164
Testing with a dynamic dt for scaling instead of MAX_DT and 0.25 instead of 0.43 looked great on Mac (even when simulating dt=MAX_DT), but still showed the same bad behavior on Win as in https://github.com/phetsims/circuit-construction-kit-dc/issues/164#issuecomment-334942997

@ariel-phet it would be good to check in with you.  Can you reproduce this problem on your hardware with the latest versio

[2017-10-09 21:51] ariel-phet commented on #164
I see no strobing on my Win 10 or Win 7 chrome. My Win 10 machine is pretty speedy. My Win 7 is a desktop but at least 5 years old.

[2017-10-09 21:57] samreid commented on #164
@ariel-phet do you want me and @jonathanolson to spend any more time on this before 1.0?

[2017-10-09 22:00] ariel-phet commented on #164
@samreid I think you can defer, since it appears machine specific and not a general issue on chrome. However, lets have QA first verify that it does not happen on chromebook.

@phet-steele can you check latest dev on chromebook and verify no strobing is seen?

[2017-10-09 22:34] phet-steele commented on #164
I tried all of the chromebooks in the office and none had the extreme strobing herein.

[2017-10-09 22:35] ariel-phet commented on #164
@samreid just assigning to you to note that we are deferring

[2017-10-09 22:36] samreid commented on #164
Duly noted.

[2017-10-10 22:22] oliver-phet commented on #156
Email to user sent. Closing.

[2017-10-10 22:22] #156 closed

[2017-10-11 04:30] phet-steele commented on #158
Above commit fixes this issue. There may be lingering issues but that's okay 🤞 . As a little bonus, it also helps prevent some multitouch issues.

@ariel-phet this took all but 10 minutes to fix. @samreid thanks for figuring this out with me. @BryceAG @EthanWJohnson good find!

[2017-10-11 04:30] #158 closed

[2017-10-11 04:38] samreid commented on #129
Is this issue superceded by https://github.com/phetsims/circuit-construction-kit-dc/issues/164 ?

[2017-10-11 04:40] phet-steele commented on #129
@samreid I was just going to ask you!

[2017-10-11 04:41] samreid commented on #129
@ariel-phet what do you think?

[2017-10-11 05:05] ariel-phet commented on #129
Yes, this seems like a duplicate of #164, closing as such

[2017-10-11 05:05] #129 closed

[2017-10-17 16:11] phet-steele commented on #74
@samreid I don't really know how to quantify it, but maybe my results show 2 MB/s?
<img width="1044" alt="screen shot 2017-10-04 at 10 00 42 am" src="https://user-images.githubusercontent.com/5863899/31675641-81af694c-b322-11e7-82a0-6115a78392cd.png">

Do things trail behind my finger? Yes.
When there are many elements, are drags smooth? No.
Is it annoying to make circuits? Nope! Closing.

[2017-10-17 16:11] #74 closed

[2017-10-17 16:35] phet-steele opened #165 "1.0 Screenshot"
@arouinfar, please suggest some.

See phetsims/QA/issues/55.

[2017-10-17 17:06] samreid opened #166 "Publish RC.1"
In https://github.com/phetsims/QA/issues/51#issuecomment-337291139 @phet-steele indicated we are ready for RC.1.

[2017-10-17 17:10] samreid commented on #166
I'm following the https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md and ran into trouble after `grunt deploy-rc`.  I logged in to the build server and got these logs:

[code]

Note the check for `circuit-construction-kit-dc/undefined/circuit-construction-kit-dc.xml`

Nothing out of the ordinary was reported from `grunt deploy-rc` and it included this part of the U

[2017-10-17 17:15] samreid commented on #166
I tried it a 2nd time and got this error:

[code]

Indeed dependencies.json had failed to push.  I pushed it manually.

[2017-10-17 17:18] samreid commented on #166
Same problem on 2nd try.  Increasing priority and reassigning to @mattpen in case it is a problem with build server, @jonathanolson & @jbphet in case it is a problem with a translation file and @ariel-phet so he is aware of the problem and for delegation.

[2017-10-17 18:00] samreid commented on #166
@mattpen is on the case

[2017-10-17 18:08] samreid commented on #166
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-rc.1/circuit-construction-kit-dc_en.html published here, and there were failures during the cleanup phase on build server.

[2017-10-17 18:26] samreid commented on #166
@mattpen also addressed the cleanup phase error and we tested on https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-rc.1/circuit-construction-kit-dc-virtual-lab_en.html

[2017-10-17 18:26] #166 closed

[2017-10-17 18:38] arouinfar commented on #165
Here are a few options @phet-steele:

1. ![screen shot 2017-10-17 at 12 14 07 pm](https://user-images.githubusercontent.com/8419308/31682589-cfeb244c-b337-11e7-9d55-f46c1151f5a8.png)
2.  ![screen shot 2017-10-17 at 12 16 56 pm](https://user-images.githubusercontent.com/8419308/31682599-d6c81a36-b337-11e7-823b-bb0ccfb58e67.png)
3.  ![screen shot 2017-10-17 at 12 28 21 pm](https://user-images.github

[2017-10-18 17:14] ariel-phet commented on #48
@arouinfar since we are now in RC, lets see what checklist items are left

[2017-10-18 21:01] arouinfar commented on #41
Everything in https://github.com/phetsims/circuit-construction-kit-dc/issues/41#issue-226421495 has been documented in the Tips, so closing.

[2017-10-18 21:01] #41 closed

[2017-10-18 22:31] arouinfar opened #167 "Create sim primer"

[2017-10-21 20:09] samreid commented on #48
@arouinfar or @ariel-phet let me know if you'd like me to do any of these steps.

[2017-10-26 17:06] arouinfar opened #168 "Create LoL Icons and Descriptions"

[2017-10-27 19:41] phet-steele commented on #165
@samreid @arouinfar, added above. (@arouinfar looked it over with me)

[2017-10-27 19:41] #165 closed

[2017-10-27 23:33] samreid opened #169 "Publish 1.0"
CCK DC finished RC testing and is ready for publication as 1.0.  However, this will be more complicated than a normal deployment because there is an existing prototype at the target location, see https://github.com/phetsims/circuit-construction-kit-dc/issues/6 and https://github.com/phetsims/circuit-construction-kit-dc/issues/46

@mattpen can we coordinate on the release process to avoid complicat

[2017-10-27 23:36] samreid commented on #169
My main questions about what may need attention:
1. the filesystem
2. the htaccess
3. the database (not sure about that one)

[2017-10-29 15:09] samreid commented on #169
I asked @mattpen on slack:

He replied:

[2017-10-29 15:09] samreid commented on #169
It is ready when we are, it sounds like I am approved to just try the normal process and report back if any problems occur.

[2017-10-30 15:15] mattpen commented on #169
Yes, this is OK with me.

[2017-10-30 15:48] phet-steele commented on #169
Sure they do! A decent handful do in https://github.com/phetsims/tasks/issues/779!

I'll take the extra screenshots momentarily, but true we do not need to halt publication until then.

[2017-10-30 15:51] samreid commented on #169
I ran the deploy steps and now it is up to @arouinfar to add the metadata and make the sim visible.

[2017-10-30 15:54] arouinfar commented on #169
On it @samreid! Did you also deploy Virtual Lab?

[2017-10-30 15:55] samreid commented on #169
Nope, I won't have time for VL before meetings start today.  I'll create a separate issue for that one and pursue it later on.

[2017-10-30 16:02] samreid commented on #169
I finished the deploy steps for CCK, unassigning myself and @arouinfar can proceed to add metadata and make visible.

[2017-10-30 16:40] arouinfar commented on #169
The sim is now visible! I'll send out an announcement email once VL is live too.

[2017-10-30 16:40] #169 closed

[2017-11-01 21:04] ariel-phet commented on #48
@arouinfar note that I would like to hold a postmortem for this sim, so leave assigned to me once you finish your steps

[2017-11-02 04:13] samreid commented on #142
Unassigning until this is scheduled for work.

[2017-11-07 23:35] arouinfar commented on #168
Icons and descriptions have been added to the LoL Simulations Google sheet.

[2017-11-07 23:35] #168 closed

[2017-11-17 23:29] samreid commented on #48
I documented the development timeline and hours in https://github.com/phetsims/special-ops/issues/85, it may come in handy at the postmortem.

[2017-11-28 23:50] pixelzoom opened #170 "delete babel/autoport/circuit-construction-kit/ ?"
After publishing the first HTML5 version of a sim ported from Java/Flash, the string files in babel/autoport/{{REPO}} are supposed to be manually deleted.

I realize that there are addition "flavors" of CCK that have not been ported. But it looks like CCK:DC and CCK:DC-VL did not reuse translations from babel/autoport/circuit-construction-kit/.   So I'm guessing that it would be appropriate to del

[2017-12-03 14:43] samreid commented on #170
I can see what @pixelzoom is describing in the sim_port_checklist:

Someone checked off this item in the CCK: DC checklist: https://github.com/phetsims/circuit-construction-kit-dc/issues/48.  Based on the comment revision history, it was either @samreid, @ariel-phet @arouinfar or @phet-steele.  I'm not placing blame but I want to make sure all team members are aware about this step that must be ta

[2017-12-04 16:19] jbphet commented on #170
It's actually not necessary to pull the strings for rosetta - it accesses them directly through the GitHub API now.  I've updated the checklist.  Closing.

[2017-12-04 16:19] #170 closed

[2018-01-08 17:44] oliver-phet commented on #32
@arouinfar Do you have an example of a two-way switch built from wires and a knife switch? It might be worth adding that to the teacher tips?

[2018-01-08 18:36] arouinfar commented on #32
@oliver-phet have you been receiving more requests for a two-way switch?

A classic example of a two-way switch is a house light that is controlled by two different switches. If a light is on, flipping either switch will turn it off (and vice versa).
![image](https://user-images.githubusercontent.com/8419308/34685536-e56b2cc6-f465-11e7-82d6-bf4115e6d9bf.png)

There are are a few ways to create a t

[2018-01-08 18:40] arouinfar commented on #32
Actually, I think this would be a three-way switch constructed by two two-way switches...

A two-way switch would be just this:
![image](https://user-images.githubusercontent.com/8419308/34686360-83ce4fc2-f468-11e7-97f1-de7f4c0e5725.png)

The user would need to manually cut the vertex wire segment's right vertex and connect to the other wire below.
![image](https://user-images.githubusercontent.co

[2018-01-08 19:01] oliver-phet commented on #32
Ok, so it looks like there isn't actually a way to construct a two-way switch out of the current knife switch (since you cannot force the flipping of two knife switches). I'll send the user these screenshots, but a two-way might still be a worthy sim enhancement.

[2018-01-24 23:49] arouinfar commented on #167
Reassigning to @CWilson4960.

While feedback will be given over the primers Slack channel, the timeline will be updated here for future reference.

- [x] Draft script - 1/23/18
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption prime

[2018-02-13 20:39] arouinfar opened #171 "CCK: DC Postmortem Checklist"
- [x]  **1. Schedule the meeting** (Date: 02/14/2018)
  - [x] Require the entire sim team to participate, and optionally anyone else who had a significant involvement. Have the meeting as soon as possible after the sim is released, so that experiences are still fresh in everyone's mind. Allow sufficient time for the meeting, 1.5-2 hours.

- [x]  **2. Enlist a meeting moderator** (@oliver-phet)
  -

[2018-02-14 20:31] samreid opened #172 "Report on % time as a function of week or month"
At today's postmortem in #171 @kathy-phet requested me to report on % time spent on CCK for each week or month, after we switched from Black Box to DC.

[2018-02-14 23:47] arouinfar commented on #171
For future discussion:
* Dust off Look & Feel docs in future website/keyboard nav meeting
* Strategy for dealing with sims with "common" repo
* Releasing prototypes prior to publication

@ariel-phet should we leave this is open until we've discussed the above items?

[2018-02-15 00:06] samreid commented on #172
I sent @kathy-phet an email, closing.

[2018-02-15 00:06] #172 closed

[2018-02-20 21:48] ariel-phet commented on #171
@arouinfar yes, for the moment, I will take it from here.

[2018-03-06 04:05] ariel-phet commented on #171
Separate issues have been made, and discussions have taken place for the common repo question. Closing

[2018-03-06 04:05] #171 closed

[2018-04-16 17:49] oliver-phet opened #173 "User suggestion: water analogy"

[2018-04-30 18:38] arouinfar commented on #167
Primer has been uploaded and captioned

[2018-04-30 18:38] #167 closed

[2018-04-30 22:34] arouinfar commented on #173
@oliver-phet this is waaaaaay beyond the scope of CCK, and would take significant design and development resources. If we did want to tackle the water/electric circuit analogy, I think it would be its own sim, not a hidden option buried somewhere. Can you add this to the ideas for sims on Unfuddle?

[2018-04-30 22:37] oliver-phet commented on #173
Done.

[2018-04-30 22:37] #173 closed

[2018-07-18 18:10] pixelzoom opened #174 "'grunt published-README' was not run in 1.0 branch"
The 1.0 branches of the this sim still indicates that the sim is unpublished.

The master checklist for sims says:

[2018-08-09 03:32] ariel-phet commented on #174
marking for developer meeting as we are soon to publish a few sims

[2018-08-09 15:56] pixelzoom commented on #174
Moving developer meeting label to the more general issue, https://github.com/phetsims/chipper/issues/698.

[2018-12-01 10:57] gartha1 opened #175 "is the ancestor program (pre HTML) available anywhere?"
is the ancestor program , previous version before it went HTML based, available anywhere?

[2018-12-03 18:08] arouinfar commented on #175
@gartha1 to access the Java version of the simulation, click the "[Original Sim and Translations](https://phet.colorado.edu/en/simulation/legacy/circuit-construction-kit-dc)" link on the sim page.

![image](https://user-images.githubusercontent.com/8419308/49392444-afae8e00-f6eb-11e8-8a57-a511b50c4f8c.png)

[2018-12-03 18:08] #175 closed

[2019-01-08 15:40] KatieWoe opened #176 "CT: value failed isValidValue"
[code]

[2019-01-08 17:47] pixelzoom commented on #176
Moved to https://github.com/phetsims/axon/issues/208.

[2019-01-08 17:47] #176 closed

[2019-01-24 00:01] KatieWoe opened #177 "CT running lint-all task"
[code]

[2019-01-24 03:49] pixelzoom commented on #177
Duplicate of https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/69, closing.

[2019-01-24 03:49] #177 closed

[2019-03-28 17:07] arouinfar commented on #32
We have another user request for this in https://github.com/phetsims/circuit-construction-kit-common/issues/462:

[2019-04-16 20:12] KatieWoe opened #178 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Pointer areas of objects not visible in the carousel tool box still show up on the second screen, but not the first, which seems odd to me

[2019-04-16 20:48] arouinfar commented on #178
Thanks @KatieWoe, this does look a bit odd. @samreid can you take a look?

[2019-04-16 20:51] KatieWoe commented on #178
It is in the lab sim as well.  Doesn't seem to have an effect.

[2019-04-17 15:41] samreid commented on #178
Cross-assigning to @pixelzoom who knows more about Carousel and @jonathanolson who knows more about pointer areas.  Any idea what is happening here?

[2019-04-23 22:23] oliver-phet commented on #31
Another request received into phethelp:

[2019-04-24 17:00] pixelzoom commented on #178
Carousel uses `clipArea`, and scenery doesn't consider clipArea when it renders pointer areas.  So you're seeing pointer areas for all of the items in the carousel, not just the items that are visible in the carousel's clipArea.

[2019-04-24 17:02] pixelzoom commented on #178
Also FYI... We have decided more than once that this is not an issue.  See https://github.com/phetsims/function-builder/issues/81#issuecomment-230060282 and https://github.com/phetsims/function-builder/issues/125#issuecomment-483433394.

[2019-04-24 20:11] samreid commented on #178
Thanks @pixelzoom, back to you @KatieWoe.

[2019-04-24 20:13] KatieWoe commented on #178
In that case I believe this can be closed

[2019-04-24 20:13] #178 closed

[2019-04-29 16:00] oliver-phet commented on #35
Another user emailed:

[2019-04-30 17:30] oliver-phet commented on #35
Another email:

[2019-05-16 20:00] veillette opened #179 "Assertion failed: numberZigZags must be an integer:"
[code]

[2019-05-16 20:31] veillette commented on #179
The issue was related to FuseNode.js found in circuit-construction-kit-common and the new assertion added in Kite Shape (https://github.com/phetsims/faradays-law/issues/153).
I will monitor Bayes to see if more assertions are triggered.

[2019-05-17 17:24] veillette commented on #179
It turns out to be related to the common repo of circuit-construction.
Closing this issue and tracking here (phetsims/circuit-construction-kit-common#496)

[2019-05-17 17:24] #179 closed

[2019-07-25 00:08] arouinfar commented on #35
I've also heard some similar feedback from teachers at ISTE and AAPT. Teachers are concerned that the resistance of the dog is unrealistically high.

I think we're going to need to decide if the whimsy of a cruelty-free dog outweighs the incorrect physics. Perhaps not?

If we wanted to give the dog a more realistic resistance, the maximum current one could send through the dog would be about ~4 am

[2019-07-25 00:58] ariel-phet commented on #35
@arouinfar I would be fine with either getting rid of the dog or giving it a more realistic resistance. I think the main point is the dog cannot be allowed to catch on fire.

My guess is that for nostalgia reasons @kathy-phet will want to keep the dog.

Currently, with the value of resistance for the hand, the maximum amperage is about 0.4 A. I imagine we could it make the dog similar (maybe just

[2019-07-25 00:58] ariel-phet commented on #35
@arouinfar feel free to make the call, or we could ask @kathy-phet to make the call

[2019-07-25 03:45] kathy-phet commented on #35
To some degree, we could make voltage safety could be a learning goal. Happy to chat through options.

Sent from my iPhone

On Jul 24, 2019, at 6:59 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

@arouinfar<https://github.com/arouinfar> feel free to make the call, or we could ask @kathy-phet<https://github.com/kathy-phet> to make the call

—
You are receiving th

[2019-07-26 20:37] samreid commented on #35
It would be time consuming to implement, but we could reimplement the dog as a fuse in series with a resistor.  She could retract her paw and open the circuit when the current limit is exceeded.

Another possibility would be to only allow the dog to appear in scenes where the maximum voltage (of all batteries in series) is a safe level.

[2019-09-16 18:31] arouinfar commented on #1
@samreid this issue is relevant to CCK: AC, and should be relocated to the cck-common or cck-ac-and-dc repo. I'm not an admin, so I can't transfer the issue.

[2019-09-17 01:45] samreid commented on #174
The README is correct on master, and on the 1.0 and 1.1 branches, closing.

[2019-09-17 01:45] #174 closed

[2020-07-22 14:52] KatieWoe opened #180 "CT phetioID already registered"
[code]

[2020-07-28 14:49] KatieWoe opened #181 "CT After startup only dynamic instances prescribed by the baseline file can be registered"
[code]

[2020-07-28 19:47] samreid commented on #181
I pushed a commit that fixes this in my working copy.  Closing for now, but let's reopen if it recurs on CT.

[2020-07-28 19:47] #181 closed

[2020-08-05 23:34] samreid commented on #180
@chrisklus and I addressed this today via https://github.com/phetsims/circuit-construction-kit-common/commit/1e8ec3f9830c37f1d76edfb44ad394e875f11033, closing.

[2020-08-05 23:34] #180 closed

[2020-08-07 14:46] KatieWoe opened #182 "CT unable to find node from unique Trail id"
[code]

[2020-08-07 15:20] samreid commented on #182
Tracked in https://github.com/phetsims/circuit-construction-kit-common/issues/593, closing as duplicate.

[2020-08-07 15:20] #182 closed

[2020-09-11 14:50] KatieWoe opened #183 "CT required tandems must be supplied"
[code]

[2020-09-11 21:35] samreid commented on #183
I fixed this problem with a commit here and one in https://github.com/phetsims/scenery/issues/1078.  It's testing out OK, closing.

[2020-09-11 21:35] #183 closed

[2020-10-19 19:48] KatieWoe opened #184 "CT required tandems must be supplied"
[code]

[2020-10-19 21:13] samreid commented on #184
Fixed, closing.

[2020-10-19 21:13] #184 closed

[2020-10-21 15:27] KatieWoe opened #185 "CT phetioID already registered"
[code]

[2020-10-23 14:30] samreid commented on #185
Fixed in the commit, closing.

[2020-10-23 14:30] #185 closed

[2020-10-30 22:32] KatieWoe opened #186 "CT required tandems must be supplied"
[code]

[2020-10-31 16:21] samreid commented on #186
Thanks, fixed, closing.

[2020-10-31 16:21] #186 closed

[2020-12-23 16:24] KatieWoe opened #187 "CT phetioID already registered"
[code]

[2020-12-28 17:33] samreid commented on #187
Fixed in my working copy, closing.

[2020-12-28 17:33] #187 closed

[2021-01-11 21:15] arouinfar opened #188 "Update Teacher Tips"
The DC and DC - Virtual Lab teacher tips will need to be updated when the sim is republished, see https://github.com/phetsims/circuit-construction-kit-common/issues/616

Changes include:
- [x] Query parameter table: `screens`, `supportsPanAndZoom` , `addRealBulbs`, `schematicStandard`
- [x] Dog behavior - https://github.com/phetsims/circuit-construction-kit-common/issues/512
- [x] Realistic bulbs

[2021-01-19 21:39] lehrer-roller opened #189 "dependency missing in README.md"
Hi,

i cloned the project according to the list of dependencies in README.md, but I found that I also had to clone bamboo:
`git clone https://github.com/phetsims/bamboo.git`

After that, it works on my local machine.

Best,
lehrer-roller

[2021-02-18 05:25] arouinfar commented on #188
The DC and DC-VL tips have been updated and uploaded to Drive.

[2021-02-22 16:26] KatieWoe opened #190 "CT unable to find node from unique Trail id"
[code]

[2021-02-22 17:21] samreid commented on #190
This sounds related to a11y/phet-io and focus.  @jessegreenberg and/or @zepumph can you please take a look?

[2021-02-24 20:30] jessegreenberg commented on #190
It looks like this is only happening in the mirror inputs and state wrappers on CT. I wasn't able to get this to happen with PhET brand fuzzing locally. I also ran fuzzing in the state wrapper for about 5 minutes and didn't see the bug happen. I am wondering if this is related to https://github.com/phetsims/phet-io/issues/1720, that involved pdom/phet-io overlap.

[2021-02-24 21:14] jessegreenberg commented on #190
I let the sim fuzz in mirror inputs and state wrapper for about 10 minutes each and then tried to create and delete multiple VertexNodes in each of these wrappers. But I wasn't able to see the error. I am not sure where to go next on PhET-iO side so removing my assignment, but feel free to pass it back.

[2021-02-27 00:23] arouinfar commented on #188
Version 1.2 has deployed, and the tips have been updated, closing.

[2021-02-27 00:23] #188 closed

[2021-03-02 23:42] KatieWoe commented on #190
[code]

[2021-03-09 00:43] zepumph commented on #190
I feel a bit blocked by this because CT and local testing seems to always hit "Error: Assertion failed: phetioID already registered: circuitConstructionKitDc.introScreen.view.circuitElementToolbox.carousel.tools.wireToolNode.lifelikeIcon" before I can get to an a11y error. @samreid what do you think?

[2021-03-09 16:10] samreid commented on #190
Thanks, I think I corrected the upstream problem, let me know if that helps.

[2021-03-09 17:27] zepumph commented on #190
Initial findings:

The delete key doesn't work in Mirror Inputs wrapper. It does work in the state wrapper and in the main sim. It also works well when recording to a local file and playing back.

[2021-03-09 17:52] zepumph commented on #190
TLDR: I'm leaning towards thinking of this bug as a dynamic elements problem. But also its cause is most likely because of our lack of support for document focus manipulation in mirror inputs.

With this patch and fuzzing mirror inputs you can get a debugger right where the assertion occurs. Sometimes it took ~2 minutes of fuzzing to reproduce. (?fuzz)

[code]

Once there, I investigated the curre

[2021-03-10 15:10] samreid commented on #190
I fuzzed mirror inputs with the patch and got the same assertion.  I didn't have any insight from the context in the debugger.  I'm not sure how to proceed--should we disable focus, keyboard or accessibility for the mirror inputs wrapper?

[2021-07-06 17:04] zepumph commented on #190
It seems like this is a potential problem related with https://github.com/phetsims/phet-io/issues/1748.

[2021-08-30 20:15] KatieWoe opened #191 "CT Build failed with status code 1"
[code]

[2021-08-30 20:33] samreid commented on #191
I'll track this in the common repo, transferring.

[2021-08-31 15:24] KatieWoe opened #192 "CT cannot add a listener to a disposed TinyEmitter"
[code]

[2021-08-31 18:23] samreid commented on #192
Moving to a common code repo so I can add to the milestone.

[2021-10-06 02:17] samreid commented on #189
Thanks so much @lehrer-roller, bamboo was added in https://github.com/phetsims/circuit-construction-kit-dc/commit/117698418ceca9b18d34a23184e1dd144de65115, closing.

[2021-10-06 02:17] #189 closed

[2021-11-16 23:25] markgammon opened #193 "CCK DC Suite - Publish 1.3 with PhET-iO"
Publish with the latest PhET-iO Studio code base and upgrades.

See milestone for remaining issues
https://github.com/phetsims/circuit-construction-kit-common/milestone/5

[2022-01-14 16:56] arouinfar opened #194 "Update Teacher Tips"
@ariel-phet noticed that `moreWires` was missing from the Teacher Tips. I'll review the query parameters and see if there are any others to add.

[2022-01-14 17:57] arouinfar commented on #194
Added `moreWires` to the DC flavors, and `showCurrent` and `currentType` to all flavors. Closing.

[2022-01-14 17:57] #194 closed

[2022-01-25 20:02] mattpen opened #195 "Why is there a cck:dc /latest/ directory?"
@samreid - There is a static /latest/ directory in cck:dc's deployment directory.  This folder could be causing conflicts with the `/latest/` redirect rule that serves the last deployed version for web requests for that directory.  Can this latest file be removed?

[code]

[2022-01-25 20:29] samreid commented on #195
I don't know or recall it, could it be related to prior prototype releases?  As far as I know, it could be removed.  Can you please remove it or reassign to me if I should?

[2022-01-25 20:36] mattpen commented on #195
I don't recall any prototype releases from 2017, but I assume it was something like that.  I removed it from phet-server's hard drive.  It can be restored at any time from the peta library if needed.

[2022-01-25 20:36] #195 closed

[2022-02-17 18:01] zepumph commented on #190
@samreid, are you still having trouble with this?

[2022-03-05 04:12] AstronautPro opened #196 "Electrical current glitch"
A friend of mine was on this Phet sim. and accidentally caused the current to glitch. I asked her to try a different iOS update on another device but she could still reproduce it.
![386EBB12-526C-4822-A9D0-C69EC0D24598](https://user-images.githubusercontent.com/100982267/156866985-d3a74478-c9ed-4e70-b523-674dbbef747a.png)

https://user-images.githubusercontent.com/100982267/156866986-f83201bc-f888

[2022-03-18 15:49] KatieWoe opened #197 "CT getLocalToGlobalMatrix unable to work for DAG"
[code]

[2022-05-25 16:47] KatieWoe opened #198 "CT Cannot read properties of undefined (reading 'step')"
[code]

[2022-08-27 22:20] samreid commented on #198
This problem hasn't appeared on CT for a while, closing.

[2022-08-27 22:20] #198 closed

[2022-08-27 22:20] samreid commented on #197
This problem hasn't appeared on CT for a while, closing.

[2022-08-27 22:20] #197 closed

[2022-08-27 22:46] samreid opened #199 "Make it possible to switch locales at runtime"
May be easier once https://github.com/phetsims/mean-share-and-balance/issues/99 is complete.

[2022-08-28 15:34] samreid commented on #199
Also, on Thursday we discussed a `fillInDynamic` sort of method in StringUtils, which would help move this forward. I think @jonathanolson is assigned, but I couldn't see a paper trail.

[2022-08-28 15:49] samreid commented on #199
I made a first pass at this and it's working well. Will need more attention once we have `fillInDynamic` and correct suffixes `StringProperty`.  Also, do I need to `addLinkedElement` on this?  I used `TReadOnlyProperty<string>` everywhere, but not sure if that's a match for studio autoselect.

[2022-08-28 20:26] samreid commented on #199
Studio autoselect seems like it's working great.  All that's left here is waiting on 3 features:

* Strings renamed to e.g., currentStringProperty instead of currentProperty
* Support for fillInDynamic
* Ability to call `.value` or `.link` on StringProperty values inline.

On hold until there is progress on those features.

[2022-09-01 16:31] jonathanolson commented on #199
I believe all of those items are done (*StringProperty, PatternStringProperty, and the .value/.link inline)

[2022-09-02 20:41] samreid commented on #199
The remaining work for this issue is to convert `fillIn` to `PatternStringProperty`.  I started on that for the circuit element readouts (when values is checked).

<details>

[code]

</details>

However, I found that these are not even PhET-iO instrumented.  So it seems a question for the designers: which cases of `fillIn` should be phet-io instrumented and/or studio autoselectable?

* Readouts ov

[2022-09-05 18:03] samreid commented on #196
@arouinfar is this a known problem?