[2016-09-27 18:39] oliver-phet opened #1 "User question: implementation of ammeters"
First, let me say I love your work!

However, I think there may be something amiss with the ac circuit simulation's implementation of ammeters.  Admittedly, that something might be my interpretation, but I'd like to have someone look into this and either fix it or let me know what I'm doing incorrectly.

In the tools for teachers, there is a nice example of LR circuit behavior, which uses a batter

[2016-09-27 18:40] oliver-phet commented on #1
@ariel-phet asked me to assign to Amy Rouinfar, but I she isn't in the 'Assignees' list!

[2016-09-27 18:58] arouinfar commented on #1
@oliver-phet I can take a look at this later this afternoon. I'm a little fuzzy on the AC+DC version of CCK.

[2016-10-06 19:19] oliver-phet opened #2 "User question: phase incorrect for RLC circuits"
I would like to point out one Error in the Simulation

https://phet.colorado.edu/en/simulation/legacy/circuit-construction-kit-ac

That when using the Circuit Elements R, L and C with AC source and when connected with the CRO its displayed wave forms V & I are not according to the principles of Phase diagram like
1. For R=Resistor
   Both  V=Voltage  & =Current AC wave form should be in Phase. (wh

[2016-12-22 23:26] oliver-phet opened #3 "User suggestion: additional components"
I use Phet once in a while in my classroom and I was wondering if there is any way to add more components to the DC circuits. I am in automotive/Truck and Coach and would like different applications such as a fuse or circuit breaker, fans and different types of switches. Is this within the capabilities of the programmers or is this locked down to what we see is what we get?
On the plus side, great

[2016-12-24 16:33] samreid opened #4 "Where is the design doc?"
@arouinfar @ariel-phet @kathy-phet I'm having trouble finding the design doc for the CCK: DC simulation.  I don't recall for certain if we had a design doc, but I recalled seeing mock-ups or having discussion about what would be in the control panels, etc.  Can you help?

[2016-12-24 17:55] arouinfar commented on #4
Looks like I didn't get it migrated over to phet-docs. It's there now, and I've given you edit access @samreid. Check your email for the Drive invite.

[2016-12-24 17:55] #4 closed

[2016-12-24 19:58] samreid commented on #4
Got it, thanks!

[2017-01-06 03:33] jonathanolson opened #5 "Automated test failure"
From fuzzing in require.js:

[code]

[2017-01-18 18:25] samreid opened #6 "Publish a prototype containing only the explore screen"
See https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/29

[2017-01-18 18:26] samreid opened #7 "This repo needs all of the github labels"
@mattpen can you help?

[2017-01-18 19:20] arouinfar opened #8 "Current meter should display a precise value when shorted"
For https://github.com/phetsims/tasks/issues/765.

The modification made to the current meter in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/6 should not be included in the prototype. Instead, the behavior should be consistent with the Java implementation. That is, large currents are displayed as is. No need to display ">10^4" or similar.

[2017-01-18 19:46] arouinfar opened #9 "Control panels should all have the same width"
For https://github.com/phetsims/tasks/issues/765.

I know this is totally a nit-picky, pixel-polishing request, but can the "Show Electrons" panel have the same width as the toolbox below it? It seems like a quick tweak, and I think it will make the sim look cleaner.

[2017-01-18 20:11] samreid commented on #8
We should also make this change for master, right?

[2017-01-18 20:12] arouinfar commented on #8
Yes, @samreid. The modification to the current meter should only exist in the branch for Shima's study.

[2017-01-18 20:14] samreid commented on #8
Note to self: a better way to manage this would be with a parameter rather than a hard-coded values in branches.

[2017-01-18 20:51] arouinfar opened #10 "Resistor tolerance strip should always be gold"
For https://github.com/phetsims/tasks/issues/765.

The 4th strip switches between gold (±5%) and yellow (±4%), depending on the resistance
* 0-9 ohms: gold
* 9.5-99 ohms: yellow
* 99.5-100 ohms: gold

Using the yellow strip for tolerance is problematic, because some half-steps (9.5, 10.5, 11.5 ohms) do not fall within the ±4% range. For example:
<img width="175" alt="screen shot 2017-01-18 at 1 30

[2017-01-18 21:44] samreid opened #11 "webgl=false doesn't disable webgl"
Observed in the black box study branch.  Does this affect master?

[2017-01-19 05:42] mattpen commented on #7
This is complete.

[2017-01-19 05:42] #7 closed

[2017-01-20 00:07] samreid commented on #7
Many thanks!

[2017-01-20 16:40] samreid commented on #11
On master, I'm seeing my graphics temporarily switch to GPU when opening the sim, then switching back to Integrated a moment later.  I'll test another sim.

[2017-01-20 16:40] samreid commented on #11
Same behavior for Hooke's Law.  I'll move this issue to Joist.

[2017-01-20 16:43] #11 closed

[2017-01-20 16:50] samreid opened #12 "Mockups should be added to the design docs."
In the design doc, there are no mock-ups: https://docs.google.com/document/d/1l9ABgqq4zgsU0f3nW4naylJ9fXGkX4RhBcLNrg0lsLE/edit

@arouinfar can you help?

[2017-01-25 16:23] samreid commented on #6
On hold until testing in https://github.com/phetsims/tasks/issues/765 is complete.

[2017-01-25 21:54] samreid opened #13 "The sim should have 3 screens"
Split into screens -- probably an “intro” and “lab” -- to be named

Intro screen would have pared-down option set.

Teachers should be able to use a query parameter with just one screen.

On the sim page we could add an “options” section that would launch the sim using different query parameters

One possibility is for the “lab” screen to have only real-world components (no non-contact ammeter, fo

[2017-01-25 21:55] samreid opened #14 "Controls for wire resistivity?"
How should we control wire resistivity, if at all?

[2017-01-25 23:33] arnabp opened #15 "Animation speed limit reach inconsistency causes flashing of text"
For phetsims/tasks#765

I set up a 95 volt battery and a 4.5 ohm resistor in series. When turning on "show electrons" the text indicating that animation speed limit has been reach begins to flash as it fluctuates between 99% and 100%. This fluctuation happens any time animation speed is reduced, but when getting a sim to the breaking point it's most apparent and can be irritating to the user.

Eas

[2017-01-27 20:21] samreid commented on #3
@arouinfar can you evaluate this recommendation and help Oliver respond to our client?

[2017-01-27 20:24] samreid commented on #2
I recall conversation about this, sometime in the last 6 months.  I should review email/unfuddle.  If I can't find anything, perhaps @ariel-phet or @phet-steele will recall something.

[2017-01-27 20:25] samreid commented on #1
Pinging @arouinfar.

[2017-01-27 21:41] samreid commented on #15
The problem is that the dt value of the simulation naturally fluctuates, this is already averaged and clipped, but we may need to add specific logic in this message that makes it only possible to change every 500ms or so.

[2017-01-28 02:20] samreid commented on #10
Here is the current resistance to color algorithm, it looks like there are problems with decimal numbers and roundoffs, and possibly with the silver band:

[code]

I was trying to dynamically compute the tolerance band.

@arouinfar can you please review this algorithm and see if you recommend any improvements?

[2017-01-28 02:24] samreid commented on #15
Likewise, it could fluctuate between any two numbers.  It would be good to eliminate all kinds of fluctuation.

[2017-02-02 17:54] arouinfar commented on #10
@samreid looking at the first `else if` statement, it seems that the tolerance is manually set to `Color.yellow` when it returns:

`return [ digitToColor( tensPlaceDigit ), digitToColor( onesPlaceDigit ), Color.black, Color.yellow ];`

I'm not sure that I understand enough what's going on in the `else` statement to recommend further improvements, but I'd be happy to chat with you about it.

[2017-02-02 20:07] arouinfar commented on #3
@samreid @oliver-phet We haven't discussed such components within the scope of CCK: DC, but we have considered items such as the fan for CCK: Basics. We can keep these suggestions in mind when we continue the design discussions for the CCK suite.

[2017-02-08 16:17] samreid commented on #5
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:17] #5 closed

[2017-02-08 17:27] samreid commented on #8
Fixed (commit will appear when GitHub processes it).

[2017-02-08 17:48] #8 closed

[2017-02-17 16:59] samreid commented on #9
This seems like a good opportunity for me to test out AlignGroup, see the sun demo.

[2017-02-17 20:32] samreid commented on #6
The phet-io version of CCK has been tested and approved for our collaborators.  Perhaps we could use that as a starting point for publishing the "prototype".

[2017-02-17 20:40] samreid commented on #6
On Jan 13, 2017 @kathy-phet said:

EDIT: changed now=>not

Today marks 5 weeks since @kathy-phet said that, so before spending time on this I thought I'd check in with @kathy-phet.  After several RC's we are feeling more comfortable that we have a solid version would probably work for the prototype.  Only brief spot checks would be necessary to make sure a single-screen re-titled version works equ

[2017-02-17 20:43] samreid commented on #6
I also sent an email:

Sam

[2017-02-17 20:55] samreid commented on #6
On 2/17/17 1:52 PM, Kathy Perkins wrote:

I replied:

Sam

[2017-02-17 20:55] kathy-phet commented on #6
Specifically, here is how wide the boat is -- so a lot of people may still be interested!

![image](https://cloud.githubusercontent.com/assets/5096804/23082921/af9441de-f518-11e6-8ea2-34fb2de2f082.png)

[2017-02-17 20:57] kathy-phet commented on #6
@samreid - Please coordinate with JO on the tracking codes that should be in there.

[2017-02-17 21:34] samreid commented on #6
@jonathanolson - Kathy suggested for me to coordinate with you about the tracking codes for a CCK prototype.  Can you help?

[2017-02-17 21:45] jonathanolson commented on #6
I'll be available to help (asked some initial questions on Skype).

[2017-02-17 21:46] samreid commented on #6
I published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.3/circuit-construction-kit-dc_en.html

* I confirmed that the Ammeter is not bounded as requested by @arouinfar in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/29#issuecomment-273262074
* I confirmed the name is "Circuit Construction Kit: Prototype"
* I

[2017-02-17 21:50] samreid commented on #6
@phet-steele or @arouinfar are you available for a brief one-platform spot check?

[2017-02-17 21:59] samreid commented on #6
@jonathanolson said:

I don’t know anything abut our tracking codes.  It sounds like Kathy wants to use tracking codes on our CCK Prototype we want to publish.

I presume @kathy-phet wants to make sure we are easily able to count the number of times this simulation is launched, even though it won't be a traditional publication that shows up on our website, and may be created with `grunt deploy-dev

[2017-02-17 22:01] samreid commented on #6
Do stats get reported for every version (including versions that contain "-dev.X"?   Or only production versions?

[2017-02-17 22:05] phet-steele commented on #6
Looked sane on macOS 10.12.3 Chrome.

[2017-02-17 22:06] kathy-phet commented on #6
I would like to be able to track the runs in yotta from this -- since it could be significant if our users pick it up -- so I expect just having it send that message to our logs @jonathanolson would be reasonable. Will it do that?

[2017-02-17 22:12] kathy-phet commented on #6
For fun I tried it on my iPhone and it works great! Definitely usable, even on the small screen.

[2017-02-17 22:59] arouinfar commented on #6
@samreid looks good on macOS 10.12 and latest Firefox. I think Show Electrons should be on by default to be consistent with the Java version.

[2017-02-17 23:52] jonathanolson commented on #6
Would this be a long-term thing that needs to be tracked? Will there be different versions? Does anything need to be tracked besides "this was run"?

[2017-02-18 07:39] jonathanolson commented on #6
A few scenarios (didn't see responses above):

- Ideally for short-term tracking (that won't need to be integrated into Yotta's code, I could pull the statistics manually), having a separate gif file get requested would make things easy. Could add query parameters on to it.
- For longer-term tracking (or if this type of tracking will be common), it would be helpful to determine what needs to be tr

[2017-02-20 09:24] kathy-phet commented on #6
@jonathanolson - Tracking would only need to be until we publish the regular DC version. We would just need the "this was run" tag - summary for each month.

The idea is to (manually) place this at the URL that the regular DC version will use, so that when we publish the DC version anyone pointing to this sim will have the latest DC version.

So something like this:
https://phet.colorado.edu/sims/

[2017-02-20 09:33] jonathanolson commented on #6
Ok, sounds good. I've added an initial setup. @samreid, we'll want the following code to run in the sim only when you want to track:
[code]

Would tomorrow (Monday) work to collaborate on this? I'll want to verify that it's showing up in our Apache logs properly.

[2017-02-20 14:45] samreid commented on #6
Sure, I'll be available to work on this today.  But I'm curious why you recommended a separate URL instead of just reusing `https://phet.colorado.edu/yotta/immediate.gif?` together with the URL and version number.  Oh, perhaps if we make a maintenance release, we still want the counting to be easy?

What about allowing simulations to augment `pingParams`?  Would that make things easier?  I'm not o

[2017-02-20 18:11] jonathanolson commented on #6
@samreid is correct, just filtering the usual Yotta messages should be sufficient in this case (as we can check for specific dev versions, e.g. 1.0.0-dev.3).

I tested by putting http://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html up (1.0.0-dev.3) and verifying that the log entries were present in the Apache logs (includes version number, times

[2017-02-20 18:14] kathy-phet commented on #6
Great. @samreid - Can you confirm that this is indeed the exact URL (sim name / format) you would expect for once we publish the CCK DC replacement sim? I don't want to have the directory name wrong or anything.

[2017-02-20 18:20] kathy-phet commented on #6
@samreid - So it looks like the only other change needed is having electrons on by default? Then this is ready - it seems!

[2017-02-20 21:10] samreid commented on #6
The URL http://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html is correct as long as we stick with the name "circuit-construction-kit-dc", though I suppose we would normally go with "https" when sharing it.  I'll turn on the electrons and publish a new dev version.

[2017-02-20 21:37] samreid commented on #6
I published a new version at http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.4/circuit-construction-kit-dc_en.html and confirmed that the only differences in the builds are the timestamps, version numbers and having the electrons on by default.

@jonathanolson can you please copy this to the appropriate place on phet-server?  (overwrite the one you created this

[2017-02-20 21:53] samreid commented on #6
@jonathanolson overwrote the URL with dev.4.

@kathy-phet it is ready to go.  Please review the concerns raised by @ariel-phet @arouinfar and myself in the "Re: Interim CCK" email thread, as it may help you frame/describe the prototype to our clients appropriately.

[2017-02-23 01:40] samreid opened #16 "Light bulb brightness should be proportionate to power, not current"
On 2/22/17 4:24 PM, Kathy Perkins wrote:

Here's the code from the Java version which is used to set the intensity:
[code]

Note the power of 0.354--we may need to fine tune this in the HTML5 version because the bulb intensities don't necessarily match the Java bulb intensities.

I should make this change in the branch then merge to master.

[2017-02-23 02:29] samreid commented on #16
I committed a proposed fix above by manually trying to match the Java behavior.  The match is not perfect because the bulb renderers are different.  I also realized there are several issues with the Java implementation, including not showing a broad dynamic range (10 Ohm bulb stops changing brightness past around 25V).  So I'd like to review this with @arouinfar or @ariel-phet or @kathy-phet befor

[2017-02-23 02:38] samreid commented on #16
I published a phet-io RC here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.1-phetiorc.1/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

@ariel-phet @arouinfar or @kathy-phet can you please work with me to identify (a) whether the behavior is good enough to publish for Shima and for our Prototype and (b) whether there are chan

[2017-02-23 17:39] arouinfar commented on #16
Consider this example:
<img width="948" alt="screen shot 2017-02-23 at 10 12 33 am" src="https://cloud.githubusercontent.com/assets/8419308/23270355/d661f152-f9b0-11e6-9654-069e586a7a4c.png">

Left battery: 9 V
Left current: 6 amps
Left power: 54 W

Right battery: 27 V
Right current: 6 amps
Right power: 162 W (3x larger than left power)

There is hardly a noticeable difference in the size of the h

[2017-02-23 19:10] kathy-phet commented on #16
I agree - max brightness should be more like the behavior where it is filling the screen or more than the screen.

[2017-02-24 04:09] samreid commented on #16
@arouinfar would you like to recommend a max power?  Or should we try to implement a gradual (instead of sudden) cutoff, like a logistic function, so that we can depict different powers over a wider range?

![image](https://cloud.githubusercontent.com/assets/679486/23290198/400a5486-fa0c-11e6-9fcf-f50512d7368d.png)

[2017-02-24 16:48] kathy-phet commented on #16
@samreid, @arouinfar  - I think we could use this sort of shaped curve on the upper end, but the behavior on the bottom end seems good. I think increasing the max brightness will help with the issue significantly -- the max brightness on the Java version seems to be bigger/longer/thicker rays and brighter than on the prototype. It reaches its max at about 60% higher voltage for the test case I did

[2017-02-24 17:04] samreid commented on #16
Thanks @kathy-phet, I moved the transparency issue to a new issue.

The light bulb library we are using accepts brightness values between 0 and 1.  If I Increase the max by a factor of 20, then a default light bulb maxes out at around 60V and looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/23312858/80aebcea-fa78-11e6-8c96-7c1ad7ee6391.png)

The behavior closer to power

[2017-02-24 17:17] kathy-phet commented on #16
@samreid , @arouinfar - I think the logistic function would be good to try, but agree it doesn't need to be done for this version.

This seems a bit too much to me - so I might try something in between. A maxPower of maybe *10 instead of *20? But Amy should chime in too.

[2017-02-24 17:30] kathy-phet opened #17 "Examining when fire should turn on"
I was just playing with current HTML DC and original DC, and I noticed that in the original, you could vary voltage by the entire slider range ... and it was only upon going to "more volts" that you could get the fire to come on. We know students slide these sliders back and forth to the extremes, so I think we should decide if we want the fire to appear on the basic interaction. To me, it seemed

[2017-02-24 18:51] arouinfar commented on #16
I think increasing the max halo size will be a bit help. I think the logistic function would be a good long-term solution, but not necessary for Stanford.

I agree with @kathy-phet multiplying the max power by 20 makes the halo a bit larger than I'd like. However,  I think 10x would likely be too small. Can you split the difference and multiply it by 15 @samreid?

[2017-02-24 18:59] samreid commented on #16
This version uses a factor of 15:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.1-phetiorc.2/wrappers/index/

Anything else to do before sharing to Stanford and creating a new Prototype?

[2017-02-24 19:06] arouinfar commented on #16
Using the example from https://github.com/phetsims/circuit-construction-kit-dc/issues/16#issuecomment-282064549, the 162 W bulb is undeniably brighter than the 54 W bulb.
![image](https://cloud.githubusercontent.com/assets/8419308/23316837/42bc0dc8-fa89-11e6-8669-daf7ef91f7b6.png)

I'm pretty happy with the updated brightness. From my perspective, there isn't anything else that would need to be do

[2017-02-24 19:10] kathy-phet commented on #16
It looks good to me.

One last question - we should check with them for the classroom study if they want Show Electrons on by default, or not. It came up in a conversation with Argenta the other day - so best to ask since Sam will be issuing a new version.
@samreid - Is the default state of Show Electrons something they can set with a query parameter? I know they can hide or show the box, I just d

[2017-02-24 19:11] kathy-phet commented on #17
@arouinfar - Just tagging you on this one for discussion later.

[2017-02-24 19:16] samreid commented on #16
There is no sim-specific custom query parameter for showing/hiding the electrons by default.  There are 16 phet-io variables for it, like  `circuitConstructionKitBlackBoxStudy.exploreScreen.model.circuit.showElectronsProperty` but that would lead to a pretty unwieldy URL.  Should I just add a custom query parameter for that, then whatever they prefer, we can support?  Or should we wait to hear fro

[2017-02-24 19:25] kathy-phet commented on #16
I think a custom parameter would be the best long-term solution for them and their studies. They are going to be using CCK a lot. Thanks!

[2017-02-24 19:25] kathy-phet commented on #16
And then that enables them to change the URL!

[2017-02-24 19:42] samreid commented on #16
I published a new version here with electrons on by default (to match master development and DC version) and a new query parameter `showElectrons` which can be set to false.

@arouinfar and @kathy-phet one of the early changes in this issue was non-trivial:
https://github.com/phetsims/circuit-construction-kit-common/commit/618d286c99e3458a2e81ed394eb06d3a8fc093da

It has the potential to cause pro

[2017-02-24 19:47] kathy-phet commented on #16
Thanks for the heads up, Sam. Lets do some testing.

Where is the new version published?

[2017-02-24 19:48] samreid commented on #16
Oops, I forgot the URL in my preceding comment:

RC.3 is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.1-phetiorc.3/wrappers/index/

[2017-02-24 20:16] kathy-phet commented on #16
Can you remind me on this page how to run the sim full screen? without a wrapper?

Perhaps we should add a "sim only" link to the page -- so that it is easy to check out full screen.

[2017-02-24 20:26] samreid commented on #16
4 days ago I added a new link to the top of the wrappers page in https://github.com/phetsims/phet-io/issues/1045 that just shows the simulation, but it will only be available for new publications out of master (or maintenance releases that pick up this change.) .

The workaround for now is to use the "Events: colorized" link, which launches the simulation full screen without an iframe.

[2017-02-24 23:25] arouinfar commented on #16
I've done a little bit of testing on the latest rc with `?showElectrons=false` and everything seems fine. @samreid do you think the changes merit more formalized testing, or is the latest version deliverable as-is?

[2017-02-27 03:37] samreid commented on #16
I think a few minutes of testing (that covers disposal of items in the toolbox and resets) is sufficient.

[2017-02-27 03:39] samreid commented on #16
@kathy-phet do you want to take a look at RC.3 before I publish it as a new production PhET-iO version, and @arouinfar shares it to our collaborators?

[2017-02-27 16:42] kathy-phet commented on #16
@samreid - I tested some, and it looks good to me. I tried some disposals and such. Thanks!

One small fix (that could be logged for later time) - when a junction is near the bottom, sometimes the "sissors" show up off screen and cannot be accessed.

[2017-02-27 20:45] arouinfar commented on #16
@samreid did a little bit more sanity testing, and everything looks good. Can you publish a new production PhET-io version?

[2017-02-28 00:46] samreid commented on #16
@phet-steele made an issue for that in https://github.com/phetsims/circuit-construction-kit-common/issues/257

[2017-02-28 00:46] samreid commented on #16
@kathy-phet said:

[2017-02-28 00:57] samreid commented on #16
New version is published here: https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.1.1-phetio/wrappers/index/

@arouinfar are you available to send out the new links?

[2017-02-28 01:07] samreid commented on #16
I sent out an email, closing.

[2017-02-28 01:07] #16 closed

[2017-02-28 16:41] samreid commented on #6
@kathy-phet said:

[2017-02-28 16:42] samreid commented on #6
I took the SHAs from the tested black-box-study version, updated the version to dev.5 in DC, spot tested light bulbs in one browser and deployed dev.5 as a new dev version.

@jonathanolson can you please overwrite the URL with dev.5?  Also, please post instructions or a script somewhere (possibly not here in a public issue) so that others may easily do this in the future.

[2017-02-28 16:51] samreid commented on #6
Working with @jonathanolson we developed this script (replace with whatever version number you want).

cd /data/web/static/phetsims/sims/html/circuit-construction-kit-dc/latest
rm circuit-construction-kit-dc_en.html
wget http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.5/circuit-construction-kit-dc_en.html

Then test by launching http://phet.colorado.edu/sims/htm

[2017-02-28 16:54] samreid commented on #6
I emailed @kathy-phet the new link.  @kathy-phet can you test it and let me know if this issue can be closed?

[2017-02-28 17:00] kathy-phet commented on #6
Tested. Looks great! Thx

Sent from my iPhone

On Feb 28, 2017, at 9:54 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

I emailed @kathy-phet<https://github.com/kathy-phet> the new link. @kathy-phet<https://github.com/kathy-phet> can you test it and let me know if this issue can be closed?

—
You are receiving this because you were mentioned.
Reply to this email di

[2017-03-01 20:37] arouinfar commented on #13
@samreid preliminary mockups of both screens are in the design doc. I've also added a discussion of Intro vs. Lab to the to the table for the next design meeting. I'm going to go ahead and close this issue.

[2017-03-01 20:48] arouinfar commented on #12
@samreid I added preliminary mockups to the doc a few days ago. Closing.

[2017-03-01 20:48] #12 closed

[2017-03-01 21:09] samreid commented on #13
Should I leave this issue open until the 2nd screen is added in the code?

[2017-03-01 22:03] arouinfar commented on #13
It's up to you @samreid, but I think it makes more sense for you to be the one assigned.

[2017-03-02 22:53] oliver-phet opened #18 "User suggestion: schematic view for all components and meters"
![image](https://cloud.githubusercontent.com/assets/5090275/23530537/53f47faa-ff5f-11e6-988a-d33f3c96f199.png)

[2017-03-02 23:14] oliver-phet opened #19 "User suggestion: ammeter two probes"
It looks good, I really like that the resistors change their color code and that the light can change its resistance to zero.
But could the ammeter also have two probes to reinforce that the flow of electrons goes through the meter and that the circuit must be interrupted. I know that newer ammeters do not need to interrupt the circuit but multimeters do have this requirement.
Adding a switch woul

[2017-03-02 23:31] oliver-phet opened #20 "User suggestion: LED"

[2017-03-02 23:34] oliver-phet opened #21 "User suggestion: more components"

[2017-03-02 23:35] oliver-phet opened #22 "User suggestion: adjustable amperage fuses"

[2017-03-02 23:36] oliver-phet opened #23 "User reported issue and suggestion: ammeter, bulb intensity"

[2017-03-02 23:39] oliver-phet opened #24 "User reported issue: ammeter"

[2017-03-03 00:11] arouinfar commented on #24
@oliver-phet the Java version of CCK has two different ammeters: Ammeter & Non-contact ammeter. The "Virtual Lab" flavors of CCK do not include the non-contact ammeter. CCK: Prototype only has the non-contact ammeter, but CCK: DC will include both varieties.

The ammeters typically used in classrooms require the user to break the circuit and insert the ammeter like so:
![image](https://cloud.githu

[2017-03-03 00:26] arouinfar commented on #23
@oliver-phet here are my thoughts...

The user is referring to a multimeter like those typically used in classrooms. The "Ammeter" in the Java CCK behaves like a multimeter when it measures the current. See #24 for more ammeter-specific discussion.

The brightness of the bulb is proportional to the Power (P = IV). If the voltage is held constant, increasing the current (by decreasing the bulb's re

[2017-03-03 00:31] arouinfar commented on #20
@oliver-phet we have been discussing the inclusion of non-Ohmic components in CCK: DC, including the possibility of an LED (diode) and a non-Ohmic bulb (filament lamp).

[2017-03-03 00:35] arouinfar commented on #18
@oliver-phet the Java version of CCK has a "Schematic" option to view the circuit elements symbolically (like in the user's screenshot). While CCK: Prototype does not include this feature, CCK: DC will.

[2017-03-03 00:36] arouinfar commented on #19
@oliver-phet we will be adding a switch and a more traditional ammeter (that requires inserting the meter in series) to CCK: DC. However, these features are still in the design process.

[2017-03-03 00:38] arouinfar commented on #14
@samreid I believe we'll use a slider, like the Java version. Something like this, for example:
![image](https://cloud.githubusercontent.com/assets/8419308/23533427/f6e583a8-ff6e-11e6-94c9-8d65efb4fa86.png)

[2017-03-03 00:39] arouinfar commented on #14
However, we haven't had a recent discussion about it in design meeting. I think it'd be good to bring it up again, so I'll leave this tagged for design meeting.

[2017-03-03 00:42] arouinfar commented on #22
@oliver-phet we haven't (yet) discussed the inclusion of fuses, but I can look into the possibility. Self-assigning for further investigation.

[2017-03-03 00:47] arouinfar commented on #21
Thanks @oliver-phet.

I'm not entirely sure what the user means by "meter activities" but I don't believe we have any intention of creating a single multimeter. Instead, we'll have separate meters for voltage and current.

We will most likely be adding an LED to CCK: DC.

I'll look into the possibility of adding a fuse (see #22). I think a motor is likely beyond the ​scope of CCK: DC, but it's som

[2017-03-03 15:43] #24 closed

[2017-03-03 15:47] #23 closed

[2017-03-03 15:48] #20 closed

[2017-03-03 15:49] #19 closed

[2017-03-03 16:30] samreid opened #25 "Better name for the "explore" screen"
Yesterday we discussed the overall flow of 3 screens: Intro => More => Lab.  However, "More" is not a very descriptive term and I was wondering if we could come up with something better.  It seems the learning goal we wish to address is basically that objects in everyday life can be classified and conductors or insulators.  Is that correct?  Perhaps "Conductors and Insulators" is too verbose and o

[2017-03-03 16:41] arouinfar commented on #18
@oliver-phet saw an exchange with one of our users on Twitter about this same issue, and I think he is asking for all components to have a schematic view, including the light bulb and meters.

![image](https://cloud.githubusercontent.com/assets/8419308/23559741/3f53c952-fff5-11e6-98f5-42e0dde8ddb1.png)

![image](https://cloud.githubusercontent.com/assets/8419308/23559513/7b9b7d02-fff4-11e6-94c4-ec

[2017-03-03 16:44] samreid opened #26 "Add screen icons"
Now that we decided to have 3 screens, we will need icons for the screens.  @arouinfar can you please recommend or create something for the icons?

[2017-03-03 17:29] ariel-phet commented on #25
Maybe "Explore"? so Intro, Explore, Lab. Or another word that suggest a bit more in depth than intro.

[2017-03-03 17:32] samreid commented on #25
In my opinion, "more" and "explore" suffer from the same problem that they don't identify what there is "more" of or what you are "exploring".  Since you are exploring more objects, I thought "Objects" might be a good screen name, since the thing that the 2nd screen adds is primarily more objects.  Thoughts?

[2017-03-03 17:41] ariel-phet commented on #25
@samreid if that is the issue "circuit elements" would be the correct nomenclature. Not a fan of "objects" - that is just kind of boring an vague. I don't quite agree that more and explore suffer from the same problem. "intro" doesn't tell you what you are "introing" to, however you are embedded within a circuit construction sim. So I think some progression like "intro, advanced, lab" or "intro, e

[2017-03-03 17:43] samreid commented on #25
How about "Conductors" as something less boring/vague that also gets at our learning goals and more specific about the content of that screen?

[2017-03-03 17:57] arouinfar commented on #25
I definitely don't love "More" but thought of it as a placeholder name. I would agree with @ariel-phet that "Objects" is a bit bland. "Conductors and Insulators" is descriptive, but too verbose and "Conductors" is misleading. I think "Explore" is a viable option, though I think of Explore screens as being an intro, usually.

Perhaps we could title the screen "Grab Bag" because it's really the focu

[2017-03-03 20:28] oliver-phet opened #27 "User suggestion: show currents through circuit elements (not just wires)"

[2017-03-03 22:22] samreid commented on #25
After discussion, "Grab Bag" is my new favorite.  It also looks good in context (not too wordy) and will work great when it has a corresponding icon.

![image](https://cloud.githubusercontent.com/assets/679486/23571194/1e1056e0-0025-11e7-956e-691c5290d340.png)

[2017-03-04 00:33] arouinfar commented on #25
I like the sequence of Explore - Grab Bag - Lab!

[2017-03-06 18:29] oliver-phet opened #28 "User reported issue: extra electron when moving bulb"

[2017-03-06 18:36] phet-steele commented on #28
This would be phetsims/circuit-construction-kit-common/issues/251

[2017-03-06 18:46] #28 closed

[2017-03-06 18:52] ariel-phet commented on #22
I would say a fuse seems like a reasonable item to add, and should be fairly easy to program...it basically has two states, either more or less a no resistance wire, or a broken connection, and it would merely break as a result of current exceeding a particular value. Seems like it would be a valuable addition for people teaching circuits and the learning goals taught in basic physics classes.

[2017-03-06 18:53] ariel-phet commented on #18
@arouinfar this suggestion documented here came from the twitter user (I asked him to email phethelp with the suggestion)

[2017-03-06 18:55] ariel-phet commented on #25
Not to be a downer...but I do have one somewhat large concern with "grab bag" - I am not sure how well that idea translates into other languages, it seems like a very idiomatic expression in English. I would prefer if we could find something more universal.

[2017-03-06 19:10] samreid commented on #25
I see your concern and think "grab bag" may be idiomatic and difficult to translate.  I'm not opposed to finding a better name for this, but I also skimmed the CCK Java translations for this to see how it had been translated before in case (a) it seems like there might not be a problem or (b) if there are good ideas there:

af: Item Sak
pt: Saco de Objectos
pt_br: Sacola Surpresa
es_pe: Caja de So

[2017-03-06 19:14] ariel-phet commented on #21
I am actually generally a fan of adding a motor (not a stepper motor) since it can likely have a simple model much the light bulb (more current means a faster spin). I feel like it is a component worth of being in both DC and Basics (personally)

Some of these other components (555 timer, regulators, rectifiers, etc) get far beyond the scope of our learning goals.

[2017-03-06 19:16] ariel-phet opened #29 "Add high resistance and high voltage components"
A twitter user was wondering if there was a way to go above 100 ohms on resistance (not possible in Java sim)

Perhaps we could have a "low" resistance resistor and a "high" resistance resistor on the lab screen. It does seem helpful to have the ability to go above 100 ohms.

[2017-03-06 19:36] arouinfar commented on #29
@ariel-phet I think it's definitely something we should consider. I've been combing through the relevant Unfuddle tickets, and we've had a similar suggestion before.

Unfuddle Ticket [#3607](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3607?cycle=true)

The problem I am facing now is that the simulation only seems to permit a maximum resistance of 100 ohms. Is there any way I can e

[2017-03-06 19:56] arouinfar commented on #25
@ariel-phet makes a good point. While @samreid has pointed out that "Grab Bag" appears to localize reasonably, I think the HTML5 version will differ a bit from Java. In Java, "Grab Bag" appears within the sim itself (next to a bag icon), so it's clear what the string refers to. For the HTML5 version, we've discussed adding the grab bag contents to the item carousel, so "Grab Bag" will only appear

[2017-03-06 20:02] arouinfar commented on #21
@ariel-phet after reading the relevant Unfuddle tickets (I'll get them moved over to GitHub this afternoon) I would agree that a motor would be worth adding to CCK: DC. I wasn't that familiar with the other components the user suggested, but after reading about them a bit more, I would agree that they are beyond the scope of the sim.

I'll be opening separate issues for the diode/LED and motor and

[2017-03-06 20:10] arouinfar opened #30 "User suggestion: Add diode/LED"
There have been several requests for the addition of a diode/LED.

Unfuddle Ticket [#3688](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3688?cycle=true)

Unfuddle Ticket [#2170](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2170?cycle=true)

From #21

The requests for a DC motor and fuse will be tracked separately. More complicated components such as the 555 timer, r

[2017-03-06 20:28] arouinfar commented on #22
Combining the requests for a fuse into one issue.

From #22

[2017-03-06 20:28] arouinfar commented on #22
I agree @ariel-phet -- I think a fuse would be a worth-while addition.

[2017-03-06 20:37] arouinfar commented on #22
A fuse was also requested in #3

On the plus side, great simulators for showing basic circuit faults.

[2017-03-06 20:40] arouinfar opened #31 "User suggestion: Add motor/fan"
Several users have requested the addition of a motor (or fan)

Unfuddle Ticket [#1778](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/1778?cycle=true)

Unfuddle Ticket [#2525](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2525?cycle=true)

"circuit construction kit". It s nice to use it with my students.
May I ask you if there is any way to add some components like a
l

[2017-03-06 20:41] #21 closed

[2017-03-06 23:12] arouinfar opened #32 "User suggestion: two-way switch"
We've had a few requests for additional switches.

Unfuddle Ticket [#3532](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3532?cycle=true)

From #3

On the plus side, great simulators for showing basic circuit faults.

A two-way switch seems like a potentially useful addition, but a three-way switch could be constructed from two-way switches and wires. From Wikipedia's entry on [Mult

[2017-03-06 23:21] arouinfar commented on #3
These requests are being tracked in the issues referenced above. Closing.

[2017-03-06 23:21] #3 closed

[2017-03-06 23:31] arouinfar opened #33 "User suggestion: snappy switch"
Unfuddle Ticket [1840](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/1840?cycle=true):

Circuit components are already "snappy" (vertices snap together when close), so perhaps we'll get this for free when we implement the switch.

[2017-03-06 23:39] arouinfar opened #34 "User reported issue: electrons shouldn't be visible in switch while it is open"
Unfuddle Ticket [#1743](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/1743?cycle=true):

I've also noticed this behavior, and find it a bit problematic. The electrons make it appear that the switch is closed.
![image](https://cloud.githubusercontent.com/assets/8419308/23635067/cf2e4812-028a-11e7-8242-f6f1890d7402.png)

The new switch we design for https://github.com/phetsims/circuit

[2017-03-08 16:31] samreid commented on #25
Brainstorming:
"Household Items"
or
"Everyday Items"

[2017-03-08 16:36] samreid commented on #13
I've added the screens, we can fill them out in other issues, closing.

[2017-03-08 16:36] #13 closed

[2017-03-08 22:25] samreid commented on #9
@arouinfar what should happen for languages where the show electrons panel is much wider than the sensor toolbox?

[2017-03-08 22:25] samreid commented on #2
@arouinfar can you look into this?  Did you come across anything like this in unfuddle?

[2017-03-09 20:47] arouinfar commented on #22
Discussed in 3/9/17 design meeting.

Flow:
* If max current exceeded, fuse breaks (internal wire visibly broken)
* Increase current rating it becomes thicker
* If fuse is blown, reset button becomes available in the edit menu

In lifelike mode:
![image](https://cloud.githubusercontent.com/assets/8419308/23770016/9b8dc87a-04ce-11e7-8e50-cc3fdac88828.png)

In schematic mode:
![image](https://cloud.g

[2017-03-09 20:52] arouinfar commented on #22
@samreid estimates 25 development hours + extra time for discussion, qa, etc.

[2017-03-09 21:06] arouinfar commented on #32
A two-way switch can be built from wires and knife switch, so it is not a necessary item to add.

[2017-03-09 21:19] arouinfar commented on #30
Discussion from 3/9/17:

- Choose just one type of LED. No need for multiple colors.
- Treat it like a perfect diode (don't allow a large negative voltage to overload it).

[2017-03-10 22:37] arouinfar commented on #18
In the 3/9/17 design meeting we briefly discussed the schematic bulb:
* It is tricky to move the vertices when switching between lifelike and schematic, so consider keeping the vertices in the same location for both versions of the bulb.
* What should electron path look like? Should the electrons be visible? The easiest option would be for the electrons to travel along the filament path, even when

[2017-03-15 22:19] oliver-phet opened #35 "User suggestion: electrocute the dog"

[2017-03-15 23:37] ariel-phet commented on #35
I am fairly sure that it was a conscious decision to no longer allow animal cruelty

[2017-03-16 14:34] oliver-phet commented on #35
It might be best to remove those options from the grab bag in the HTML5 version?

[2017-03-16 20:47] arouinfar commented on #18
Goals for schematic view:
* Simplify and standardize the view of the circuit.
* Viewing the electrons does not explicitly support schematic learning goals, so may not be necessary.

Rough draft:
![image](https://cloud.githubusercontent.com/assets/8419308/24017847/4256a14e-0a57-11e7-97c7-ec23faa3ff49.png)

In the toolbox, the schematic view of the bulb would not have the additional wires.
Leave the

[2017-03-16 20:53] arouinfar commented on #18
For 1.0 we will have a more schematic-like bulb, but schematic meters are beyond the scope of the learning goals. I will create a separate issue for the bulb, and then close this one.

[2017-03-16 21:18] arouinfar commented on #33
Given current discussion of the switch (behavior similar to CL:B), this will be addressed.

[2017-03-16 21:18] #33 closed

[2017-03-17 18:03] arouinfar commented on #18
Remaining work for schematic bulb is being tracked in #273. Closing.

[2017-03-17 18:03] #18 closed

[2017-03-17 18:45] arouinfar commented on #31
We haven't discussed this component yet during design meeting, but I don't believe it'll be a necessary feature in 1.0.

[2017-03-17 19:22] arouinfar commented on #27
Another user has requested we add an additional decimal place to the current meter readout.

Unfuddle ticket [#3728](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3728?cycle=true)

we using a little voltage as 12 v to a void electric shock .. then the current will be in mill amp . The Ammeter is not sufficient sensitive for this, for example the current is 0.012 amp -> 12 m A the am

[2017-03-22 17:58] arouinfar commented on #9
@samreid generally we have a limit to how wide we allow panels to expand for i18n -- I think 50 px has worked well in the past. Would it be possible to keep all panels the same width? Say the "Show Current" panel needs to expand by 40 px, but "Wire Resistivity" only needs 30 px to accommodate the translated string. In this situation, could you add some logic that would expand all panels by 40 px (

[2017-03-22 19:07] arouinfar commented on #26
This issue will need to wait until we have the artwork for the grab bag items, but I have a rough idea for the screen icons.

* Intro: Single light bulb (major goal of this screen is to create a complete circuit/light a light bulb)
* Explore (??): Variety of grab bag items
* Lab: Variety of circuit components, similar to the current icon. Alternatively, could show circuit components and grab bag i

[2017-03-23 15:36] samreid commented on #26
A lit bulb for the first screen sounds OK for the navbar icon (not sure how it would look as a large homescreen icon though).  Not sure about showing grab bag items or circuit components for screen 2-3 (but don't have any better recommendations at the moment).

[2017-03-23 16:15] arouinfar commented on #26
@samreid @ariel-phet I'm definitely open to suggestions, but I don't know if we want to show any complete circuits in the screen icons, as that may give away too much information.

[2017-03-23 22:31] arouinfar opened #36 "Controls for internal resistance of battery"
In Java, the battery can have an internal resistance of up to 9 ohms. We have not yet discussed this feature, though I imagine it will be desirable for 1.0. Self-assigning to mock up a few options.
<img width="219" alt="screen shot 2017-03-23 at 4 29 14 pm" src="https://cloud.githubusercontent.com/assets/8419308/24273051/e111e7a6-0fe5-11e7-88f9-85818a6abf91.png">    <img width="219" alt="screen sh

[2017-03-23 22:33] arouinfar commented on #29
Discussed in 3/23/17 design meeting.

We decided to create three additional components - high V battery, high R bulb, high R resistor. Self-assigning to mock up these new components.

[2017-03-23 23:06] arouinfar commented on #34
This has been addressed in the redesigned switch. There's still some pixel-polishing to be done, but the electron location will not be an issue. Closing.

![image](https://cloud.githubusercontent.com/assets/8419308/24273950/f0e9a31c-0fea-11e7-94d1-88fee2f17784.png)

[2017-03-23 23:06] #34 closed

[2017-04-06 15:14] oliver-phet opened #37 "User reported issue: incorrect current reading on amp meter"

[2017-04-10 20:33] oliver-phet opened #38 "User reported issue: resistance of wire"
![screenshot1](https://cloud.githubusercontent.com/assets/5090275/24881285/910f9ab4-1dfa-11e7-800a-efa80f1b086d.png)

![screenshot2](https://cloud.githubusercontent.com/assets/5090275/24881289/94f35030-1dfa-11e7-9f84-4c4d043f670c.png)

![screenshot3](https://cloud.githubusercontent.com/assets/5090275/24881297/98472342-1dfa-11e7-8b73-8cb405d7b91e.png)

[2017-04-13 19:51] arouinfar commented on #35
@oliver-phet we plan to keep the dog in HTML5, but we will not allow users to electrocute it. If you've already responded to the user can you go ahead and close this issue?

[2017-04-13 19:57] arouinfar commented on #37
@samreid looks like this is related to https://github.com/phetsims/circuit-construction-kit-common/issues/266.

[2017-04-13 21:01] arouinfar commented on #38
@oliver-phet the model does not support wires with zero resistance, so we will not be able to address this user's suggestion. Please let me know if you'd like me to draft a response to the user.

[2017-04-13 21:04] arouinfar commented on #14
As discussed in 4/13/17 design meeting
![image](https://cloud.githubusercontent.com/assets/8419308/25024285/87e946b2-205a-11e7-821d-f301fc3a2e96.png)

[2017-04-13 21:10] arouinfar commented on #36
Add "Battery Internal Resistance" accordion menu to Lab screen like the Wire Resistivity controls. Range 0-10 ohms. Thumb snaps to 1 ohm intervals. Tick marks at each value -- no readout/tweaker necessary. Leaving self-assigned to mock up.

[2017-04-13 22:20] arouinfar commented on #36
Initial mockup:
![image](https://cloud.githubusercontent.com/assets/8419308/25026663/bd982166-2064-11e7-82fe-64438869f469.png)

"Battery Internal Resistance" is a bit too verbose, so I went with "Battery Resistance". We can tweak the title later, if need be. I couldn't find an example of a slider that included units on the tick marks, so I added a readout. Still not sure that this needs tweakers,

[2017-04-13 22:28] arouinfar commented on #29
Some options for high-R components. High-R resistors and batteries are 33% taller than the standard components.
![image](https://cloud.githubusercontent.com/assets/8419308/25026835/bee8892e-2065-11e7-8246-bb87a209a6ae.png)

We'll also need to decide where these items belong in the carousel. Should they be grouped with standard version, or on a later page of the carousel?

[2017-04-13 22:31] samreid commented on #37
@arouinfar: @Denz1994 and I looked at this and saw the following:

![image](https://cloud.githubusercontent.com/assets/679486/25026934/8a481166-2066-11e7-9312-76a72571d150.png)

1 amp downstairs and 10 amps upstairs.  Is this incorrect?

[2017-04-13 22:35] samreid commented on #36
@Denz1994 there is no model to hook this up to yet, but can you work on the view?

[2017-04-13 22:45] oliver-phet commented on #38
User email has been forwarded to @arouinfar so that she can respond.

[2017-04-13 22:45] #38 closed

[2017-04-14 19:02] arouinfar commented on #37
@samreid @Denz1994 the behavior of the circuit in your screenshot is correct. Perhaps the user built a circuit like this:

<img width="200" alt="screen shot 2017-04-13 at 4 35 05 pm" src="https://cloud.githubusercontent.com/assets/8419308/25027067/5373d1f6-2067-11e7-8209-73e0887f17dd.png"><img width="200" src="https://cloud.githubusercontent.com/assets/8419308/25052728/7794375c-2110-11e7-8cc8-96ea

[2017-04-14 19:42] arouinfar commented on #27
If we allow the non-contact ammeter to read over components, as the user in https://github.com/phetsims/circuit-construction-kit-dc/issues/27#issue-211793976 suggested, we may be able to avoid user issues such as https://github.com/phetsims/circuit-construction-kit-dc/issues/37.

[2017-04-18 00:09] Denz1994 commented on #36
I began working on this. The readout still needs to be modified to update in response to the slider value. Also, there also needs to be adjustments to the layout of the panels to allow for the battery resistance panel to fit.

![image](https://cloud.githubusercontent.com/assets/13894380/25109261/c2b6dbba-2398-11e7-8e74-9e3daa1bf8f0.png)

![image](https://cloud.githubusercontent.com/assets/13894380

[2017-04-18 16:03] samreid commented on #36
Thanks @Denz1994!  I realize you aren't done with this issue yet, but I'm going to commit a few minor fixes, some TODO comments and add some review comments here.

[2017-04-18 16:11] samreid commented on #36
OK commits are above and review comments are here:

- [ ] BatteryResistanceControl tandem arg is unused
- [ ] Factor out `trackSize: new Dimension2( 150, 5 )` to constants file and share with Resistivity slider
- [ ] See if other constants can be shared with resistivity control
- [ ] `createText` and `createText` should have JSDoc
- [ ] This line:

[code]
should be simplified, something like this

[2017-04-18 16:17] samreid commented on #36
Depending on how many things need to get factored out between WireResistivityControl and BatteryResistanceControl, we should consider factoring out a parent class CircuitConstructionKitSliderControl.js which would be the parent class for both WireResistivityControl and BatteryResistanceControl (with option to show/hide the number box).

[2017-04-18 16:19] samreid commented on #36
I also created an issue for @arouinfar about dealing with the layout problem @Denz1994 discovered: https://github.com/phetsims/circuit-construction-kit-common/issues/286

[2017-04-18 16:36] Denz1994 commented on #36
I had this in mind when implementing the BatteryResistanceControl. I would imagine it would follow a similar pattern in ```CircuitElementEditContainerPanel.js lines 71-86.

[2017-04-19 03:01] samreid commented on #14
This is implemented, closing.

[2017-04-19 03:01] #14 closed

[2017-04-19 03:15] samreid commented on #10
I'm thinking of rewriting the algorithm based on the description here:
https://en.wikipedia.org/wiki/Electronic_color_code

[2017-04-19 03:45] ariel-phet commented on #26
@arouinfar @samreid I think in the lab icon it might be good to have some sort of measurement being made, perhaps with the realistic ammeter. Or perhaps just the voltmeter probes across some circuit element.

I agree intro icon should be a lit bulb.

As for explore, maybe show a couple connected items but not a complete circuit, so perhaps wires go "off screen" of the icon and a couple of elements

[2017-04-19 04:46] samreid commented on #10
I have worked out a rough draft which is (a) not crashing and (b) appears to be a step in the right direction.  I'll commit it to master and I would like to add unit tests and think more about the tolerance band.

[2017-04-19 05:31] samreid commented on #10
After some fine tuning, the new algorithm seems like it may be working OK.  However, we should discuss the tolerance bands.  For instance, for a 9.5 Ohm resistor, the implementation provides this color band scheme:

white,green,gold,gray

I cross checked this with https://www.allaboutcircuits.com/tools/resistor-color-code-calculator/ and saw the following:
![image](https://cloud.githubusercontent.

[2017-04-19 05:39] samreid commented on #10
Here are the computed tolerances for our supported resistors:

[code]

It looks like the max tolerance is 5% (gold) which occurs 10.5-24.5 ohms.  @arouinfar do you recommend going with narrow, specific tolerances that vary or a fixed, less specific tolerance that remains constant?

[2017-04-19 05:41] samreid commented on #10
I noticed in the original comment @arouinfar said:

I'll go for that.

[2017-04-19 05:47] samreid commented on #10
In the above commit, I eliminated tolerances less than gold, but left silver in case we ever need it (though it doesn't appear in our 0.5-100 ohm range).

I also noticed that the specification color of gold from the wikipedia page doesn't show up too well against our resistor color:

![image](https://cloud.githubusercontent.com/assets/679486/25164941/ff3ae808-2490-11e7-92e7-e31f97c6942d.png)

I'm

[2017-04-19 19:19] samreid commented on #26
Reassigned to @arouinfar to review @ariel-phet's recommendations.

[2017-04-19 19:21] samreid commented on #37
@arouinfar is the user seeing the wire resistivity?  What should we do next?

[2017-04-19 19:28] samreid commented on #27
Are you suggesting the user could read the current through the battery?  Presumably they would see the same problems if they read the current through the resistors.

[2017-04-19 19:40] samreid commented on #27
@arouinfar it wouldn't be too much programming work to show current through batteries or resistors.  I am mainly concerned with (a) analogy to real life and (b) consistency within the other tools in the sim.  It seems like the voltmeter should not read out a value if touching the (non-conductive) casing of the battery but what would happen in real life with a non-contact ammeter over a battery?

[2017-04-19 19:42] samreid commented on #17
@arouinfar can you consider @kathy-phet's thoughts above and make a recommendation?

[2017-04-19 19:56] arouinfar commented on #17
@samreid as far as I understand, @kathy-phet's concerns in https://github.com/phetsims/circuit-construction-kit-dc/issues/17#issue-210109855 all stem from the 4.5 ohm default resistance. By bumping up the default resistance to 10 ohms, the fire will not appear in a simple one battery, one resistor (10 ohm) circuit, even if the voltage is increased to 100 V.

@kathy-phet can you please take a look

[2017-04-19 20:19] arouinfar commented on #37
@samreid I think the user's issue is in how they constructed the circuit. Without adding the extra wires (like the 2nd screenshot in https://github.com/phetsims/circuit-construction-kit-dc/issues/37#issuecomment-294215371), the user isn't able to get a current reading through each resistor because the current meter only reads on top of wires. However, if they turn on electrons, it'd be pretty easy

[2017-04-19 20:28] arouinfar commented on #27
Good to know @samreid!

I think the non-contact ammeter is best represented by an AC/DC current clamp, such as this one:
http://en-us.fluke.com/products/all-accessories/fluke-i1010.html#techspecs

Generally, they're supposed to read over wires, but I don't know if they would also be able to read over a simple resistor or AA battery. @ariel-phet do you know?

If a real-life current clamp could read

[2017-04-19 20:44] arouinfar commented on #26
I'm not sure if we want to show a lit light bulb for the Intro screen icon, but if we do, I think we'll want to run wires off-screen like so. I think a having a lit, disconnected bulb would be a bit odd.
<img width="300" src="https://cloud.githubusercontent.com/assets/8419308/25200780/c6fb848a-250c-11e7-9634-7bc02b00021c.png">

For Explore, we could do something like this, but replace the resistor

[2017-04-19 21:04] arouinfar commented on #10
@samreid I pulled the gold color from your screenshot and tweaked the color of the resistor. In Illustrator the resistor has a transparent white shape layered over a darker coppery color. Originally, the white layer's opacity was set to 50%, but I've reduced it further to 30%, which seems to do the trick.

Here's a comparison of the updated (top) and original (bottom) resistors
![image](https://cl

[2017-04-19 23:27] samreid commented on #10
That looks a lot better to me, but at the small size it appears in the sim, it is still difficult to distinguish the gold bar.  Can you adjust further or recommend a different shade of gold?

[2017-04-20 02:37] samreid commented on #25
Naming this screen and picking the icon seem like they should be done together.  In https://github.com/phetsims/circuit-construction-kit-dc/issues/26 we are discussing a circuit with a coin.  I think "Explore" would be OK but I still feel that "Everyday Items" would be somewhat better.  I think a quick conversation during an upcoming design meeting would be enough to decide and move on.

[2017-04-20 16:25] arouinfar commented on #25
Good idea @samreid. I've added this item to today's agenda.

[2017-04-20 16:39] arouinfar commented on #10
Thanks for the feedback @samreid. I've tweaked the gold color a bit (#e6b600), and darkened the resistor. I think this looks pretty good:
<img width="340" alt="screen shot 2017-04-20 at 10 38 24 am" src="https://cloud.githubusercontent.com/assets/8419308/25242077/a1a346b0-25b5-11e7-8625-3c9893ec6c2b.png">

[2017-04-20 16:46] samreid commented on #10
Those colors look great, I'll add the gold.  Can you provide the new image?

[2017-04-20 16:57] arouinfar commented on #10
Sent! Back to you @samreid.

[2017-04-20 17:36] samreid commented on #10
Updated, here it is in context:
![image](https://cloud.githubusercontent.com/assets/679486/25244352/9810c4ee-25bd-11e7-8589-9485fb75baa5.png)

Brown (in the default 10 ohm resistor) kind of blends in--what do you think?

[2017-04-20 17:41] arouinfar commented on #10
Aaah, good catch @samreid. Perhaps I should make the resistor a bit lighter, then.

[2017-04-20 20:55] arouinfar commented on #25
As discussed 4/20/17, let's stick with Explore.

[2017-04-20 20:55] #25 closed

[2017-04-20 21:04] arouinfar commented on #26
Intro: Single bulb, not lit, similar to CL:B
![image](https://cloud.githubusercontent.com/assets/8419308/25252536/9e1b97c0-25da-11e7-9416-ba0dd7e39fb0.png)
Explore: Single grab bag item (coin?) with wires going off screen, electrons on
![image](https://cloud.githubusercontent.com/assets/8419308/25252436/37c54d2c-25da-11e7-9581-8402de8ac1ef.png)
Lab: Act of taking a measurement, don't need the enti

[2017-05-01 22:32] arouinfar commented on #29
Based on the design meeting discussion, I've mocked up the high V/high R components. Before I send the assets off to @samreid, can you take a look @ariel-phet? Any suggestions?

![image](https://cloud.githubusercontent.com/assets/8419308/25597284/243e9290-2e8b-11e7-9b74-54bcb82058d7.png)

[2017-05-01 22:32] arouinfar commented on #10
@samreid I've dialed the resistor darkness back a bit. I'll email you the updated assets.
![image](https://cloud.githubusercontent.com/assets/8419308/25597312/4277f06c-2e8b-11e7-899e-1337d5d80f79.png)

[2017-05-02 19:46] oliver-phet commented on #37
Here are two screenshots @arouinfar
![image 1](https://cloud.githubusercontent.com/assets/5090275/25636134/b77c7952-2f3d-11e7-9928-15a10ec06f40.png)
![image](https://cloud.githubusercontent.com/assets/5090275/25636135/b78d9930-2f3d-11e7-90f0-4a0850b82a45.png)

[2017-05-03 16:33] zepumph opened #39 "TypeError from phet-io fuzz test"
[code]

[2017-05-03 21:25] samreid commented on #39
I fixed several phet-io things this afternoon and cannot reproduce this problem.  @zepumph can you test if it is fixed now?

[2017-05-03 22:56] zepumph opened #40 "Was already disposed error on FuzzMouse"
while trying to fuzz to see if #39
[code]

[2017-05-03 22:58] zepumph commented on #39
I fuzzed for a long time, both in phet and phet-io brand, but I only got the error from #40, and not this one. I would say safe to close.

[2017-05-03 22:58] #39 closed

[2017-05-04 11:49] samreid commented on #40
Maybe fixed in https://github.com/phetsims/circuit-construction-kit-common/issues/297

@zepumph can you please check?

[2017-05-04 14:50] zepumph commented on #40
A fuzz test for over a minute yields no errors. I feel good closing.

[2017-05-04 14:50] #40 closed

[2017-05-04 22:02] arouinfar opened #41 "Items to Include in Teacher Tips"
- [x] https://github.com/phetsims/circuit-construction-kit-common/issues/294 - Voltmeter probes read anywhere within the vertex.
- [x] https://github.com/phetsims/circuit-construction-kit-common/issues/147 - Electron animation is paused when dragging circuit component or vertex.
- [x] Non-contact ammeters exist (e.g. AC/DC current clamp) though are typically used to measure ~1-1000 amps.
- [x] htt

[2017-05-05 20:08] samreid commented on #10
Committed above and looks great in the app.

[2017-05-05 20:10] samreid commented on #10
@arouinfar please review and close if all is well:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.14/circuit-construction-kit-dc_en.html

[2017-05-05 21:40] arouinfar commented on #10
👍

[2017-05-05 21:40] #10 closed

[2017-05-08 17:48] zepumph opened #42 "PhET-iO Fuzz Testing: Cannot register two instances to same tandem id"
[code]

[2017-05-08 17:57] samreid commented on #42
Thanks for the bug report, will you please see if it is fixed by the above commit?

[2017-05-08 18:06] zepumph commented on #42
It did indeed! Now how about this one:

[code]

I am using aqua Fuzz Testing for phet-io to catch these, here is the link that I use:
http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4&fuzzMouse&brand=phet-io&phetioStandalone&testSims=balloons-and-static-electricity,beers-law-lab,build-an-atom,capacitor-lab-basics,charges-and-fields,circuit-

[2017-05-08 18:20] samreid commented on #42
Thanks!  Tests appear to be passing after recent commits (I forgot to link SHAs), can you double check?

[2017-05-09 00:07] zepumph commented on #42
All looks good now. Thanks.

[2017-05-09 00:07] #42 closed

[2017-05-09 17:00] ariel-phet commented on #27
@arouinfar I see no reason to not read over a resistor, there is certainly current going through the resistor. Such clamps use measurments of the magnetic field to the best of my knowledge (and quick research) and magnetic fields are *very* difficult to shield, so a normal resistor would not be an issue. I think the main issue is that in the real world such instruments are made to read higher curr

[2017-05-09 19:05] ariel-phet commented on #29
@arouinfar I think the high voltage battery looks good. I might make the stroke on the resistor symbol fatter. Maybe 50% more? I also wonder if it would look good in a color that is not the "schematic" color.

[2017-05-09 21:26] arouinfar commented on #29
Thanks @ariel-phet! I cleaned up the resistor symbol a bit, increased the stroke width, and played with color. Darker colors will have better contrast against copper, and I think navy looks pretty good without being too flashy.

![image](https://cloud.githubusercontent.com/assets/8419308/25872841/6259cbbe-34c9-11e7-8073-90bc9e88cea2.png)

[2017-05-10 17:25] ariel-phet commented on #29
@arouinfar, I like it, and agree on the navy

[2017-05-10 17:56] arouinfar commented on #29
Thanks @ariel-phet! I'll send the assets to @samreid.

[2017-05-11 16:12] arouinfar commented on #27
Thanks for your input @ariel-phet! When researching current clamps, I couldn't find one that read DC currents < 1 amp, though I think we are making a reasonable simplification to allow them to read lower currents, given the pedagogical advantages.

Any thoughts about reading over the batteries? I imagine the battery casing may shield the B-field more than the resistor would, but I wouldn't be over

[2017-05-11 16:36] arouinfar commented on #29
Assets have been emailed to @samreid.

[2017-05-11 16:41] ariel-phet commented on #27
Totally fine with reading over batteries in my opinion

[2017-05-11 17:18] arouinfar commented on #37
Thanks @oliver-phet!

It looks like the user's issue would be resolved if the current meter read over resistors, as we've discussed in #27. @oliver-phet can you forward the user's email to me?

[2017-05-11 17:33] arouinfar commented on #37
Response sent to the user:

![image](https://cloud.githubusercontent.com/assets/8419308/25963164/998edb04-363d-11e7-8bb0-c1443d09c210.png)
![image](https://cloud.githubusercontent.com/assets/8419308/25963168/9c8e04ba-363d-11e7-848e-aed9c4888bb7.png)
Currently, the current meter is not able to read over resistors, which is why you were unable to measure an equal current in each parallel branch of y

[2017-05-11 17:33] #37 closed

[2017-05-11 17:43] arouinfar commented on #27
@samreid please update the behavior of the non-contact ammeter to read over batteries and resistors.

[2017-05-17 15:39] Denz1994 commented on #36
I don't see an option to disable the arrowNodes. What I could do is make their scale really small with ```arrowButtonScale : 0.00000001``` as an option. The scale can't be zero or else an assertion error is fired. Seems a bit hackish though.

[2017-05-17 23:22] zepumph opened #43 "PhET-iO Fuzz testing errors"
[code]

[2017-05-18 00:22] samreid commented on #36
The existing control seems like it is working well, closing.

[2017-05-18 00:22] #36 closed

[2017-05-18 03:25] samreid commented on #9
I will likely need to add the ammeter to the sensor toolbox before I can complete this, because it may put a lower bound on the control panel widths.

[2017-05-18 16:38] samreid commented on #9
After I started mocking up the sensor toolbox, the layout is looking like this:

![image](https://cloud.githubusercontent.com/assets/679486/26213384/0af1d1c0-3bb6-11e7-92b1-b86e53e85b90.png)

Not sure how to adjust the size of the upper panel to match this.  Seems like I would have to add a lot of blank space--should that be on the right margin?   @arouinfar can you take a look?

[2017-05-18 18:20] arouinfar commented on #9
@samreid I think adding extra space to the right side Show Current panel will look fine, especially once the icons for electron and conventional current are added to the panel. I don't think the scene selection buttons need to match the width of the panels. Their current size and spacing looks good. I would center them below the panels.

![image](https://cloud.githubusercontent.com/assets/8419308/

[2017-05-18 18:23] arouinfar commented on #9
By the way @samreid, I also made the toolbox icons a bit smaller to make room for the inline ammeter, which made the panel a bit narrower than it used to be. The screenshot you provided in https://github.com/phetsims/circuit-construction-kit-dc/issues/9#issuecomment-302465535 looks like you already may have narrowed the panel, but I just wanted to let you know.

[2017-05-19 20:24] zepumph commented on #43
Here is one more I'm seeing from CCK-DC these days.

[code]

[2017-05-22 16:22] samreid commented on #9
@arouinfar can you review http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.22/circuit-construction-kit-dc_en.html and comment on the panel sizes in screen 3?  I'd like to know if you like the size of the display options panel and its fonts and want to match things around that, or if you want to shrink that font + margins at all.

[2017-05-23 16:14] samreid commented on #27
To implement this, it would be great if I could use the same code that scenery uses for pointer hit detection.  @jonathanolson do you know if I can leverage that?  I need to know if a point hits a node.

[2017-05-23 16:27] samreid opened #44 "Should we hide the label text when a sensor is out of the toolbox?"
Should we hide the label text when the sensor is out of the toolbox?

![image](https://cloud.githubusercontent.com/assets/679486/26364648/3e2f8ab0-3fa2-11e7-8f56-62b0028a9d6b.png)

That is currently how things work for the circuit element panel.

![image](https://cloud.githubusercontent.com/assets/679486/26364679/576b7b1a-3fa2-11e7-8caa-705bf5125029.png)

[2017-05-23 17:59] samreid commented on #27
This code is working OK for coordinate transforms and avoiding hitting the probe itself.  However, it is still hitting the vertex circles:

[code]

[2017-05-23 19:17] samreid commented on #27
I added current readouts over every circuit element type.  Looks good for lifelike mode but not working yet for schematic battery, schematic resistor leads or schematic light bulb.

Here's a dev version with it working for lifelike view: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.30/circuit-construction-kit-dc_en.html

@arouinfar can you review this as far

[2017-05-23 19:18] samreid opened #45 "Ammeter probe doesn't work over some schematic elements"
From #27

I added current readouts over every circuit element type.  Looks good for lifelike mode but not working yet for schematic battery, schematic resistor leads or schematic light bulb.

[2017-05-23 20:53] samreid commented on #45
Proposed fix is in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.31/circuit-construction-kit-dc_en.html

I went with the bounding box for those elements where hit testing wasn't working.  @arouinfar can you see if this is OK?

[2017-05-23 21:17] samreid commented on #29
@arouinfar which screens will feature these high-value components?

[2017-05-24 01:08] samreid commented on #15
Good idea, perhaps if we factor out the dt from this setting it can be more deterministic.

[2017-05-24 01:41] samreid commented on #15
Proposed fix is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.35/circuit-construction-kit-dc_en.html

@phet-steele can you please test or delegate?

[2017-05-24 01:55] samreid commented on #43
By the way, it is super fun watching CCK fuzz tests:

![image](https://cloud.githubusercontent.com/assets/679486/26383724/c52b28e0-3ff1-11e7-912a-253705679d11.png)

[2017-05-24 02:13] samreid commented on #43
After the preceding commit, phet-io fuzz is passing on my machine.  Bayes will report if there are further problems.

[2017-05-24 02:13] #43 closed

[2017-05-24 02:42] samreid commented on #26
For the latter 2, I'm concerned about memory/cpu and debuggabiltiy (now there would be 2 CircuitNodes instead of one) of coding those.  I wonder if we should include them as PNGs generated from AI files.  The LightBulb seems fine to render programmatically as an icon.

[2017-05-24 20:01] phet-steele commented on #15
I haven't seen any flashing, I think it's fixed. Thanks @samreid.

[2017-05-24 20:01] #15 closed

[2017-05-25 03:28] samreid commented on #29
We may need high voltage components on the grab bag screen to get currents running through the high resistance elements?

[2017-05-25 03:31] samreid commented on #29
What are the ranges and default values for these new components?

[2017-05-25 04:32] arouinfar commented on #29
@samreid here's what we originally discussed:
* Lab screen only, 2nd page of carousel between regular components and grab bag items.
* High R resistor range: 100-10^4 ohms, default 1000 ohms
* High V battery range: 100-10^5 V, default 1000 V

I think the goal for the Explore screen is for students to discover the difference between conductors and resistors. I think having high V components on the

[2017-05-25 04:51] arouinfar commented on #27
Everything looks good in the lifelike view!

[2017-05-25 04:51] #27 closed

[2017-05-25 04:54] arouinfar commented on #27
@samreid I just noticed that the probe also reads over the lifelike bulb. I find this a little unrealistic because the filament is encased in glass, but I'm not overly bothered by it.

[2017-05-25 04:56] arouinfar commented on #45
@samreid everything is looking good for the schematic items too. 👍

[2017-05-25 04:56] #45 closed

[2017-05-25 04:57] arouinfar commented on #44
@samreid I don't think we need to worry about hiding the labels when the tool in in the play area.

[2017-05-25 05:19] samreid commented on #27
I noticed that too, but I think it is good to be uniform, and I agree with:

[2017-05-25 05:20] samreid commented on #44
OK, it does leave a nice reminder of what belongs there.

[2017-05-25 05:20] #44 closed

[2017-05-25 05:26] arouinfar commented on #27
Agreed @samreid. I'll make a note of it in the Teacher Tips.

[2017-05-25 05:38] arouinfar commented on #26
@samreid I would be happy to create .png files for the icons. We'll need the coin artwork before moving on with the Explore screen, though. Let me know what you'd prefer.

[2017-05-25 06:07] samreid commented on #26
I already created 2 icons, not sure if they are in a dev version yet

[2017-05-25 06:36] samreid commented on #26
Intro and lab icons are visible here and ready for feedback: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.42/circuit-construction-kit-dc_en.html

[2017-05-25 21:30] samreid commented on #29
@arouinfar what labels do you want to show under these new components?  Something like:

* High Voltage Battery
* High Resistance Resistor
* High Resistance Light Bulb

Or is that too wordy and we just want to call them "Battery" etc and let the icons do the talking?

[2017-05-26 22:41] arouinfar commented on #29
@samreid I don't think the label needs to explicitly include high V/R. Let's just call them "Battery", "Resistor", and "Light Bulb".

[2017-05-31 20:15] arouinfar commented on #17
Pinging @kathy-phet.

[2017-06-01 17:39] arouinfar commented on #9
@samreid I've reviewed the panels in dev.48, and have a few suggestions:

Show Current Panel
- [ ] Reduce font size to match "Wire Resistivity"

Wire Resistivity & Battery Resistance Panels
- [ ] Widen panels to match Show Current panel width
- [ ] Lengthen slider tracks in proportion to the wider panels
- [ ] Increase top padding on -/+ button to match left padding (panel title will also need to

[2017-06-06 23:12] samreid commented on #17
Labeling for design meeting in case @kathy-phet hasn't had a chance to investigate before then.

[2017-06-06 23:13] samreid commented on #1
It seems this may be for AC, so I'll label for 1.1+

[2017-06-06 23:43] arouinfar commented on #1
@samreid this issue is irrelevant to DC, but it looks like this stems from a limitation to the underlying model.

From the Teacher's Tips:

[2017-06-07 15:01] samreid opened #46 "Publish a new version over the "prototype""
At Thursday's meeting, it was suggested that we could publish the current CCK on top of the existing "prototype" to get more testing in the wild.  This would only be done after a good round of QA.

[2017-06-07 15:01] samreid opened #47 "Initial dev testing"
After the sim is feature complete it would be good to do some initial dev testing.

[2017-06-07 16:03] samreid commented on #29
The high voltage battery triangle overlaps the default electron location.

![image](https://user-images.githubusercontent.com/679486/26888516-7e458326-4b68-11e7-9cd4-5a19a7aef59f.png)

@arouinfar what do you think about nudging the triangle to the right so it is centered between those electrons?

[2017-06-07 16:07] samreid commented on #29
Should we do something similar for the resistor? (put the icon 1/3 across instead of 1/2 way across?)

[2017-06-07 16:48] samreid commented on #29
Or maybe it is OK because it is shown in the toolbox with no electrons:

![image](https://user-images.githubusercontent.com/679486/26890463-d4336518-4b6e-11e7-9b22-8c99ab3cfd75.png)

Bumping the triangle may still may be a good improvement though, just jotting down my thoughts.

[2017-06-07 17:50] arouinfar commented on #29
@samreid I could center the caution symbol within the black part of the battery, but I think shifting the resistor symbol looks unbalanced.
![image](https://user-images.githubusercontent.com/8419308/26893041-68f063c4-4b77-11e7-9c6e-22c962a9152c.png)

I don't see the electron occlusion as particularly harmful because the symbol is clearly visible in the carousel, and once a circuit is built the ele

[2017-06-07 20:39] arouinfar commented on #1
@oliver-phet I thought I had already replied to this user regarding the limitation in the model, but I couldn't find the email in my inbox. Can you forward it to me?

[2017-06-07 20:42] oliver-phet commented on #1
Just forwarded the original.

[2017-06-07 20:47] arouinfar commented on #2
@samreid I found the corresponding Unuddle [Ticket](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3727), which has been resolved. @ariel-phet responded:

I looked into this, it appears the issue is the way the user has hooked up the leads from the voltage chart tool. If he reverses the leads he will see the proper behavior (as shown in the attached screenshot). As seen in the screen

[2017-06-07 20:47] #2 closed

[2017-06-07 21:21] samreid commented on #29
@arouinfar for the battery, what increment/decrement do you want the tweaker buttons to take?  If I made no code changes it would remain at 0.5V.

[2017-06-07 21:22] samreid commented on #29
Sounds good, I recommend to move the symbol for the battery but leave it centered for the resistor.  Can you send new artwork for the battery?

[2017-06-07 21:35] samreid commented on #29
Just to clarify, we are not showing bands on the high resistance resistors? Is that outside of the learning goals?

[2017-06-07 22:01] samreid commented on #29
With this range and the rendering of the slider, the slider looks like it is all the way to the left (even though it can be dragged all the way down to 100)

![image](https://user-images.githubusercontent.com/679486/26903457-83368074-4b9a-11e7-9e62-06c8f4da296a.png)

@arouinfar how do you want to adjust this so students have a cue they can reduce below 1000?

[2017-06-07 22:37] samreid commented on #29
@arouinfar Do you want a blank spot in the high components carousel page?

![image](https://user-images.githubusercontent.com/679486/26904538-9d4727a2-4b9f-11e7-84f8-f92f24e02b0b.png)

[2017-06-07 22:39] samreid commented on #29
These specs https://github.com/phetsims/circuit-construction-kit-dc/issues/29#issuecomment-303919729 do not include the range or default for light bulb resistance.  I'll go with the same values as the resistor, but @arouinfar please correct me if this should be different.

[2017-06-07 22:53] samreid commented on #29
In the above commit, I eliminated the blank spot in the carousel.

[2017-06-07 23:11] samreid commented on #29
Initial revision is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.54/circuit-construction-kit-dc_en.html

@arouinfar can you please review?

I'll move my questions above to new issues so they don't get lost.  They will be linked below shortly.

[2017-06-07 23:13] arouinfar commented on #29
Let's set the tweakers to 100.

New artwork has been sent!

We want the resistors to be visually distinct from one other, and learning goals surrounding resistor bands could be satisfied with the standard resistor.

Looks like the slider ranges for high R and high V have been swapped. On master, R goes all they way up to 100,000 ohms, which matches the hand. We had decided the upper limit would be

[2017-06-07 23:16] arouinfar commented on #29
Looks like the conversation didn't refresh while I was commented, so I missed https://github.com/phetsims/circuit-construction-kit-dc/issues/29#issuecomment-306951528.  I took a look at dev.54 and things look pretty good, save for the swapped voltage and resistance ranges I referred to in https://github.com/phetsims/circuit-construction-kit-dc/issues/29#issuecomment-306951927.

[2017-06-08 02:27] samreid commented on #29
Battery triangle icon looks much better, thanks!

![image](https://user-images.githubusercontent.com/679486/26909704-b10eaf10-4bbf-11e7-8945-4f08ad7a8963.png)

[2017-06-08 02:43] samreid commented on #29
@arouinfar I published a new version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.55/circuit-construction-kit-dc_en.html

Can you please review it?

[2017-06-08 16:09] ariel-phet opened #48 "CCK DC Master Checklist"
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Legacy sim docs/info gathered**
  - [ ] Sim suggestions doc reviewed
  - [ ] Unfuddle tickets reviewed
- [ ] **Learning goals and standar

[2017-06-08 16:48] arouinfar commented on #29
@samreid everything looks good, but I want to leave this this open and self-assigned for a deeper review to see if there are any side-effects of the high V/high R components that we'll need to account for in the design.

[2017-06-08 22:34] samreid commented on #9
When @Denz1994 and I tried this, it did not end up reducing the size of that panel.

Original:
![image](https://user-images.githubusercontent.com/679486/26953556-482f11a2-4c68-11e7-9189-18b2b9edf9df.png)

With smaller font:
![image](https://user-images.githubusercontent.com/679486/26953562-503d5c14-4c68-11e7-9539-ce77f7785d13.png)

@Denz1994 and I suspect the reason is that the checkboxes and spac

[2017-06-08 22:38] samreid commented on #9
We adjusted the radio button and checkbox sizes and now its more like this:

![image](https://user-images.githubusercontent.com/679486/26953642-e6df96dc-4c68-11e7-8330-cfb978cca931.png)

[2017-06-08 22:40] samreid commented on #9
@Denz1994 and I thought of a way we could implement this (by sharing an AlignGroup across the screens) but are hesitant to implement it because it would introduce a lot of blank space on screens 1-2.  @arouinfar thoughts?

[2017-06-08 22:45] samreid commented on #9
We do not have a way to do this dynamically but we will choose a good default size that works well for English, and make sure other languages don't get too wide.

[2017-06-08 23:05] samreid commented on #9
@Denz1994 and I made numerous changes in this issue.  Some questions or caveats appear in the preceding comments.  We published a dev version here:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.57/circuit-construction-kit-dc_en.html

@arouinfar can you please take a look and provide feedback?

[2017-06-12 01:11] zepumph opened #49 "PhET-iO Fuzz Testing Error"
[code]

[2017-06-12 15:33] samreid commented on #49
I fixed the issues above then discovered a downstream problem that Carousel isn't instrumented for phet-io.  So I've removed cck-dc from chipper/test-phetio until we are ready to dedicate time to instrumenting it.

[2017-06-12 15:33] #49 closed

[2017-06-12 18:19] samreid commented on #26
Coin icon is visible in this dev version:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.63/circuit-construction-kit-dc_en.html

I zoomed in a bit compared to https://github.com/phetsims/circuit-construction-kit-dc/issues/26#issuecomment-295912424 so it is easier to see on both the home screen and navbar.

@arouinfar can you please review the icons?

[2017-06-12 18:39] arouinfar commented on #26
Love the screen icons @samreid!!

[2017-06-12 18:39] #26 closed

[2017-06-12 20:14] arouinfar commented on #9
@samreid the Lab screen looks great!! I've noticed that the Show Current panel and sensor toolbox are slightly narrower on the Intro and Explore screens. Can they be widened to match the Lab screen?

[2017-06-12 21:41] samreid commented on #9
Proposed fix is in dev.64, please test:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.64/circuit-construction-kit-dc_en.html

[2017-06-12 21:43] arouinfar commented on #9
Looks great @samreid. Thanks!

[2017-06-12 21:43] #9 closed

[2017-06-13 14:46] samreid opened #50 "Development Checklist"
- [x] receive artwork for grab bag
- [x] Sim is basically feature complete
- [x] memory leaks and garbage collection
- [x] @samreid should go through the code review checklist, see #53
- [x] performance with @jonathanolson, first meeting scheduled for June 14
- [x] Testing a version for AAPT
- [x] Address known issues, cleaning up TODOs
- [x] Make sure fuzz test is passing, see #108
- [x] develope

[2017-06-14 19:02] pixelzoom opened #51 "problems with README.md"
(1) Currently shows a published README.md, but the sim is not officially published.

(2) assets/*screenshot.png is missing, so it doesn't appear in README.md:

![screenshot_282](https://user-images.githubusercontent.com/3046552/27149658-8ad74a2c-5101-11e7-994e-e53749ffdeb4.png)

(3) Clone commands are wrong, `twixt` is required but missing.

[2017-06-14 19:39] samreid commented on #51
Fixed to use unpublished readme in eeac359fd6f63b0b44e0e9bb45604678ca4cf86d, closing.

[2017-06-14 19:39] #51 closed

[2017-06-14 20:43] pixelzoom commented on #6
This sim has a title of "Circuit Constructor Kit: Prototype", but no corresponding circuit-construction-kit-prototype repository.  This breaks with PhET naming conventions and processes, and (as demonstrated by the confusion on Skype today) is confusing.  It's really great that you could turn this around so quickly. And really not great that you short-cutted PhET conventions and processes in doing

[2017-06-14 22:33] pixelzoom commented on #6
Yes. Because that also violates PhET convention.

[2017-06-14 22:35] samreid commented on #6
Labeled for developer meeting to see if we should take any action or just to wait until 1.0 comes out and see if that resolves it.

[2017-06-15 16:43] arouinfar commented on #29
@samreid I'm going to go ahead and close this issue, as the high V/high R components have been successfully implemented. I'll add my concerns to the meeting notes for today's discussion.

[2017-06-15 16:43] #29 closed

[2017-06-15 17:11] samreid commented on #6
@ariel-phet recommends no action to be taken at the moment, we had to make prototype to show progress.

[2017-06-15 20:55] arouinfar commented on #17
Discussed 6/15/17 and no further work needs to be done.

[2017-06-15 20:55] #17 closed

[2017-06-16 19:49] zepumph opened #52 "PhET-iO Fuzz Test Error"
[code]

[2017-06-23 22:25] samreid commented on #52
I don't think we should delay publication of CCK to PhET-iO instrument Carousel (though it should be instrumented at some point). I'll mark this for 1.1+

@zepumph I noticed that CCK-DC is not in chipper/data/test-phetio.  What else is causing this to get tested in phet-io?

[2017-06-23 23:16] zepumph commented on #52
Ugh I'm sorry about that! I didn't realize phet-io instrumentation was off for CCK now, I'll stop sending those along.

I have the fuzz testing book marked, so it was using an old list. I will update the bookmark.

[2017-06-23 23:16] zepumph commented on #52
I think we can close the issue. We will find this guy fast the next time we fuzz test for phet-io. I'll leave it up to you though.

[2017-06-24 02:41] #52 closed

[2017-06-27 15:40] samreid commented on #50
@ariel-phet I would like to confirm the ordering of initial Dev QA testing and initial code review.  Do you want to do dev testing first or code review first?

[2017-06-28 03:00] #6 closed

[2017-06-28 16:50] samreid opened #53 "Developer Code Review Checklist"
Before turning this sim over to the reviewer, the primary developer should use the code review checklist to make sure everything is ship-shape.
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with ❌*

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings

[2017-06-28 17:18] samreid commented on #53
I discussed the structure of circuit-construction-kit-common and the consensus was to have js/model and js/view with no intervening directory.

[2017-06-28 17:21] samreid commented on #53
I noticed the namespace is circuitConstrcutionKitDc instead of circuitConstrcutionKitDC.  Would that be hard to change?

[2017-06-28 17:22] samreid opened #54 "Namespace casing"
I noticed the namespace is circuitConstrcutionKitDc instead of circuitConstrcutionKitDC, would that be hard to change?

See https://github.com/phetsims/circuit-construction-kit-dc/issues/53

[2017-06-28 18:21] samreid commented on #53
I asked this on skype:

Some screen icons were taken as screenshots. Do I still create a copy in /assets?

[2017-06-28 18:53] samreid opened #55 "What should the credits be?"
Discovered in https://github.com/phetsims/circuit-construction-kit-dc/issues/53

We need to figure out exactly who belongs in the credits.

[2017-06-29 14:35] ariel-phet commented on #50
@samreid yes, dev testing should occur before code review. Dev testing may well reveal issues that require refactoring/changes. We like to ideally review code that is in a stable state, reasonably bug free, and unlikely to undergo many changes except for those raised by the review.

[2017-06-29 15:45] samreid commented on #55
@arouinfar can you take the lead on this?

[2017-06-29 16:48] arouinfar commented on #55
I reviewed the credits in dev.75, and recommend the following changes:
* Move Denzell Barnett from Team to Software Development
* Add Wendy Adams and Carl Wieman to the Team

@phet-steele will probably need to add a few names to the QA credits, but that should wait until the sim is further down the testing pipeline.

[2017-06-29 16:53] samreid commented on #55
I made the changes @arouinfar recommended, reassigning to @phet-steele to find out about the QA team when the time is right.

[2017-06-29 18:11] samreid commented on #54
The problem is in checkNamespaces:

![image](https://user-images.githubusercontent.com/679486/27703226-ece0499e-5cc3-11e7-954f-43de99adb02a.png)

Should I roll with Dc or should we figure out a way to make this be DC?

[2017-06-29 18:22] pixelzoom commented on #54
phScale vs pHScale is similar.  I rolled with phScale.  Since it's not user-visible, I don't think it's worth the hassle to change.

[2017-06-29 18:25] samreid commented on #54
OK thanks, I'll keep it as is, closing.

[2017-06-29 18:25] #54 closed

[2017-07-01 04:14] samreid opened #56 "Pointer area overlap for slider knob"
From #53
![image](https://user-images.githubusercontent.com/679486/27759035-75a99ce4-5de1-11e7-90a3-056dc3b17b9c.png)

[2017-07-01 04:20] samreid opened #57 "DEBUG should be a query parameter"
From #53

[2017-07-01 04:37] samreid opened #58 "Rename exploreScreenRunningProperty"
From #53

[2017-07-01 04:45] samreid commented on #53
Review complete, changes and related issues marked above, closing.

[2017-07-01 04:45] #53 closed

[2017-07-02 04:27] samreid opened #59 "Pointer area overlap in toolbox"
![image](https://user-images.githubusercontent.com/679486/27767212-6459a576-5eac-11e7-89f9-0ed9a41f753a.png)

[2017-07-02 04:29] samreid commented on #59
Fixed in preceding commit, closing.

[2017-07-02 04:29] #59 closed

[2017-07-02 04:32] samreid commented on #56
Fixed in the preceding commit, closing.

[2017-07-02 04:32] #56 closed

[2017-07-02 04:42] samreid commented on #57
Fixed in the preceding commits, closing.

[2017-07-02 04:42] #57 closed

[2017-07-02 04:46] samreid commented on #58
Renamed in the preceding commits, closing.

[2017-07-02 04:46] #58 closed

[2017-07-02 04:47] samreid commented on #46
On hold until #47 is complete.

[2017-07-02 05:02] samreid opened #60 "Light rays should be hidden in schematic mode"
![image](https://user-images.githubusercontent.com/679486/27767319-4d7d83d6-5eb1-11e7-876a-ac4cef38c733.png)

[2017-07-02 15:01] samreid commented on #47
I posted http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.76/circuit-construction-kit-dc_en.html

I'll take a look before sharing it to dev team or QA team.

[2017-07-03 14:00] samreid commented on #60
Fixed in the preceding commit, closing.

[2017-07-03 14:00] #60 closed

[2017-07-03 14:03] samreid opened #61 "Will the carousel be obvious to users?"
Will the carousel be obvious to users?  If you change between blank screen 1 and blank screen 2 it is obvious, but if you create an elaborate circuit on screen 1 then change to screen 2 it could be easy to miss.  Noted during testing in #47

[2017-07-03 14:04] samreid opened #62 "iPad2 Crash"
This happened every couple of minutes on the iPad2.  Discovered during testing in #47

[2017-07-03 14:05] samreid opened #63 "Voltmeter probes do not read switches"
A closed switch looks like a wire but probes do not read it like a wire, discovered during testing in #47

[2017-07-03 14:06] samreid opened #64 "What should grab bag component resistance values look like?"
They currently look like this:
![image](https://user-images.githubusercontent.com/679486/27796210-724f742e-5fc6-11e7-9cbc-958c91c76732.png)
Discovered during testing in #47

[2017-07-03 14:06] samreid commented on #64
Note that these numbers can easily overlap when the items are in a horizontal line.

[2017-07-03 14:11] samreid opened #65 "Should pointer area be larger for schematic wire?"
Or possibly for lifelike wires too?  It has swipe to snag but I'm not sure if that's sufficient.  The black wires are pretty thin.  Changing their touch area dynamically while dragging could hamper performance on iPad2.  If we do decide to change it, perhaps just when it stops dragging?

Discovered during #47

[2017-07-03 14:12] samreid commented on #62
I saw a few circumstances on iPad2 where objects would no longer drag (though some items were tappable), perhaps related to this issue?

[2017-07-03 14:14] samreid opened #66 "It is possible to make overlapping circuits"
Drag out 2 batteries and connect them.  Then make a wire the length of 2 batteries and drag it across the batteries. Voila!

![image](https://user-images.githubusercontent.com/679486/27796531-8ed59334-5fc7-11e7-960b-1cf418f6ab28.png)

Shall we try to avoid this?  If so, how should it be avoided and what rules determine when to apply the new avoidance strategy?

Discovered in #47

[2017-07-03 14:19] samreid commented on #47
I discovered the aforementioned 6 issues during iPad2 testing of dev.76.  @arouinfar @ariel-phet I think it would be appropriate to try to solve some/all of these before creating a version for design team or QA testing.

[2017-07-03 14:23] samreid commented on #63
Tagging @arouinfar so she is aware of this issue.

![image](https://user-images.githubusercontent.com/679486/27796817-977095a6-5fc8-11e7-882e-52e95c0a5bff.png)

It would be good to discuss.  Ideally it seems like both the open and closed switch should support voltmeter readings.  It seems like the switch supports ammeter readings already.

I thought I'd ask how important this will be and if it is

[2017-07-03 14:31] samreid commented on #62
Previously noted in https://github.com/phetsims/circuit-construction-kit-common/issues/370

[2017-07-03 14:33] samreid commented on #62
Running with ?fuzzMouse on desktop, I'm still seeing

[code]

And running ?fuzzMouse on the iPad seems like a reliable way to reproduce this problem.

So far popupDisplay has been unresponsive during fuzzMouse.

[2017-07-03 15:43] samreid commented on #62
Joist disables popping up windows while fuzzing:

[code]

I had to comment that out to get this working.  When I did, I saw that ValueNodes are sneaking in between the webgl nodes and some changes:

![image](https://user-images.githubusercontent.com/679486/27799832-f6738242-5fd3-11e7-8152-7d8edb02c843.png)

[2017-07-03 15:51] samreid commented on #62
I fixed the layering above and now it seems the WebGL layer isn't getting split up.  Still need to test on iPad2.

[2017-07-03 17:02] arouinfar commented on #61
@samreid I don't see why the carousel wouldn't be obvious to the users, as they've worked well in other sims. I'll be scheduling some interviews for next week, so I can keep an eye out for any usability issues.

[2017-07-03 17:05] arouinfar commented on #63
Agreed @samreid. If not prohibitively complicated, it would be nice to support voltmeter readings. Let's discuss at design meeting this week.

[2017-07-03 17:10] arouinfar commented on #64
@samreid I've also noticed overlapping labels. Honestly, I think scientific notation would be much easier to read (I've had to painstakingly count zeros many times), but I wonder if that would be acceptable for a younger audience. Let's discuss at design.

[2017-07-03 17:43] samreid commented on #62
I published the fix in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.77/circuit-construction-kit-dc_en.html but it still crashed after 20 seconds of fuzzing on the iPad2.

[2017-07-03 17:53] samreid commented on #62
When running tethered with Safari, the app crash closes the tether page, so it appears I cannot use that for diagnostic.

[2017-07-03 18:15] arouinfar commented on #65
@samreid could you add a little padding to the pointer area for the wire? The same area could apply to the schematic view as well.
<img width="168" alt="screen shot 2017-07-03 at 12 13 06 pm" src="https://user-images.githubusercontent.com/8419308/27803910-31e90526-5fe9-11e7-8242-803feaacbc05.png">

[2017-07-03 18:40] arouinfar commented on #66
@samreid can the overlap avoidance code be extended to apply to any number of fixed-length components? For example, connect several fixed-length components together in a line. Attach a wire across the components, upon release the wire will rotate away, as it does in the case of a single battery + wire.

![image](https://user-images.githubusercontent.com/8419308/27804505-7eabc846-5fec-11e7-942e-7c4

[2017-07-03 18:43] samreid commented on #66
Sure, we can generalize it to any number of intervening components. Should it have a tolerance limit in case some of the components are slightly rotated?  Or only apply when all components are at exactly 0.000 degrees?

[2017-07-03 19:11] arouinfar commented on #66
@samreid the case I'm most worried about would be exactly 0.000 degrees. If the algorithm is already generalized to include an angle, then I can recommend something else. Otherwise, I think addressing to 0.000 degree case is sufficient.

[2017-07-03 20:48] samreid commented on #62
Using xcode + wkWebView I was able to load a profilable version of the app.  It shows we are using 124MB on startup:
![image](https://user-images.githubusercontent.com/679486/27807478-5313daa4-5ffe-11e7-830d-ccdad2f3534e.png)

Dragging out a bunch of wires gets up to 167MB, then it crashed
![image](https://user-images.githubusercontent.com/679486/27807519-9c24e9ea-5ffe-11e7-9a68-135f5ded03da.png)

[2017-07-03 21:00] samreid commented on #62
Running with ?webgl=false starts at 94Mb.  Dragging everything out of the Lab carousel page 1 leads to 160MB (still not crashed).

[2017-07-03 21:02] samreid commented on #62
I used the WKWebView example from http://applecocoa.com/swift-3-wkwebview/

[2017-07-03 21:06] samreid commented on #62
With ?screens=1 I'm still seeing 100MB usage, then up to 140MB with everything dragged out of the toolbox.

[2017-07-03 21:25] samreid commented on #62
Even when I added this cache busting code, it was still loading a cached version:
https://stackoverflow.com/questions/27105094/how-to-remove-cache-in-wkwebview

[2017-07-03 21:33] samreid commented on #62
I disabled all caching in my apache and that worked:
https://stackoverflow.com/questions/11532636/how-to-prevent-http-file-caching-in-apache-httpd-mamp

But using image! instead of mipmap! I'm still seeing 122MB used.

[2017-07-03 21:39] samreid commented on #62
Summarizing findings:
plain: 124MB -> 167MB + crash
image: 122MB
screens=1: 100MB -> 140MB
webgl=false: 94MB -> 160MB

[2017-07-03 22:08] samreid commented on #62
@jonathanolson and I hit "edit" in the safari dev tools (basically following https://webkit.org/blog/6425/memory-debugging-with-web-inspector/ ) and saw this breakdown:

![image](https://user-images.githubusercontent.com/679486/27809079-cd35ca3a-6009-11e7-8e01-bce778998dcb.png)

[2017-07-03 22:11] samreid commented on #62
After building with accessibility:false:

![image](https://user-images.githubusercontent.com/679486/27809130-3bf5b28c-600a-11e7-8d6a-1a413b594bb3.png)

[2017-07-03 22:38] samreid commented on #62
The above readings may be compromised, we may need to restart safari between recordings.

Here's a fresh safari with tiny.png being loaded for every image.
![image](https://user-images.githubusercontent.com/679486/27809543-d420bf0e-600d-11e7-9270-a07aed58461e.png)

[2017-07-03 22:39] samreid commented on #62
Here's a fresh safari with all defaults (including webgl)

![image](https://user-images.githubusercontent.com/679486/27809588-39ca5090-600e-11e7-830a-9ed6b2722df2.png)

[2017-07-03 23:22] samreid commented on #62
@jonathanolson suggested trying these changes to Node.toDataURLNodeSyncrhonous:

[code]

Seems promising:
![image](https://user-images.githubusercontent.com/679486/27810158-387768d0-6014-11e7-80bd-ad975817e5df.png)

[2017-07-03 23:24] samreid commented on #62
On the iPad, this is showing as 130MB on startup.

[2017-07-04 00:08] jonathanolson commented on #62
@ariel-phet, would it be an option to find someone familiar with diagnosing memory issues (or who is familiar enough with browser internals) to consult on this? It seems to be an issue we're running into repeatedly lately, and I'm not familiar enough with the tools to easily identify what is taking up the memory, and how we can fix it.

[2017-07-04 00:55] jonathanolson commented on #62
Gaining very little information per hour of investigation.

[2017-07-04 01:57] ariel-phet commented on #62
@jonathanolson certainly an option...I just am not quite sure where I would find someone with that expertise. I will see if my friend from pivotal has any suggestions on a consultant.

[2017-07-04 02:58] samreid commented on #62
We used to consult with Sam Breed of Quick Left on Pearl, not sure if he is still around.

[2017-07-04 04:51] samreid commented on #62
I noticed there are 521 Property instances upon startup, and Chrome reported `phetioValueType` took up 3168B per item (if I'm reading this correctly).  This should add up to 1.65MB.  Running in a WKWebView, I saw 119MiB or 123MiB instead of the usual 124MiB or 130MiB.  This may all be in the noise....

[2017-07-04 05:08] samreid commented on #62
I found the safari js allocation tooling

![image](https://user-images.githubusercontent.com/679486/27815827-94a90962-6044-11e7-875c-d08204f80f7c.png)

[2017-07-04 05:44] samreid commented on #62
I shaved off 20MB by making all of the mipmap canvases 1x1 in Image.invalidateMipmaps, but the sim doesn't look quite the same.

![image](https://user-images.githubusercontent.com/679486/27816565-85be2d56-6049-11e7-96b4-82c7bd581214.png)

Not sure what paintrects-canvas is.  There are 3 spritesheets each 4MB.  I wonder if those aren't shared across screens.

[2017-07-04 05:47] samreid commented on #62
Hmmmm 20MB of savings in desktop safari still shows up as 133MiB in mobile safari under wkwebview.  What is happening here?

[2017-07-04 05:56] samreid commented on #62
You can run WKWebView in a simulator iPad Air 2 and then connect to it via desktop safari dev tools and get allocations.

[2017-07-04 15:28] samreid commented on #62
I tested iPad2 with a built version and webgl=false and fuzzMouse to see how long SVG could last.  It crashed after 10 seconds.

[2017-07-04 16:04] samreid commented on #62
With this code in CircuitElementNode
[code]
a built version is still running on iPad2 after 2 minutes (showing homescreen only).  It didn't crash, but the home screen seems unresponsive.

[2017-07-04 16:12] samreid commented on #62
Tabbing into screen 1 right away and dragging around a resistor crashes at about 50 seconds, next run this crashed around 40 seconds.
Tabbing into screen 1 right away and not dragging anything crashes at 2:30

[2017-07-04 16:18] samreid commented on #62
When I attached to Air simulator in desktop safari and dragged around a resistor by itself, there is no evidence of a memory leak:
![image](https://user-images.githubusercontent.com/679486/27837543-188e3c9a-60a2-11e7-8e1c-a60879fdea6a.png)

[2017-07-04 16:20] samreid commented on #62
I thought there might be other memory issues when dragging a component with another component already out, but Safari says there is no leak there either.

[2017-07-04 16:23] samreid commented on #62
It looks like memory usage jumps appreciably when there is a garbage collection:
![image](https://user-images.githubusercontent.com/679486/27837670-cbe058dc-60a2-11e7-889a-8547ab31350c.png)

Could eliminating garbage alleviate this problem?

[2017-07-04 16:57] samreid commented on #62
To run chrome with deoptimization flags:
/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --js-flags="--trace-deopt --trace-opt-verbose"

[2017-07-04 17:00] samreid commented on #62
[code]

[2017-07-05 12:44] samreid commented on #65
I noticed in @arouinfar's mock-up that the pointer area for the wire is shortened so it doesn't overlap with the vertex nodes.  Our policy from the code review is for the pointer areas to not overlap but I'm wondering if that is not a problem as long as we have the z-order correct?  For instance, it may be easier to set the touch area of the wire to go from end to end but have it behind the vertex

[2017-07-05 12:55] samreid commented on #62
Elevating this to high priority since we still do not have a good understanding of the problem or how to address it.

[2017-07-05 13:01] samreid commented on #64
Brainstorming another alternative, we could have it read something like "1 billion Ω" (this is 3 characters shorter than "1000000000.0 Ω"

[2017-07-05 13:09] samreid commented on #61
My hope is that the carousel will be obvious, but I wanted to point out some significant differences between how I've seen carousels used in other sims and how they are used in CCK which raise some concern.  I'll use Function Builder as an example for contrast:

Function Builder screen 1 has a carousel.  Circuit Construction Kit screen 1 has no carousel.  When changing from screen 1 to screen 2 in

[2017-07-05 15:05] jonathanolson commented on #65
I personally believe that's correct (that it has an implicit assumption that things shouldn't overlap in the "same" layer).

[2017-07-05 15:20] samreid commented on #62
Dragging out 3 new components shows 118 new nodes:
![image](https://user-images.githubusercontent.com/679486/27871530-232a549c-6163-11e7-9cb4-3fef252d1a1a.png)

[2017-07-05 15:23] samreid commented on #62
If I comment out ChargeNode, I am able to drag out all fixed length circuit elements from screens 1-3 on page 1 of the carousel with no crashes.  I spoke too soon.  Even though I wasn't doing anything for 10 seconds on the iPad it crashed anyways.

[2017-07-05 17:30] ariel-phet commented on #62
@samreid perhaps it would be useful to do some of the same diagnostics on a sim we know that performs well on iPad2 that you feel has some similarities (perhaps something like balancing act) and see if there is some aspect that pops out as notably different in the diagnostics?

[2017-07-05 17:32] arouinfar commented on #65
@samreid, I wasn't sure if the vertices were part of the current pointer area (nothing showed up when using ?showPointerAreas) so I left them out. If they should be included, that's fine with me. My only concern is the height.

[2017-07-05 17:47] arouinfar commented on #61
You make some very good points @samreid. Since the circuit component panel will be so heavily used, my feeling is that the panel > carousel change will be more noticeable than if it was a change to some lesser-used panel. But I'll definitely be keeping your concerns in mind when we interview students.

[2017-07-05 17:49] arouinfar commented on #64
@samreid I really like the suggestion to use "1 billion Ω" and (by extension) "1 million Ω". Another alternative would be to display 10^9, rather than full scientific notation (1x10^9).

[2017-07-05 20:22] ariel-phet commented on #61
@samreid @arouinfar one thought I had was considering a carousel on screen 1, that way the user expectation is already set. For instance, I don't think there would be major harm in putting the high voltage/high resistance items on the intro.

Another possibility to consider, which might simplify the sim a little would be to just take it to 2 screens. Intro and Lab.

On intro you get a carousel wit

[2017-07-05 21:28] samreid commented on #62
I tested Energy Skate Park: Basics on iPad 2 and it seems to start with similar memory footprint, but all of the tracks are pre-allocated so it doesn't get heavier when more tracks are dragged out.

On CCK-DC I am able to drag out nearly every component on the lab screen (having done nothing on the other screens) before it crashes:
![image](https://user-images.githubusercontent.com/679486/27885792

[2017-07-05 21:31] samreid commented on #62
When I drag out every component like that on the lab screen, scenery popupDebug reports this many nodes:

Display Summary
[778w, 855h] frame:6606 input:true cursor:default
Nodes: 4209
Instances: 4209
Drawables: 1347
Retained Drawables: 1693
    BackboneDrawable: 5
    TextSVGDrawable: 111
    RectangleSVGDrawable: 145
    ImageSVGDrawable: 103
    PathSVGDrawable: 148
    CircleSVGDrawable: 43

[2017-07-05 21:33] samreid commented on #62
Compare this to ESPB with all tracks out (spoiler alert, CCK has 3000 more =4x as many nodes)

[778w, 855h] frame:579 input:true cursor:default
Nodes: 912
Instances: 912
Drawables: 229
Retained Drawables: 596
    BackboneDrawable: 5
    TextSVGDrawable: 110
    RectangleSVGDrawable: 168
    ImageSVGDrawable: 32
    PathSVGDrawable: 152
    CircleSVGDrawable: 72
    LineSVGDrawable: 21
    ImageWeb

[2017-07-05 21:42] samreid commented on #62
Operating under the assumption that it is the GC bump that kills the app, I tried to preallocate every circuit element during startup.  Sim crashed during startup.

[2017-07-05 21:49] samreid commented on #62
If I add this code to CircuitElementToolNode.js

[code]

The sim starts up, but it crashes when I switch screens a few times (without doing anything else).

[2017-07-05 21:56] samreid opened #67 "SeriesAmmeterNode is breaking up the WebGL layer"
![image](https://user-images.githubusercontent.com/679486/27886694-705a67c0-619a-11e7-9760-cb22fc713148.png)

from #62

[2017-07-05 22:08] samreid commented on #62
A lot of the canvases seem duplicated--note the exact same file sizes:
![image](https://user-images.githubusercontent.com/679486/27887090-1c5718ce-619c-11e7-8bd5-22d77e78f1bf.png)

[2017-07-05 22:37] samreid commented on #62
Here's the top of the spritesheet:
![image](https://user-images.githubusercontent.com/679486/27887873-399d55fc-61a0-11e7-9819-056d47cff574.png)

and code to clear the body so we can inspect canvases:
[code]

[2017-07-05 23:20] samreid commented on #62
When I replaced the images in cck-common with a 1x1 image, I was able to pull out all components on screen 3 and all components on screen 2 and nearly all components on screen 1 before crashing the iPad2.

[2017-07-05 23:52] samreid commented on #62
When I used image! instead of mipmap! I was able to pull out all components on screen 3 and nearly all components on screen 2 before crash.  This seems like a good tree to bark up.

[2017-07-06 00:11] samreid commented on #62
If i use image! instead of mipmap! and restrict to ?screens=1,3 then I can drag out all carousel objects without any crashes.  I investigated this after @ariel-phet brainstormed going to 2 screens in https://github.com/phetsims/circuit-construction-kit-dc/issues/61

Spoke too soon. Tried editing wire resistivity with everything out then hitting reset all and it crashed. Perhaps many allocations tr

[2017-07-06 03:54] samreid commented on #62
Safari tethering to simulator told me this about sprite sheets:
1024x1024 => 1x 4MB per screen = 12MB
512x512 => 3x 1MB per screen = 9MB
768x768 => 2x 2.25MB per screen = 13.5MB

[2017-07-06 03:57] samreid commented on #62
256x256 => 6 x 256KB per screen = 4.6MB.  Are all my images fitting in this size?  Would sprite sheet error out if not?

[2017-07-06 04:01] samreid commented on #62
I went with this latter option since it seems to save about 7.5MB, but my test is crashing much sooner, after getting through only 1 or 2 pages of the 3rd screen carousel.

[2017-07-06 04:03] samreid commented on #62
900x900 seemed OK for memory, but some things are coming out black, perhaps we need powers of 2 spritesheet?

[2017-07-06 05:56] samreid commented on #62
Segment.addInvalidatingGetterSetter is creating closures for each of the methods it defines.

[2017-07-06 06:53] samreid commented on #62
@jonathanolson and I discussed adding an option to toDataURLNodeSynchronous that just returns the image without an intervening node.

[2017-07-06 06:56] samreid commented on #62
Change ChargeNode so it extends Image instead of being a parent.  This will cut down a lot of nodes too.

Fix formatting for
[code]

[2017-07-06 16:12] samreid commented on #62
@ariel-phet suggested to check the published prototype to see if it crashes.  I tried dragging out all of the objects out of the toolbox and it did crash before I got them all (even though it is a radically smaller number of objects and only a single screen).

[2017-07-06 16:39] samreid commented on #62
- [ ] @jessegreenberg recommended a test with accessibility:false

[2017-07-06 17:47] samreid commented on #62
After removing extra nodes from ChargeNode, I can drag out all items on Screen 3, 2 and halfway through screen 1 before crashing.  Let's chat about getting rid of a screen.

[2017-07-06 17:49] samreid commented on #62
@ariel-phet suggested setting the grab bag objects to 2 each.

[2017-07-06 18:03] samreid commented on #62
After reducing the number of grab bag items, we are still crashing about halfway through screen 1 items.

[2017-07-06 18:44] samreid opened #68 "Vertices are getting feathered near the end"
![image](https://user-images.githubusercontent.com/679486/27927327-a2bd1740-6248-11e7-9c85-3d7248e63581.png)

We may need to develop end caps for this?

Lifelike caps are also discolored?
![image](https://user-images.githubusercontent.com/679486/27927356-b95c30f8-6248-11e7-9485-9c11f653b6b2.png)

Tagging for design meeting to see how much effort this is worth.

[2017-07-06 19:50] samreid opened #69 "resistor lines are off"
at least on iPad

[2017-07-06 20:17] samreid commented on #64
Take away the ".0" and reduce the size.

[2017-07-06 20:19] samreid commented on #63
We decided this is important to investigate.

[2017-07-06 20:22] samreid commented on #68
@arouinfar and @ariel-phet said OK to keep this issue open but not necessary to fix for 1.0--not a big deal.

[2017-07-06 23:41] samreid commented on #61
Explore screen is gone and all screens now feature a carousel.

[2017-07-06 23:41] #61 closed

[2017-07-07 00:25] samreid opened #70 "minimize accordions by default on lab screen."

[2017-07-07 00:25] samreid opened #71 "WebGL Feathering lines are a problem"
I think there is a scenery issue for it.

[2017-07-07 00:26] samreid opened #72 "Add a ?virtualLab query parameter"
It will hide the noncontact ammeter and start up with "lab" screen only

[2017-07-07 00:27] samreid opened #73 "Change battery and resistor max to 150"
So it will cover the 120V range.  We will need to increase the fire current to compensate (so it starts fire at about the same point on the range).

[2017-07-07 00:34] samreid commented on #62
Even after making these changes and dropping a screen, a built version crashed on iPad2 after getting out half of a single page of items.  I'm going to kill all apps on the iPad, restart and try again.

[2017-07-07 00:42] samreid commented on #62
After killing apps and restarting I got a lot further.  Was able to create every item and manipulate things for 30 seconds or so before crashing.

[2017-07-07 00:45] samreid commented on #62
Could also do for VertexNode and SolderNode what we did for ChargeNode:

1082 VertexNode 1344 pickable hits inputListeners translated [Trail 1.5.1.92] undefined 230f
1096 Image 65 hits translated [Trail 1.5.1.92.0] undefined 630f (f) self:ImageWebGLDrawable#612
1083 SolderNode 1345 invis I-invis I-rel-invis I-self-invis nofit-ancestor nofit-self unpickable translated [Trail 1.5.1.93] undefined 630

[2017-07-07 02:47] samreid commented on #69
This is only a problem on the built versions

[2017-07-07 02:56] samreid commented on #69
Fixed above, closing.

[2017-07-07 02:56] #69 closed

[2017-07-07 02:57] samreid commented on #62
Perhaps a good time to test this hypothesis?

[2017-07-07 03:23] samreid opened #74 "3MB/sec of allocations during dragging?"
![image](https://user-images.githubusercontent.com/679486/27942039-45b04aa6-6291-11e7-9151-94086fbfaa34.png)

May be causing https://github.com/phetsims/circuit-construction-kit-dc/issues/62

[2017-07-07 04:22] samreid commented on #74
After the above commits, Chrome is reporting 2.95MB/sec.  I ran another "before commit" run and saw 2.83MB/sec.  Is everything in the noise here?

[2017-07-07 04:36] samreid commented on #74
On the other hand, after these changes I was able to use the app for 5+ minutes on the iPad2, including dragging out every component and making circuits without any crashes.  Perhaps we should do some more of this.

[2017-07-07 04:37] samreid commented on #62
Investigation in reducing allocations while dragging seems promising (though with the caveat that it seems there are unknown variables here and it is perhaps difficult to reproduce experiments exactly without rebooting the iPad between each run).

[2017-07-08 03:34] samreid commented on #74
I noticed that for 60 frames, CircuitLayerNode.dragVertex is called 248 times.  Are we processing multiple events per animation frame?  If so, how many?  This seems like it could impact performance.

[2017-07-08 03:36] samreid commented on #74
I found that FixedLengthCircuitElement.drag is called 2x per animation frame.  Is this normal or some bug in CCK code?

[2017-07-08 03:53] samreid commented on #74
Dragging wires still allocates ChargeNodes because the vertices move independently--we will need to optimize this or pool the ChargeNodes.

[2017-07-08 05:11] samreid commented on #74
Huge improvement for dragging wires in the above commit.  Charges are still created (unpooled) when wires change length.

[2017-07-08 05:41] samreid commented on #74
Reset all seems broken by the above changes.

[2017-07-08 05:44] samreid commented on #70
@Denz1994 can you please look into this one?

[2017-07-09 03:49] samreid commented on #72
My gut tells me that it will be easiest if we manage this as the same deliverable with a query parameter.

An alternative would be to create a new repo and new "sim".

Questions:
1. How do we want to track analytics?  Is it important whether they are different sims?  Or is it OK to track this with query parameters?
2. Will they have different titles?
3. Will we ever want to deploy one without the

[2017-07-10 15:00] pixelzoom commented on #72
Not enough information here. What are the requirements?  Will this be presented on the website as a different sim?

[2017-07-10 15:02] pixelzoom commented on #72
If it's presented as a different sim, I'd make a new repo.  Yes, a new repo seems kind of "heavy" for the difference you've described.   But the query parameter solution is a mismatch with PhET processes, resulting in the kinds of issues/questions (and there are undoubtedly others) that you've enumerated.

My question would be -- why is this even necessary?

[2017-07-10 16:01] pixelzoom commented on #72
Is this intended to be similar to this Java "flavor" of CCK?
https://phet.colorado.edu/en/simulation/circuit-construction-kit-dc-virtual-lab

[2017-07-10 16:03] pixelzoom commented on #72
If so....

• circuit-construction-kit-dc-virtual-lab repo
• circuit-construction-kit-dc-virtual-lab-main.js which instantiates only `LabScreen`
• hide noncontact ammeter via an option to `LabScreen`

[2017-07-10 16:06] samreid commented on #72
Yes, it's an analog for the Java Virtual Lab flavor.  The requirements I am aware of are:
1. it should launch the "Lab screen" only
2. it should hide the non-contact ammeter

I strongly suspect:
1. It will need its own title
2. It will need its own analytics

All of those can be done in 1 repo with "hacks" (a few lines of code).  But I would like a solution that is best in the long run.

[2017-07-10 16:09] pixelzoom commented on #72
Concentration and "pH Scale: Basics" are very similar to what you're trying to do here -- cherry pick one screen, with some customization.  The associated repos have nothing but main.js and config.js.  I don't see anything wrong with that approach for the longterm.

[2017-07-10 16:12] samreid commented on #72
So is this mainly a question of whether the sim gets its own "sim page"?  For instance, if it is just a link on the "Circuit Construction Kit: DC" would you still recommend its own repo?

Conversely, if the "thin repo" is an established and recommended pattern, should we use that to advocate for a standalone sim page (so this is not a special case)?

[2017-07-10 16:19] pixelzoom commented on #72
Even if it has a link on the "Circuit Construction Kit: DC" page, I would highly recommend making ""Circuit Construction Kit: Virtual Lab" also have its own page.   That will have numerous advantages, including:

• Provide a place for teachers to put lesson plans specific to CCK:VL
• Provide a place to access translations
• Fit with PhET test/build/deploy processes

Without a page of its own, we'r

[2017-07-10 16:25] pixelzoom commented on #72
Also note that there's a legacy version:
https://phet.colorado.edu/en/simulation/circuit-construction-kit-dc-virtual-lab

If there's no sim page for the HTML5 version, how do you propose to make the legacy version accessible.

I also see 2 "virtual lab" flavors in Java:
Circuit Construction Kit (DC Only), Virtual Lab
Circuit Construction Kit (AC+DC), Virtual Lab

If the plan is to have HTML5 versi

[2017-07-10 16:29] Denz1994 commented on #70
Changed the options for the accordion boxes to be closed by default. Assigning to @samreid for review.

[2017-07-10 16:29] kathy-phet commented on #72
My understanding from the conversation last Thursday was that we were planning to keep the individual sim pages for each current flavor of CCK. Kathy

[2017-07-10 16:34] samreid commented on #72
Thanks @kathy-phet and @pixelzoom for discussing this.  So it seems we should remove the `?virtualLab` query parameter and move to a "circuit-construction-kit-virtual-lab" repo solution.

@kathy-phet and @arouinfar does this need to be done for 1.0?

[2017-07-10 16:35] pixelzoom commented on #72
@kathy-phet said:

@samreid

If what @kathy-phet said is correct, then you need 2 repos:

circuit-construction-kit-dc-virtual-lab
circuit-construction-kit-ac-dc-virtual-lab

[2017-07-10 16:39] samreid commented on #72
I'm picturing these repos:

circuit-construction-kit-common
circuit-construction-kit-dc
circuit-construction-kit-dc-virtual-lab
circuit-construction-kit-ac
circuit-construction-kit-ac-virtual-lab
circuit-construction-kit-basics
circuit-builder (iPad app)

I'm not sure if there will be another flavor for the energy circuit sim, or if that will be done in the "basics" repo.

[2017-07-10 16:53] ariel-phet commented on #72
@samreid yes, the virtual-lab needs to be done for 1.0

[2017-07-10 16:56] arouinfar commented on #72
@kathy-phet I think the goal of ?virtualLab was to avoid giving the virtual lab flavors of CCK their own sim page. However, @pixelzoom has provided several compelling reasons why we should proceed through the standard repo + sim page route for the virtual flavors.

@samreid I would also picture those repos, but we'll need to find an alternative name for the app. There's already a Circuit Builder a

[2017-07-11 03:14] samreid commented on #70
Looks great, thanks @Denz1994!  Closing.

[2017-07-11 03:14] #70 closed

[2017-07-11 03:15] samreid opened #75 "accordions should close on reset"
Discovered in https://github.com/phetsims/circuit-construction-kit-dc/issues/70

The accordion boxes should close on reset.  @Denz1994 can you please take a look?

[2017-07-11 16:24] Denz1994 commented on #64
Added maxWidths to the circuit elements not typed as 'resistor' or 'highResistanceResistor' and reduced the number of decimal places shown on value readout.

[2017-07-12 05:13] samreid commented on #75
That changeset looks like it will work well, closing.

[2017-07-12 05:13] #75 closed

[2017-07-12 14:27] samreid commented on #64
The above commit is in a branch named `MASTER` which seems to be different than `master`.  Was this intentional?

Also, the use of the ternary operator seems incorrect.  The code is:

[code]

It would be better like this:

[code]

[2017-07-12 14:37] Denz1994 commented on #64
@samreid I noticed this duplicate branch, as well this morning. Here are the steps I took yesterday:
1. Made some changes in CCK-Common
2. While regression testing, checked out previous SHA for behavior comparison
3. Applied stashed changes.
4. Pushed to repo

I believe between steps 2 &3 I should have checked out master and I might have still been on an old version. So a new 'MASTER' branch was c

[2017-07-12 15:36] samreid commented on #64
Checkout master, then merge MASTER into master.  Then delete MASTER?

[2017-07-12 18:58] Denz1994 commented on #64
So, merging the branches doesn't work because Git doesn't recognize capitalization. It keeps saying that everything is up to date, despite being on two different branches. I've run into this problem before when refactoring the capitalization of file names.

I just stashed my changes, deleted my local copy, recloned the repo, and applied my stashed changes. I also deleted the 'MASTER' branch. I bel

[2017-07-13 03:17] samreid commented on #71
@jonathanolson fixed this by padding the spritemap elements, closing.

[2017-07-13 03:17] #71 closed

[2017-07-14 03:01] samreid commented on #72
I created a new repo and sim that launches the lab screen.  I'll need to add an option that limits to inline ammeters, but that will be in another repo.

[2017-07-14 03:01] #72 closed

[2017-07-15 05:50] samreid commented on #74
I did a fresh recording of memory allocations when dragging a single battery, and it is up at 10.6MB/sec.  I'm wondering if there is some inherent noise in these readings?

[2017-07-15 05:53] samreid commented on #74
Likewise, Chrome is reporting around 2MB/sec garbage generated while nothing is happening.

[2017-07-17 02:34] samreid commented on #73
Proposed implementation is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.79/circuit-construction-kit-dc_en.html

@arouinfar can you please test?

[2017-07-17 03:20] arouinfar commented on #73
👍

[2017-07-17 22:12] samreid opened #76 "Prepare a stable version for AAPT"
@kathy-phet could use a stable version for AAPT next week.

[2017-07-17 22:16] samreid commented on #76
I published a dev version here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.80/circuit-construction-kit-dc_en.html

Here is a snapshot of the known open issues on my radar:
![image](https://user-images.githubusercontent.com/679486/28292143-0768c50c-6b0b-11e7-85de-c63147fdbebb.png)

@arouinfar @ariel-phet @kathy-phet can you please do some brief sanity testin

[2017-07-17 22:17] samreid opened #77 "Electron shouldn't go behind solder"
Discovered in #76, the electron is sometimes layered incorrectly after connection
![image](https://user-images.githubusercontent.com/679486/28292244-732fa8aa-6b0b-11e7-9e54-cd1b88ce6cb4.png)

[2017-07-17 22:20] samreid opened #78 "Wire tips have a crease"
Perhaps this was introduced when spritesheet padding was added?  Discovered in #76

![image](https://user-images.githubusercontent.com/679486/28292364-e353a442-6b0b-11e7-94f4-61b4debaa123.png)

[2017-07-17 22:25] samreid opened #79 "Schematic mode uses incorrect sensor hit areas"
Discovered in #76, the schematic mode sensor reading areas are the same as the lifelike views:

![image](https://user-images.githubusercontent.com/679486/28292496-73ffdb78-6b0c-11e7-8425-8b25ff823b9c.png)

@arouinfar is this as desired, or should we revise it to use different hit areas for schematic?

[2017-07-17 22:25] phet-steele commented on #78
@samreid was introduced earlier in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.74/circuit-construction-kit-dc_en.html

[2017-07-17 22:28] samreid commented on #76
I tested for about 5 minutes on Chrome and noted 3 new issues (none are necessarily deal-breakers).

[2017-07-17 22:28] phet-steele commented on #78
The wire and the little "dot" for the end of the wire are technically two different images in the spritesheet, no? Maybe you are just seeing two images not mesh well together.

[2017-07-17 22:29] arouinfar commented on #79
@samreid for usability, I think we want to use the same reading areas for the lifelike view. It may be a bit tricky to place the probe directly over the thinner components, particularly on touch.

[2017-07-17 22:30] samreid commented on #78
Yes, I had to split it into several items to render it with WebGL.

[2017-07-17 22:31] samreid commented on #79
Sounds reasonable to me, I'll close this as "will not fix".

[2017-07-17 22:31] #79 closed

[2017-07-17 22:35] arouinfar commented on #76
@samreid I was using dev.79 earlier today and encountered two deal-breaking issues
* After awhile the carousel becomes inactive. Components cannot be taken out or returned, and it requires a browser refresh to fix.
* At some point, the cut button stopped working (carousel was still ok). Also required browser refresh to fix.

I don't know if these were known issues that were fixed in dev.80, but I

[2017-07-17 22:36] samreid commented on #76
dev.80 is pretty similar to dev.79, I bet the same issues are there.  Please double check and create issues.

[2017-07-17 22:38] arouinfar commented on #76
Will do @samreid.

[2017-07-17 23:23] samreid commented on #74
I hacked inherit like this to try to catch all invocations by PhET code:

[code]

But I can't tell if it is working properly.

[2017-07-18 00:08] samreid commented on #67
Fixed above, closing.

[2017-07-18 00:08] #67 closed

[2017-07-18 00:18] samreid commented on #64
This code is probably not doing what you expect:

[code]

Because `'resistor' || 'highResistanceResistor'` evaluates to `'resistor'`.  The comparisons will have to be separated.

[2017-07-18 00:27] samreid commented on #64
I cleaned up the logic a little and reduced the max width a little.  Now it looks like this:

![image](https://user-images.githubusercontent.com/679486/28295383-7c41911c-6b1d-11e7-89cf-6dfcaecbbedb.png)

@Denz1994 can you please double-check the changes?

[2017-07-18 01:05] samreid commented on #62
3 minutes and 47 seconds of continuous use on iPad2 and no crash.  However I did find a bug that the cut button isn't cutting wires.

[2017-07-18 01:07] samreid commented on #62
?fuzzMouse survived iPad2 for 52 seconds.

[2017-07-18 01:10] samreid opened #80 "Cut button doesn't cut wires."
After about 3 minutes of usage on the iPad2, the wire cut button was unresponsive.  It would press in but not cut the wires.  Discovered in https://github.com/phetsims/circuit-construction-kit-dc/issues/62#issuecomment-315928278 and pertinent to #76

[2017-07-18 01:14] samreid commented on #62
Looks like fuzzMouse in desktop Chrome is leaking around 5MB every 30 seconds.
![image](https://user-images.githubusercontent.com/679486/28296220-1752df70-6b24-11e7-92ed-51ec46f5f3e4.png)

[2017-07-18 01:27] samreid commented on #62
After running for a while, 90 seconds of fuzzing seems like there is no leak:

![image](https://user-images.githubusercontent.com/679486/28296518-0909de30-6b26-11e7-8de5-aad3309196ca.png)

[2017-07-18 01:29] samreid opened #81 "Somehow fuzzing inverts the voltmeter"
Spotted a few minutes into a fuzz test:

![image](https://user-images.githubusercontent.com/679486/28296555-2aa11c70-6b26-11e7-8fd6-31f2f44d4046.png)

[2017-07-18 01:33] samreid commented on #62
I think it would be nice to get some QA testing on this when a dev version is ready for QA team testing.

[2017-07-18 01:49] samreid commented on #63
I think this issue is predominantly about the voltmeter probes--it seems the noncontact ammeter already reads values over the switch.

[2017-07-18 02:26] ariel-phet opened #82 "Improvements to pointerAreas in carousel"
Discovered while playing with http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.80/circuit-construction-kit-dc_en.htm

When trying to push the lower carousel button, several times I grabbed the switch

Looking at `?showPointerAreas`, it appears there are a few usability issues:

1. The padding on all components should be reduced below the label (for instance, ther

[2017-07-18 04:28] ariel-phet commented on #62
@samreid once you feel you have a stable version, go ahead and create a QA task, feel free to immediately label it "top-priority" and assign to @phet-steele

[2017-07-18 13:05] samreid opened #83 "Add function signatures to JSDoc"
e.g. `* @param {Function} okToVisit - rule that determines which vertices are OK to visit`

[2017-07-18 13:06] samreid opened #84 "Use lodash where applicable?"
There were a few loops where lodash filter may be usable?  Perhaps `getNeighborVerticesInGroup` and maybe others?

[2017-07-18 13:40] samreid opened #85 "?vertexDisplay=index is broken"

[2017-07-18 16:13] Denz1994 commented on #64
Thanks for the changes. They look great.

I am wondering if we should treat high voltage components and resistors the same way? There is a  minor overlap that doesn't affect readability, but we do have an added decimal place that is never changed in the sim. It may give us less clutter to remove it.  I don't know if it is pedagogically useful to have the decimal places on these components. Thought

[2017-07-18 16:19] samreid commented on #63
Things are kind of working after the changes above.  But now there's a problem reading a voltage drop across a single wire.

[2017-07-18 17:28] phet-steele commented on #81
@samreid, this problem occurs for me after hitting this error.

[code]

[2017-07-18 18:00] phet-steele commented on #81
This is multitouch, unless you have the fastest mouse clicking chops the world has ever seen (like fuzzMouse). To reproduce the inverted voltmeter:

1. Either screen, drag out the Voltmeter with finger A and NEVER LET GO for the entirety of this procedure.
2. With finger B, zoom out
3. With finger B again, you're going to want to tap zoom in, then VERY QUICKLY tap zoom out. This will begin the "zo

[2017-07-18 18:36] samreid commented on #63
OK that should be fixed too, ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.81/circuit-construction-kit-dc_en.html

[2017-07-18 18:36] samreid commented on #63
By the way, big thanks to @jonathanolson for helping with this issue!

[2017-07-18 18:40] samreid commented on #64
Good point @Denz1994, I'll raise it for discussion in a new issue.  Closing this one.

[2017-07-18 18:40] #64 closed

[2017-07-18 18:41] samreid opened #86 "Truncate decimal places for high voltage/high resistance components?"
In #64 @Denz1994 said:

I am wondering if we should treat high voltage components and resistors the same way? There is a  minor overlap that doesn't affect readability, but we do have an added decimal place that is never changed in the sim. It may give us less clutter to remove it.  I don't know if it is pedagogically useful to have the decimal places on these components. Thoughts @samreid?

![ima

[2017-07-18 18:41] samreid commented on #86
Same question for the editor--for these components it doesn't appear possible to go to 0.5, so we may be able to truncate it as well:
![image](https://user-images.githubusercontent.com/679486/28333846-74b52a00-6bb6-11e7-97e9-c2209d870f3c.png)

[2017-07-18 18:42] samreid commented on #86
@arouinfar I'm not sure whether it is better to truncate these since they can be long, or to keep it consistent with the lower resistance components.  What do you recommend?

[2017-07-18 19:08] arouinfar commented on #80
@samreid I observed this during an interview with dev.79 using Mac/Chrome. I haven't been able to reproduce it myself, though.

[2017-07-18 19:09] samreid commented on #65
OK I expanded the touch area.  I was concerned about performance but dragging or stretching wires on iPad doesn't seem a lot worse:

![image](https://user-images.githubusercontent.com/679486/28335001-25d79afe-6bba-11e7-97f4-59e516678226.png)

[2017-07-18 19:11] arouinfar commented on #86
@samreid I think it'd be fine to remove the ".0" from the high voltage/resistance components, as that level of precision isn't necessary.

[2017-07-18 19:12] arouinfar commented on #63
👍

[2017-07-18 19:12] #63 closed

[2017-07-18 22:57] arouinfar commented on #73
While reviewing dev.80 for #76, I noticed two issues while using a standard 10 ohm bulb and a single battery:
* Animation speed will be reduced around 106 V, but no fire appears
* The 2000 W brightness ceiling will be hit around 142 V

I find the first issue to be a bit problematic. I really like the connection between the reduced animation speed and the appearance of the fire.

We originally deci

[2017-07-18 22:58] arouinfar commented on #76
I've finished testing dev.80 @samreid. I'm still unable to reproduce the freezing carousel. @phet-steele has also tried, but hasn't (yet) reproduced it. It happened in 3 interviews (1 on iPad Air/Safari, 2 on Mac/Chrome). After the students used the sim for awhile, the carousel became unresponsive. Items couldn't be returned or taken out of it, and the browser had to be refreshed to fix the proble

[2017-07-18 23:24] samreid commented on #80
@arouinfar was this related to the "carousel becomes unresponsive error"?

[2017-07-18 23:33] samreid commented on #76
I'm glad to hear interviews were performed on dev.80.  Do you know how long the sim was used before going unresponsive?  Also, did you learn anything else from the interviews that will inform the design or implementation?

[2017-07-18 23:37] arouinfar commented on #76
@samreid sorry, I was a bit unclear. The interviews were done on dev.77 (Mac/Chrome), dev.78 (iPad Air/Safari), and dev.79 (Mac/Chrome). I was conducting interviews on Projectile Motion, and there was enough time at the end to let them use CCK:DC, as well.

I'm still reviewing the footage and making some notes, but I won't have any major change requests based on this round of interviews.

[2017-07-18 23:39] samreid commented on #76
OK thanks for clarifying!

[2017-07-18 23:46] arouinfar commented on #80
@samreid I don't think so. When the cut button broke, I asked the student to test the carousel, and it was still working. The carousel issue is more pervasive. All three students ran into the carousel issue at least twice during their interviews.

[2017-07-18 23:49] samreid opened #87 "Carousel freezes up"
See https://github.com/phetsims/circuit-construction-kit-dc/issues/80

Sometimes the carousel locks up.  @arouinfar and @phet-steele and @samreid haven't reproduced the problem yet, but it came up several times during interviews.

[2017-07-18 23:49] samreid commented on #87
@arouinfar or @phet-steele if you see this problem again, a stack trace (from the console) may come in handy.

[2017-07-19 00:34] samreid commented on #65
Dev version is published here, @arouinfar can you please take a look?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.82/circuit-construction-kit-dc_en.html?showPointerAreas

[2017-07-19 02:16] samreid commented on #85
Fixed, closing.

[2017-07-19 02:16] #85 closed

[2017-07-19 02:33] samreid commented on #66
It looks like the problem is that the connectivity rule allowed the vertices to connect--the bump away logic is ineffective after the connection is made.  There is a connectivity rule that prevents overlapping a single circuit element.  We may need a connectivity rule that prevents overlapping several circuit elements.

[2017-07-19 05:22] samreid commented on #66
I tried this rule but it was pretty jittery:

[code]

[2017-07-19 05:22] samreid commented on #66
It may be easier to add a postprocessing rule rather than an avoidance rule.

[2017-07-19 05:23] samreid commented on #74
This may be fine now?  Perhaps OK for QA testing.

[2017-07-19 05:46] samreid commented on #76
It sounds like the light bulb ghosting was the only blocking issue and there is a proposed fix for that in https://github.com/phetsims/circuit-construction-kit-common/issues/388

Perhaps we should continue testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.83/circuit-construction-kit-dc_en.html

But there have been a number of other commits since then, s

[2017-07-19 05:47] samreid commented on #73
I'm also fine with requiring 2x batteries to reach 120V.  I think we discussed it and decided against it, but I can't recall why (nor am I certain that we discussed it).

[2017-07-19 05:51] samreid commented on #78
There is some bleeding past the edge when I turn the rounded caps off--this could be causing the graying...?
![image](https://user-images.githubusercontent.com/679486/28352498-fe94b0da-6c13-11e7-9632-b3af56a26578.png)

[2017-07-19 05:53] samreid commented on #87
@arouinfar shared a video clip that demonstrated the problem.  Notably:

The rest of the sim remained responsive too.

[2017-07-19 05:55] arouinfar commented on #87
@samreid I just edited the clip to include more of what happened after the browser refresh. After dragging 3 batteries into the play space and adjusting their positions, the carousel froze again.

[2017-07-19 06:00] samreid commented on #87
I can see the problem after the browser refresh, but am still having trouble replicating the problem.  Hopefully a stack trace will contain valuable information (but maybe not).

[2017-07-19 14:48] samreid commented on #78
I will be somewhat surprised if we need to tile multiple images for the central, stretchy part of the wire.

[2017-07-19 14:50] samreid commented on #78
This problem is not quite as bad if we put the caps in front, and doesn't exaggerate as the wire stretches out.

![image](https://user-images.githubusercontent.com/679486/28373336-4d61ddb4-6c5f-11e7-9f78-bf5861ede82b.png)

[2017-07-19 14:56] samreid commented on #78
I could also tile other nodes across that buggy patch, but that would add 2 more nodes per wire.  We previously tried to reduce the number of nodes to help with memory and crashing issues.

The commit above was published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.84/circuit-construction-kit-dc_en.html

@arouinfar is this good enough?  If not, @jonatha

[2017-07-19 15:00] samreid commented on #81
This may be fixed by https://github.com/phetsims/circuit-construction-kit-common/issues/387 and http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.84/circuit-construction-kit-dc_en.html

@phet-steele can you take a look?

[2017-07-19 16:23] phet-steele commented on #81
Nice fix! Bummer too, it was a fun one.

[2017-07-19 16:23] #81 closed

[2017-07-19 16:29] arouinfar commented on #78
@samreid I think the solution used in dev.84 is a reasonable compromise. It's definitely an improvement, so I don't think it's worth adding more nodes at the expense of performance.

[2017-07-19 16:31] arouinfar commented on #65
Feels good on an iPad @samreid!

[2017-07-19 16:31] #65 closed

[2017-07-19 16:44] samreid commented on #80
I haven't been able to reproduce this problem, perhaps I should schedule it for QA testing.

[2017-07-19 17:01] samreid commented on #77
I committed a proposed fix.  Will be ready for review in next published version.

[2017-07-19 17:37] samreid commented on #82
Fixed in the above commits, will be ready for testing in next version.

[2017-07-19 17:45] samreid commented on #83
Added function parameters, closing.

[2017-07-19 17:45] #83 closed

[2017-07-19 17:49] samreid commented on #84
I'm seeing 59 occurrences of `for ( var` in CCK common code.  I think all of these could be replaced by closure iterations like `forEach` or combinations of `map` and `filter`, etc., but I don't think it would necessarily be more readable and it could be worse for memory or performance.  @jonathanolson since you will be doing the code review can you please provide a guideline for if/when loops sho

[2017-07-19 20:00] ariel-phet opened #88 "Consider tilted/rotatable voltage meter probes"
@arouinfar when playing around with the latest version of CCK (and making a gif or two to tweet out), I noticed that having the voltage meter probes be straight vertical was a bit awkward. I think there is a tendency to build circuit in a "grid-like" manner, so components are either generally vertical or horizontal. The current orientation of the probes works reasonable for horizontal components b

[2017-07-19 20:11] Denz1994 opened #89 "Voltmeter Readout for Grab Bag reading '?' instead of '0.00 V'"
Probing the vertices of isolated non-wire components gives a readout of '0.00 V'. Consider the image below.
![image](https://user-images.githubusercontent.com/13894380/28386713-a93d3d02-6c89-11e7-81e6-83f0f9dfe7c0.png)

Additionally, probing the body (not the vertices) of the non-wire component gives a readout of '?'.
Consider the image below.
![image](https://user-images.githubusercontent.com/138

[2017-07-19 20:21] arouinfar commented on #89
Great observation @Denz1994. I believe the behavior was intentional, as the body of most objects is insulated. However, I would agree that the grab bag items with a metallic body (paperclip and coin) should behave like a wire.

[2017-07-19 20:38] jonathanolson commented on #84
Lately, I'm generally opting for the lodash styles in things that aren't called at least once per frame during an animation (so that it won't cause GC headaches and jitter as much). Depending on the sim's GC needs, I try to use lodash with closures as much as possible (for readability and less opportunity for bugs).

[2017-07-19 20:40] arouinfar commented on #89
@samreid would this be akin to #63?

[2017-07-19 20:47] jonathanolson commented on #78
toDataURLImageSynchronous adds padding so that the edges of the "node" getting imaged are included in the image. It's probably antialiased. Then when you stretch it out, the antialiased part gets stretched.

You want to specify custom bounds to the toImage* equivalent so it doesn't include the ends, and doesn't have antialiasing on the ends.

[2017-07-19 20:49] arouinfar commented on #78
Thanks @jonathanolson!

@samreid this sounds like you don't need to add more nodes to address the problem, can you investigate?

[2017-07-19 20:56] Denz1994 commented on #89
Adding on to that, the dollar, dog, hand, and eraser should have a voltage readout of '?' as the whole component is an insulator compared to the vertices.

[2017-07-19 21:35] samreid commented on #87
@phet-steele discovered that double clicking a vertex causes this problem.  Nice work @phet-steele!  @jonathanolson and I will pursue a strategy for listening to the scenery event channel for a way to address this issue.

[2017-07-19 21:39] arouinfar commented on #87
Way to go @phet-steele!!

[2017-07-19 22:59] samreid opened #90 "Clicking near a tweaker button shouldn't dismiss it"

[2017-07-20 00:29] samreid commented on #87
Fixed by @jonathanolson in the preceding commits, closing.

[2017-07-20 00:29] #87 closed

[2017-07-20 01:26] samreid commented on #86
Ready for testing in this version: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.85/circuit-construction-kit-dc_en.html

[2017-07-20 01:26] samreid commented on #77
Ready for testing in this version: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.85/circuit-construction-kit-dc_en.html

@arouinfar can you please test this and related behaviors?

[2017-07-20 01:29] samreid commented on #82
Posted for testing in this version: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.85/circuit-construction-kit-dc_en.html?showPointerAreas

Note I have already applied the ?showPointerAreas query parameter.  Here is page 1:
![image](https://user-images.githubusercontent.com/679486/28396417-84d40ae8-6cb8-11e7-9583-821e7bcc5a89.png)

Here is page 2:
![image](http

[2017-07-20 01:30] samreid commented on #76
Version dev.85 fixes the carousel lock-up bug:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.85/circuit-construction-kit-dc_en.html . Let's continue testing this one.

[2017-07-20 01:38] samreid commented on #78
The problem reduces somewhat if I change the padding from 2 to 0:

![image](https://user-images.githubusercontent.com/679486/28396621-df17fe5a-6cb9-11e7-837a-b100fb41d3ef.png)

[2017-07-20 01:40] samreid commented on #78
Even with the padding at -2, I am still seeing this problem to some extent:

![image](https://user-images.githubusercontent.com/679486/28396641-fa8d7e08-6cb9-11e7-930b-adc973b8d6ad.png)

[2017-07-20 01:40] samreid commented on #78
@jonathanolson am I barking up the right tree?

[2017-07-20 01:56] samreid commented on #78
I think it's a WebGL artifact because here is how ?webgl=false renders the padding=0 case:

![image](https://user-images.githubusercontent.com/679486/28397037-4b47ccb6-6cbc-11e7-9b0a-ef9769b2dc93.png)

[2017-07-20 02:00] samreid commented on #78
I'm seeing the same blurring on Firefox

[2017-07-20 02:03] jonathanolson commented on #78
I'll be handling this in https://github.com/phetsims/scenery/issues/637 (reopened).

[2017-07-20 02:13] samreid commented on #89
So it seems we will need to add a new property of resistors that indicates whether it is metallic or shielded, with paperclip and coin being the only metallic ones at the moment.

[2017-07-20 02:14] samreid commented on #84
Consider using phetAllocation on each for loop to segregate the rare from the frequent.

[2017-07-20 02:25] ariel-phet commented on #82
@samreid pointer areas now look and feel good, and carousel working nicely!

It would also be good to "visually" distribute the items evenly. For instance, there is quite a bit of negative space between the wire and the battery and the resistor and the switch (as examples). I think it would be good to just go through the carousels and "eyeball" and reasonably even distribution between the items. T

[2017-07-20 02:30] samreid opened #91 "Better separation for the items in the carousels"
From https://github.com/phetsims/circuit-construction-kit-dc/issues/82 @ariel-phet said:

[2017-07-20 02:31] #82 closed

[2017-07-20 02:38] samreid commented on #66
I haven't found a straightforward solution to this yet--I've marked it for design meeting to discuss implementation strategies.

[2017-07-20 03:31] jonathanolson commented on #78
I believe this is handled. Appearance with and without the cap (on a wire across the whole screen):

![cck-artifact-1](https://user-images.githubusercontent.com/480878/28399307-9d68aa26-6cc9-11e7-9616-708bae7ba26a.PNG)
![cck-artifact-2](https://user-images.githubusercontent.com/480878/28399313-a0bd9c18-6cc9-11e7-979a-8295cac6f98b.PNG)

@samreid can you confirm?

[2017-07-20 13:58] samreid commented on #78
Looks great on my side.  However, it was unclear to me why these changes were necessary:

[code]

Can you help me understand when it will be necessary to specify arguments for these and when it won't be?  Is it when a large scaling is applied to a node?  Or a scaling that doesn't preserve aspect ratio?

[2017-07-20 14:16] samreid commented on #76
Tagging for design meeting so we can come up with a plan to make sure something is OK for AAPT.

[2017-07-20 14:24] samreid commented on #84
I instrumented all for loops with a phetAllocation call, then recorded dragging objects for 10 seconds.  I saw 11491 hits on these loops.  For completeness, here are all the hits.  @jonathanolson can you help me draw the line somewhere about which ones to convert to closure iterations?

[code]

[2017-07-20 15:12] samreid commented on #84
Also, are there patterns other than `for (` that I should be looking to convert?

[2017-07-20 15:17] samreid commented on #88
It will most likely be simpler in the code to rotate the probes in the toolbox and I think it would look nice to be consistent, but I'll have to see how much more horizontal space it takes up.

[2017-07-20 17:16] arouinfar commented on #88
@samreid I'd be fine with tilted probes in the toolbox, so long as there's enough room to accommodate them.

[2017-07-20 17:33] samreid commented on #88
Rotated probes are available in dev.86.  @ariel-phet and @arouinfar can you please test it out?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.86/circuit-construction-kit-dc_en.html

[2017-07-20 17:34] phet-steele commented on #80
@samreid, the cut button will never work on the second screen a user visits, assuming the user had dragged out a component on the first screen they visited.

1. On startup, pick a screen and go to it.
2. Drag a component, any component, into the play area.
3. Switch screens
4. Drag out two components and connect them.
5. Attempt to cut them apart (can't)

Verified in http://www.colorado.edu/physic

[2017-07-20 17:35] samreid commented on #76
Rotated probes are available in dev.86: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.86/circuit-construction-kit-dc_en.html

[2017-07-20 17:35] samreid commented on #80
Excellent work @phet-steele!  You are making this too easy!

[2017-07-20 17:36] arouinfar commented on #88
I like it @samreid!

[2017-07-20 17:40] ariel-phet commented on #88
Looks good. Closing

[2017-07-20 17:40] #88 closed

[2017-07-20 18:53] jonathanolson commented on #84
Don't know, depends on current choppyness. Presumably around 20-30 times in 10 seconds may be the initial limit I would shoot for. If you don't see GC issues increase when lodash-ing all of them, maybe that's good too?

Presumably phetAllocation wasn't set up for startup, so there should be many cases where it's in the sim startup where lodash style is fine.

Up to you, I'll probably notice usages

[2017-07-20 19:03] jonathanolson commented on #78
As a general rule, it's doing what is usually desired: if an image with a transparent-to-non-transparent pixel edge exists, and you scale it up so each image-pixel takes up 50 real pixels, it's going to interpolate so that you don't see individual blocky pixels. We generally don't want a pixelated look for scaled-up images.

In this case, that's undesirable since you want the full-alpha content to

[2017-07-20 19:19] arouinfar commented on #78
I took a look at master, and the updated wire tips look amazing!

[2017-07-20 21:19] samreid commented on #66
At today's meeting we decided this issue was not worth the trouble and decided to close it.

[2017-07-20 21:19] #66 closed

[2017-07-20 21:21] samreid commented on #80
We would like to try to solve this before giving @kathy-phet a version for AAPT.

[2017-07-20 21:21] samreid commented on #89
Consensus: use a region like the wire touch area for determining whether contains sensor point for resistors, for 1.0 but not for AAPT

[2017-07-20 21:22] samreid commented on #73
From today's meeting:

change max to 120V.  Make sure no animation speed issue for battery (max) + default bulb.
change max resistance to 120

[2017-07-20 21:23] samreid opened #92 "Battery voltage reads as 0.0 until another component is out"

[2017-07-20 21:23] samreid commented on #92
Not needed for AAPT

[2017-07-20 21:24] samreid opened #93 "Schematic pointer areas are buggy"
![image](https://user-images.githubusercontent.com/679486/28439516-7f39d354-6d5f-11e7-8ca7-e32035cc770b.png)

[2017-07-20 21:24] samreid commented on #93
Heads up!  Those are mouse areas too!

[2017-07-20 21:25] samreid commented on #76
Electron opacity is restored, will be ready in next version.

[2017-07-20 21:30] samreid commented on #92
Fixed, closing.

[2017-07-20 21:30] #92 closed

[2017-07-20 21:58] samreid commented on #78
@jonathanolson thanks for explaining that, and for your help.  Closing.

[2017-07-20 22:04] samreid commented on #93
Fixed for resistors, and that will go a long way to fixing https://github.com/phetsims/circuit-construction-kit-dc/issues/89 as well.

![image](https://user-images.githubusercontent.com/679486/28440809-221c4160-6d65-11e7-9148-75c5f8294152.png)

[2017-07-20 22:09] samreid commented on #89
Now that #93 is resolved, I think we no longer need to implement the preceding suggestion since the mouse areas are pretty similar to the wire touch area. But we still need to do https://github.com/phetsims/circuit-construction-kit-dc/issues/89#issuecomment-316576235

[2017-07-20 22:13] samreid commented on #80
Proposed fix is in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.87/circuit-construction-kit-dc_en.html

[2017-07-20 22:14] samreid commented on #93
Proposed fix is in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.87/circuit-construction-kit-dc_en.html

[2017-07-20 22:18] samreid commented on #76
I published http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.87/circuit-construction-kit-dc_en.html

This has electron opacity, fixes the 0.0 battery readout, fixes the broken cut button, and fixes the mouse and pointer areas for schematic items.

@arouinfar @ariel-phet @phet-steele can you please test this?  Should I create a QA issue?

[2017-07-20 22:21] samreid commented on #76
I went ahead and created a QA issue: https://github.com/phetsims/QA/issues/26

[2017-07-20 23:05] arouinfar commented on #93
Looks good to me @samreid.

[2017-07-20 23:07] #93 closed

[2017-07-21 00:06] phet-steele commented on #80
There is an interesting consequence I see from this fix (or maybe it originated elsewhere).

Steps:

1. On the first screen, connect two components
2. On the second screen, drag out one component
3. Back on the first screen, click on the vertex that is the connection. This will bring up an enabled cut button. DON'T press it!
4. Switch back to the second screen
5. Click on a vertex. The cut button

[2017-07-21 00:10] phet-steele opened #94 "Wire stub visibility is shared between screens"
1. Drag out one wire on each screen
2. On one of the screens, enable schematic view
3. Switch to the other screen, the wire there will be missing its stubs. Move the wire around to fix.
![image](https://user-images.githubusercontent.com/5863899/28443937-9c9ca194-6d76-11e7-89fb-368a6ae27af3.png)

4. Switch back to the screen using schematic view, the wire will HAVE stubs (assuming you fixed step 3)

[2017-07-21 00:19] phet-steele commented on #77
@samreid @arouinfar, I see a mixture of electrons going in front of or behind verticies. Not exactly the same thing, I know, but is it at all problematic?

![image](https://user-images.githubusercontent.com/5863899/28444104-e0175e86-6d77-11e7-9ac0-f613113ec12d.png)

This is in  http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.87/circuit-construction-kit-dc_en.htm

[2017-07-21 00:23] phet-steele commented on #77
On that note, in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.87/circuit-construction-kit-dc_en.html, I still see electrons behind solder when in schematic view.

At least three cases (probably more):

1. In schematic view, drag out a wire.
2. Then, drag out either a battery, resistor, or switch and connect it directly to the wire. DO NOT place the components

[2017-07-21 00:39] ariel-phet commented on #94
This does not need to be fixed for AAPT

[2017-07-21 00:40] phet-steele opened #95 "Conventional current arrow direction is dependent on a lightbulb's angle"
Lightbulbs that are upside-down or sideways, and everything in between, have the conventional current arrows pointing in the completing wrong way.

The top bulb (upside-down) has the arrows pointing the opposite direction as the arrows in the wires it is connected to (the wires are correct).

![image](https://user-images.githubusercontent.com/5863899/28444459-966af966-6d7a-11e7-9b5d-13e4fe4c175c.p

[2017-07-21 00:44] ariel-phet commented on #95
I think Kathy can be told to only use right side up bulbs. NOT for AAPT.

However, a higher priority bug to fix in general.

Leaving @arouinfar assigned to note this as one of the "known" issues

[2017-07-21 01:04] phet-steele opened #96 "Series ammeter completes a circuit or something?"
I don't know how to explain this, just set up a similar situation on the Lab screen. Note the wire resistivity and battery voltage:

![image](https://user-images.githubusercontent.com/5863899/28444964-0cafb4c4-6d7e-11e7-8860-b8cda95c6745.png)

- The circuit is not complete, yet there is current
- The conventional current arrows do not agree on direction

@ariel-phet said not for AAPT

Seen in http

[2017-07-21 01:09] phet-steele commented on #96
Ugh, having trouble reproducing, stand by.

[2017-07-21 01:18] phet-steele commented on #78
@jonathanolson @samreid, schematic mode has a blur. Need changing?

![image](https://user-images.githubusercontent.com/5863899/28445205-2f25ec60-6d80-11e7-8521-4ad3f421a80a.png)

Seen in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.87/circuit-construction-kit-dc_en.html on Win 10 Chrome. For phetsims/QA#26.

[2017-07-21 01:25] ariel-phet commented on #78
That looks exceedingly minor to me for the moment

[2017-07-21 01:57] phet-steele opened #97 "Animation Speed text remains after Reset All"
Found by @arouinfar.

1. Create a short.
2. Reset All, text remains along the bottom of the screen.

Fixes upon further interaction with the sim.

Seen in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.87/circuit-construction-kit-dc_en.html on Win 10 Chrome. For phetsims/QA#26.

[2017-07-21 03:51] samreid commented on #78
Proposed fix committed above and published for dev testing here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.88/circuit-construction-kit-dc_en.html

![image](https://user-images.githubusercontent.com/679486/28448469-8e6f48aa-6d95-11e7-9dde-113a57ff10ec.png)

[2017-07-21 03:57] samreid opened #98 "Resistor color bands stop changing after 100"
Discovered in https://github.com/phetsims/circuit-construction-kit-dc/issues/73 when increasing the resistor resistance the color bands change every ohm, but above 100 they only change at 105, and 115.  @arouinfar do we need to go to 4 bands?  If so, is it only 4-band after 100?  Alternatively, are these values within tolerance?  Or should we change the tolerance band so that these bad values are

[2017-07-21 04:06] samreid commented on #73
Commit pushed above and ready for testing in this version:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.89/circuit-construction-kit-dc_en.html

@arouinfar and/or @ariel-phet can you please take a look?

[2017-07-21 04:12] samreid commented on #80
Proposed fix pushed above and published here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.90/circuit-construction-kit-dc_en.html

@phet-steele can you please take a look?

[2017-07-21 04:18] samreid commented on #97
Proposed fix is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.91/circuit-construction-kit-dc_en.html

@phet-steele can you please take a look?

[2017-07-21 04:20] phet-steele commented on #97
Fixed.

[2017-07-21 04:20] #97 closed

[2017-07-21 04:24] phet-steele commented on #80
Good, thanks.

[2017-07-21 04:24] #80 closed

[2017-07-21 16:13] ariel-phet commented on #73
This looks quite good to me. At default the speed is totally reasonable,  At 0.5 volts with the default bulb the speed is slow but perceptible, and at 120 V the speed is quite fast, but not stroboscopic or such. Seems like a good compromise.

[2017-07-21 16:18] arouinfar commented on #73
This is a huge improvement @samreid! The electron speeds at the extreme ends looks good, and the fire and animation speed warning are much better coordinated. Closing.

[2017-07-21 16:18] #73 closed

[2017-07-21 16:25] arouinfar commented on #77
Thanks for reviewing @phet-steele. I would prefer for the layering to be consistent across the vertices and the lifelike/schematic views. Definitely not important for AAPT, but should be addressed for 1.0. Back to you @samreid.

[2017-07-21 17:02] phet-steele commented on #78
Looks great, except for phetsims/scenery/issues/652. That issue is tracked separately and is unlikely to cause problems in this sim. Thanks @samreid!

[2017-07-21 17:02] #78 closed

[2017-07-21 17:35] arouinfar commented on #86
👍

[2017-07-21 17:35] #86 closed

[2017-07-21 17:44] arouinfar commented on #98
Thanks for asking @samreid. I double checked the 100-120 ohms range, and the value is always within the tolerance range of the displayed colors. I'd say we're fine to leave things as they are.

[2017-07-21 17:44] #98 closed

[2017-07-21 21:50] phet-steele opened #99 "Quick zooming sometimes changes the layout bounds"
@samreid it looks like if I very quickly press zoom in and zoom out in sequence (just the one iteration), the layout bounds do not encompass the entire screen. This is evidenced by two things:

- Tools cannot be dragged to the edges of the screen. Not letting the sensors go anywhere in the play area limits the ability for sensors to measure components around the edges of the screen.
- The cut butt

[2017-07-21 21:52] arouinfar commented on #76
@phet-steele and I think [dev.91](http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.91/circuit-construction-kit-dc_en.html) will be good to go at AAPT.

@kathy-phet there are a few caveats
* Conventional current is most stable when using standard batteries/bulbs/resistors. -- @phet-steele is still working on diagnosing the problem, so no issue to reference yet
* K

[2017-07-22 12:33] samreid commented on #62
@phet-steele according to https://github.com/phetsims/QA/issues/26 iPad2 received some dev testing.  Any crashes?  How thorough was your testing?  Can this issue be closed?

[2017-07-22 12:39] samreid commented on #77
It may be simplest to put all charges in front of all circuit elements (still behind light bulb sockets and series ammeter front panels).  However, this would mean that when wires overlap, the electrons are not occluded by the frontmost wire.  But it would simplify the code somewhat and improve performance a bit.  I was hesitant to try this before because I wanted the effect of electrons going "un

[2017-07-22 12:42] samreid opened #100 "make sure the term electron is rare"
I saw `lightBulbSocketElectronLayer` and it reminded me to look through and make sure we use the term `charge` instead of `electron` throughout the sim.

[2017-07-22 12:52] samreid opened #101 "Where are ChargeNodes getting removed?"
It's not obvious from the code where ChargeNodes are removed from the scene graph.

[2017-07-22 12:58] samreid commented on #77
Here's a depiction of the layering problem I mentioned-- in the previous version the wire electrons went behind the battery.  After this change they go in front:

![image](https://user-images.githubusercontent.com/679486/28491235-a402bc54-6eaa-11e7-907d-94025991200e.png)

@arouinfar and @ariel-phet is this acceptable or should we keep searching for solutions that occlude electrons sometimes?  At o

[2017-07-22 13:00] samreid commented on #77
Here's a "poor man's change set" in case we want to pursue the idea above:

![image](https://user-images.githubusercontent.com/679486/28491263-5db62b5e-6eab-11e7-8a15-478a28931eea.png)

[2017-07-22 13:10] samreid commented on #84
Looking at the first hit for `for (`, I see ChargeAnimator.step with this code:
[code]
It seems the straightforward way to closurify this code would be like this:

[code]

However, `this.charges` is an ObservableArray and I noticed that ObservableArray.forEach is implemented like this:

[code]

Hence this will be creating unnecessary garbage once per frame to save 1 line of code and eliminate the

[2017-07-22 13:18] samreid opened #102 "Address TODOs"
I noticed that recent work left some TODOs in the code.

[2017-07-22 13:40] samreid commented on #89
I added an `isMetallic` property for resistors and use it to check voltmeter readings. I posted a version here for testing:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.92/circuit-construction-kit-dc_en.html

@arouinfar can you please take a look?  Also be aware of the preceding comment that describes that fixing #93 (hopefully) made it so we don't need anot

[2017-07-22 13:47] samreid commented on #90
I added a touch/mouse area around the bottom controls--clicking in that area will not dismiss the controls:

![image](https://user-images.githubusercontent.com/679486/28491638-f2e2904a-6eb1-11e7-992b-534e82728feb.png)

[2017-07-22 13:53] samreid commented on #90
Fix committed, @arouinfar could you please test this out and look for related issues?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.94/circuit-construction-kit-dc_en.html

[2017-07-22 14:15] samreid commented on #91
Here's a screenshot that depicts the unequal spacing:
![image](https://user-images.githubusercontent.com/679486/28491831-cffdbffc-6eb4-11e7-9621-f4cebd1f3304.png)

When I turn on the separators it becomes more obvious why the spacing looks irregular:
![image](https://user-images.githubusercontent.com/679486/28491839-e0aa6b16-6eb4-11e7-9e26-7be8da35957f.png)

The boxes are equally sized and the obj

[2017-07-22 14:24] samreid commented on #94
Proposed fix is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.95/circuit-construction-kit-dc_en.html

@phet-steele can you please test?

[2017-07-22 15:38] samreid commented on #74
The fate of this issue is tied with #62, I'll unassign to take it off my todo list for now.

[2017-07-22 19:33] phet-steele commented on #62
I had no crashes! The performance was decent but not great. I did not really push it to its limits, nor do I think I really ever had too many objects out at once, though. I was planning on really going at the iPad 2 after the AAPT stuff had blown over, so please keep open.

[2017-07-22 19:35] phet-steele commented on #94
Fixed, thanks!

[2017-07-22 19:35] #94 closed

[2017-07-22 19:39] pixelzoom commented on #91
You're calling this "unequal spacing", but the items are actually equally spaced.  Spacing is measured from center to center of each item.  And the spacing must be equal in order to ensure that each page of the carousel is the same length.   If you try to do what @ariel-phet has suggested, you're going to end up with either a very complicated change to Carousel, or some really ugly client code.  M

[2017-07-22 19:46] pixelzoom commented on #91
The Carousel in CircuitElementToolbox is currently using `spacing: 0`.  When I try 5 or 10, it looks better.

Even better would be to move the Light Bulb to the bottom of the first page in the Carousel.  The problem is accentuated by having it in the middle of the first page, surround by items that are similar to horizontal lines.

[2017-07-22 19:48] pixelzoom commented on #91
Light Bulb moved to the bottom of the first page, `spacing: 5`.  Looks great to me.  I see no reason to change Carousel.

![screenshot_329](https://user-images.githubusercontent.com/3046552/28494182-62a2fd16-6ee4-11e7-9d15-e5396d8dd81c.png)

[2017-07-22 21:12] samreid commented on #91
In this comment @Denz1994 and I recommended moving the light bulb to the bottom, to make the layout look nicer:
https://github.com/phetsims/circuit-construction-kit-common/issues/330#issuecomment-303846084

@arouinfar replied:

* I'd prefer to keep the light bulb in its original location, as students tend to navigate top-down.
* We could make the light bulb icon 10-20% smaller so its alignment wou

[2017-07-23 16:41] samreid commented on #95
Proposed fix is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.96/circuit-construction-kit-dc_en.html

@phet-steele can you please take a look?

[2017-07-23 17:00] samreid commented on #96
I reduced the resistance to 0 in the above commit and it behaves much better, though https://github.com/phetsims/circuit-construction-kit-common/issues/391 is still a problem.

@phet-steele can you test this issue in this new dev version?

[2017-07-23 20:20] samreid commented on #100
Fixed, closing.

[2017-07-23 20:20] #100 closed

[2017-07-23 21:27] samreid commented on #99
I wasn't able to reproduce this problem on Mac, even after slowing down time.  On iPad I tested for 2-3 minutes and saw an issue once where the scissors were able to move out of the bounds of the screen.

[2017-07-23 21:28] samreid commented on #101
Oh, there's a detach in its dispose.  I'll document that.

[2017-07-23 21:30] #101 closed

[2017-07-23 22:04] samreid commented on #102
OK all set, closing.

[2017-07-23 22:04] #102 closed

[2017-07-23 22:07] kathy-phet opened #103 "Be able to "click through" the voltage probe wires"
In version dev.91, it seems that the voltage probe wires block clicking so when they go over the battery or other elements, it makes it more difficult to grab or highlight those elements for changing values, moving, or deleting. It would be good to make these wires essentially "see through" as far as the mouse is concerned.

[2017-07-23 22:23] samreid commented on #103
Thanks for reporting this issue, @kathy-phet.  In the preceding commit I made the voltmeter and ammeter wires unpickable.  Here's a dev version with the fix:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.99/circuit-construction-kit-dc_en.html

@kathy-phet or @arouinfar can you please verify?  Be aware that dev.99 is many commits beyond dev.91 so cannot be used

[2017-07-23 22:42] kathy-phet commented on #103
Thx Sam, I will use 91.

Sent from my iPhone

On Jul 23, 2017, at 3:23 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #103<https://github.com/phetsims/circuit-construction-kit-dc/issues/103> to @kathy-phet<https://github.com/kathy-phet>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.co

[2017-07-24 14:21] arouinfar commented on #103
Looks good to me @samreid!

[2017-07-24 14:21] #103 closed

[2017-07-24 14:32] arouinfar commented on #91
Thanks for finding my earlier comment @samreid. I thought a battery-on-bottom carousel looked/sounded familiar. :)

After interviews, I don't think the order of the items on the first page is that important, as most students interacted with the bottom item (switch) very early on. I'll defer to @ariel-phet.

However, I would not want the high-R bulb to also be moved to the bottom of the carousel, a

[2017-07-24 14:44] arouinfar commented on #89
Love it!

[2017-07-24 14:44] #89 closed

[2017-07-24 14:46] arouinfar commented on #90
👍

[2017-07-24 14:46] #90 closed

[2017-07-24 14:56] arouinfar commented on #77
@samreid the screenshot in https://github.com/phetsims/circuit-construction-kit-dc/issues/77#issuecomment-317182108 looks fine to me, and I think the electron opacity helps a bit.

[2017-07-24 15:32] samreid commented on #77
@arouinfar can you please review the last UPDATE in https://github.com/phetsims/circuit-construction-kit-dc/issues/77#issuecomment-317180996 ?

[2017-07-24 15:34] arouinfar commented on #77
@samreid can you clarify? The electrons in the associated screenshot look fine to me.

[2017-07-24 15:36] samreid commented on #77
In master, the charge on the right hand side of the bulb is in front (to indicate it is on the outer part of the socket):

![image](https://user-images.githubusercontent.com/679486/28531251-7f9e635e-7053-11e7-8395-20bccd4eb385.png)

[2017-07-24 15:40] arouinfar commented on #77
Thanks @samreid. Given that the advantages of the proposed changes (simplified code, improved performance, more consistent layering) I could live with the behavior shown in https://github.com/phetsims/circuit-construction-kit-dc/issues/77#issuecomment-317462282. I think @ariel-phet should also review and advise, though.

[2017-07-24 15:45] samreid commented on #77
I realized that if the electrons didn't overlap in the socket, we might be able to address this problem by creatively cutting the socket image--taking a "bite" out of the top right corner, sending that to the back layer and leaving it out of the front layer.  That might make it so the electrons always go in front of it without needing to be relayered?  If this look is important https://github.com/

[2017-07-24 16:25] ariel-phet commented on #91
@samreid I think shuffling the order in this case is fine, as the carousel does not really imply any particular level of importance to the items on the first page (and interviews have confirmed that).

I agree that moving the light bulb to the last item improves the spacing issue quite a bit.

[2017-07-24 16:30] samreid commented on #91
I'm happy to move the light bulb to the end of page 1.  What should we do for page 2?  Or is it not as much of a problem?

![image](https://user-images.githubusercontent.com/679486/28533642-1e77f182-705b-11e7-8225-b6bcc1d99b95.png)

[2017-07-24 16:34] arouinfar commented on #91
@samreid @ariel-phet I would rather not move the high-R bulb down to the bottom of the carousel because it breaks up the grouping of the "high" components and the grab bag items.

[2017-07-24 16:36] samreid commented on #91
@arouinfar I agree, but it looks like the spacing isn't as bad on page 2.  Let's see what @ariel-phet recommends.

[2017-07-24 16:36] ariel-phet commented on #91
@samreid @arouinfar if we did move the high resistance light bulb, I think you would move the dollar bill to the 2nd position, however, in the last position it sort of suggests "grab bag items coming". However, maybe that is only meaningful to us, since we know about the grab bag items.

Can we try dollar bill in position 2 and see what that page looks like?

[2017-07-24 18:57] samreid commented on #91
I moved the light bulb and the dollar, please test it here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.100/circuit-construction-kit-dc_en.html

@arouinfar and @ariel-phet can you please take a look?

[2017-07-24 19:18] arouinfar commented on #91
I really don't like the ordering of the 2nd page of the carousel. While it maintains the grouping of the "high" components (which I think is absolutely necessary), it looks very disorganized with the dollar bill in the 2nd position. The "Light Bulb" text is also really tight to the down button (1st page has better padding).

I also think the first page would look a bit more balanced if if the swit

[2017-07-24 19:40] ariel-phet commented on #91
@samreid can you give an estimate/strategy for improving carousel to allow some custom spacing? In terms of pixel polishing this is going to be a general problem, especially as we move forward with other version of CCK. It seems carousel was designed with items being assumed to be the same size, and although that has been a valid assumption for sims like Function Builder, it is not a valid assumpt

[2017-07-24 19:58] ariel-phet commented on #77
@samreid @arouinfar the current layering in master looks good to me.

[2017-07-24 20:02] ariel-phet opened #104 "Diameter of electron representation?"
@arouinfar I noticed this while thinking about https://github.com/phetsims/circuit-construction-kit-dc/issues/77

Should we consider some changes to the electron representation diameter? I think if the electrons were smaller things with the lightbulb would be a bit easier.

My more pressing concern is that in the Java sim, the electrons are contained fully within the wire (the wires are thicker in

[2017-07-24 20:59] phet-steele commented on #96
Looks great. Closing for now.

[2017-07-24 21:04] phet-steele commented on #95
Fixed, thanks!

[2017-07-24 21:04] #95 closed

[2017-07-24 22:04] samreid commented on #91
I proposed 2 strategies in https://github.com/phetsims/sun/issues/307 and provided time estimates.  Reassigning to @ariel-phet to evaluate the proposed approaches and to prioritize and schedule.

[2017-07-24 22:05] samreid commented on #91
Reducing priority based on @ariel-phet remark in https://github.com/phetsims/sun/issues/307#issuecomment-317567009

[2017-07-24 22:11] samreid commented on #104
I tried cutting the size in half as a first guess, it looks like a good fit to the wire, but perhaps more difficult to tell it is an electron?

![image](https://user-images.githubusercontent.com/679486/28547081-797867fe-708a-11e7-83f9-3dc96b6a74f3.png)

0.75 seems much better:
![image](https://user-images.githubusercontent.com/679486/28547114-9f909006-708a-11e7-9c41-1472a9598bae.png)

it looks lik

[2017-07-24 22:14] samreid commented on #104
I subtracted 1/2 from the positions and it seemed to help:
![image](https://user-images.githubusercontent.com/679486/28547198-0a6cc48a-708b-11e7-9054-3586f8ecd670.png)

[2017-07-24 22:16] samreid commented on #104
Here's a live version with 0.75, please test:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.101/circuit-construction-kit-dc_en.html

[2017-07-24 22:20] samreid commented on #91
@arouinfar said:

I'm hopeful that we'll be able to adjust the carousel item positions one way or another, so I restored the original ordering on page 1 and updated the ordering on page 2 to match it.  You can see it in dev.101:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.101/circuit-construction-kit-dc_en.html

[2017-07-24 22:23] ariel-phet commented on #104
I definitely prefer this smaller size, and it seems to work nicely in the sim and be more consistent with the conventional current arrows (which fit inside all elements.

What do you think @arouinfar? I might even consider keeping the diameter at 0.75 and bumping up the wire radius ever so slightly to match.

[2017-07-24 22:29] arouinfar commented on #104
Excellent point @ariel-phet. I didn't notice anything in interviews, but I could see it being an issue for some (particularly younger) students.

@samreid thanks for adjusting the electron size. I think dev.101 looks really clean. I don't find that the electrons get "in the way" as much, either. I would like to see the wire radius bumped up slightly as @ariel-phet suggested.

[2017-07-24 22:39] samreid commented on #104
Current width is 12 and looks like this:

![image](https://user-images.githubusercontent.com/679486/28547853-1a48b668-708e-11e7-8a16-96619e2c82a3.png)

Here is 14:

![image](https://user-images.githubusercontent.com/679486/28547864-26b429d2-708e-11e7-846f-40a967c87c84.png)

Here is 15:
![image](https://user-images.githubusercontent.com/679486/28547944-8a27f610-708e-11e7-9260-90f91c757534.png)

Her

[2017-07-24 22:41] arouinfar commented on #104
@samreid I vote for the thinnest wire that can still fully enclose the electrons, which looks to be 14 (hard to tell in the screenshot), but if not I'd go with 15.

[2017-07-24 23:42] samreid commented on #104
Upon reflection, I'm hoping to keep the wire width an even number since it is halved for creating rasters.  14 width and 0.75 electron size leaks off the edge a little bit.  So my choices for the wire are 14 or 16, and I can tweak the electron size a little bit to compensate.

[2017-07-24 23:47] samreid commented on #104
At 14 wire width, 0.68 electron size kept most of it in the wire, but that seemed a bit small.  I'll try 16.

[2017-07-24 23:50] samreid commented on #104
16 and 0.78 looks pretty good, committing.

[2017-07-24 23:53] samreid commented on #104
Dev version with 16 and 0.78 is here, @arouinfar and @ariel-phet can you take a look?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.102/circuit-construction-kit-dc_en.html

[2017-07-25 00:12] ariel-phet commented on #104
@samreid that looks really nice to my eye. The only issue I see is that the wire in the carousel has funky ends (perhaps the icon did not get the end caps altered?)

![capture](https://user-images.githubusercontent.com/4051174/28550050-9fd808f8-709b-11e7-9401-f6bac0a3f1fa.PNG)

[2017-07-25 00:27] phet-steele commented on #104
@ariel-phet If I may refer you to https://github.com/phetsims/circuit-construction-kit-common/issues/390

[2017-07-25 00:51] samreid commented on #104
Sounds good, I'll close this one and we can continue in the issue @phet-steele pointed out.

[2017-07-25 00:51] #104 closed

[2017-07-25 02:15] ariel-phet commented on #76
Considering @samreid emailed @kathy-phet about this version with caveats and she has given her presentation, we can close

[2017-07-25 02:15] #76 closed

[2017-07-25 04:10] samreid commented on #77
Master has the following issues:
1. Charges sometimes go behind solder, like https://github.com/phetsims/circuit-construction-kit-dc/issues/77#issuecomment-316866918
2. Changing layers when electrons go from one circuit element to another is a costly scenery action, leading to increased CPU, memory usage and garbage collection.
3. Changing layers leads to increased code complexity and leaves more

[2017-07-25 04:15] samreid commented on #99
@phet-steele I'd love some more guidance on this.  Do you think it has to do with changing the zoom level while the zoom is changing?

@jonathanolson I'd love your help looking into this if and when you have time.

[2017-07-25 04:16] samreid commented on #47
We tested dev.91 and approved it for AAPT, closing.

[2017-07-25 04:16] #47 closed

[2017-07-25 16:22] ariel-phet commented on #91
@samreid since your issue list is now shrinking, feel free to work on this issue.

[2017-07-25 17:49] samreid commented on #84
Perhaps a good place to draw the line is: if it is done during startup recommended to use closures.  During animation or sim running, may be better to use for loops or less closures.

[2017-07-25 18:38] samreid commented on #99
@jonathanolson identified an incorrect parameter in the tween initialization which may have caused this problem.  I committed a fix above.

[2017-07-25 18:41] samreid commented on #99
New version is published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.104/circuit-construction-kit-dc_en.html

@phet-steele can you please test and see if the problem is still there?

[2017-07-25 19:49] samreid commented on #99
@jonathanolson and I fixed an order dependency in the scaling callbacks and published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.105/circuit-construction-kit-dc_en.html

@phet-steele can you please test it out?

[2017-07-25 21:02] samreid commented on #91
Here's the before and after of applying the workaround described in https://github.com/phetsims/sun/issues/307#issuecomment-317857763

This seems much nicer to me and hopefully won't require any further tweaking.

![image](https://user-images.githubusercontent.com/679486/28593619-310b40a2-714a-11e7-8ff6-fbb24da78e2a.png)

[2017-07-25 21:04] samreid commented on #91
Dev version is here and ready for testing, @ariel-phet and @arouinfar can you please take a look?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.106/circuit-construction-kit-dc_en.html

[2017-07-25 21:07] arouinfar commented on #91
I really like it @samreid!

Switching between the screens, it looks like the Lab carousel is just a tad taller than the Intro carousel, though.

[2017-07-25 21:07] ariel-phet commented on #91
The new spacing looks good to me @samreid

[2017-07-25 21:08] samreid opened #105 "Carousels should be the same size on each screen"
In #91 @arouinfar said:

Switching between the screens, it looks like the Lab carousel is just a tad taller than the Intro carousel, though.

[2017-07-25 21:08] samreid commented on #91
Sounds good, I'll tackle that in https://github.com/phetsims/circuit-construction-kit-dc/issues/105

[2017-07-25 21:08] #91 closed

[2017-07-25 21:16] samreid commented on #77
Note to self, meters and circuit elements currently share a layer, so moving electrons in front of circuit elements means electrons will be in front of the meters (unless we change something).

[2017-07-25 21:56] samreid commented on #77
I moved all electrons to a dedicated layer and published 2 version for review:

bulb sockets in front of electrons
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.107/circuit-construction-kit-dc_en.html

electrons in front of bulb sockets:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.108/circuit-construction-kit-dc_en.html

[2017-07-25 22:11] samreid commented on #105
Proposed fix is in this new dev version:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.109/circuit-construction-kit-dc_en.html

@arouinfar can you please check it out?

[2017-07-25 22:24] samreid commented on #84
Currently the circuit solver is only called once per circuit change, but for AC cck it will be run during animation, so I'm going to leave it as plain for loops.

[2017-07-25 22:31] samreid commented on #84
I'm going to omit CircuitStruct for now--there is no easy way to test it.

[2017-07-25 22:39] samreid commented on #84
I converted a few cases in the preceding 2 commits.  There were other spots that use lodash _.find, but it did not seem like a clear win in any of the cases.  @jonathanolson already mentioned that during the code review he'll point out other cases where a different pattern should be used, so I'll close this issue and we can pick it up again during the review.

[2017-07-25 22:39] #84 closed

[2017-07-25 23:28] arouinfar commented on #77
@samreid @ariel-phet I find the electrons going over the bulb to be a bit jarring, so I prefer dev.107. The layering in dev.108 makes me think the electrons are traveling on top of the glass, rather than through the filament. However, I suppose I could argue the same about the electrons traveling on the insulating layer around the resistor, rather than through it... so maybe in time I would get us

[2017-07-25 23:30] arouinfar commented on #105
Looks good. Thanks @samreid!

[2017-07-25 23:30] #105 closed

[2017-07-26 00:09] samreid commented on #68
This was fixed by @jonathanolson

![image](https://user-images.githubusercontent.com/679486/28598988-70256884-7164-11e7-98a9-4c16472c324a.png)

Closing.

[2017-07-26 00:09] ariel-phet commented on #77
@arouinfar @samreid there is a part of me that definitely likes the consistency of the electrons always being "on top" - especially now that they are semi-transparent, it seems like they are representing the flow of current in general. It seems we are putting lots of effort into the lightbulb case where in other cases (such as the resistor as @arouinfar pointed out) the electrons are not going thr

[2017-07-26 00:15] samreid commented on #77
dev.107 and dev.108 would have approximately the same performance since both have a dedicated electron layer.  It could simplify the light bulb code a little bit (probably 20 lines of code) to always have electrons on top of the socket.  My initial reaction to seeing the "south" and "east" electrons in front of the socket was it looked like there should be a short circuit from one vertex to the ot

[2017-07-26 00:15] #68 closed

[2017-07-26 01:39] ariel-phet commented on #77
@samreid than in that case lets go with dev.107 approach. We certainly have had lots of feedback on Java CCK over the years, and nobody ever complained about the electron layering, so I guess that is good data in addition to you and @arouinfar preferring that style. The short circuiting look is also a good point.

[2017-07-26 11:24] kathy-phet commented on #77
I'm not sure what all components this is impacting, but for the case of the light bulb I think we would be impacting student understanding. We know it goes down through the center, but I don't know that all the students who use this sim would make that assumption and I could imagine a lot of teachers having trouble with representing the electrons on the outside of the bulb at that point. Other opt

[2017-07-26 12:19] kathy-phet commented on #77
Sorry, seems like you all already settled on having same flow.  Hadn't seen those emails. K

Sent from my iPhone

On Jul 26, 2017, at 7:24 AM, Kathy Perkins <katherine.perkins@Colorado.EDU<mailto:katherine.perkins@Colorado.EDU>> wrote:

I'm not sure what all components this is impacting, but for the case of the light bulb I think we would be impacting student understanding. We know it goes down th

[2017-07-26 14:49] samreid commented on #77
This issue has resolved the problem of electrons going behind the solder and we agreed the bulb socket should be in front.  I'll create another issue to make sure we are on the same page about the "east" electron in the socket.

[2017-07-26 14:49] #77 closed

[2017-07-26 14:55] samreid opened #106 "Decide on the layering of the "east" socket electron"
In https://github.com/phetsims/circuit-construction-kit-dc/issues/77 charges got a dedicated layer instead of changing layer order.  This changed the behavior from (dev.91)

![image](https://user-images.githubusercontent.com/679486/28627596-8227af44-71df-11e7-8e52-1823efdcbcf1.png)

to (dev.107)

![image](https://user-images.githubusercontent.com/679486/28627652-ae91a616-71df-11e7-9949-3d943abf2f6

[2017-07-26 15:12] samreid commented on #106
Java has the east electron on top:
![image](https://user-images.githubusercontent.com/679486/28628639-72041e42-71e2-11e7-9689-98815bc39f40.png)

And the filament wire is on top too:
![image](https://user-images.githubusercontent.com/679486/28628660-7d978fbe-71e2-11e7-91fe-47d0888f3966.png)

I don't think it's essential to match the Java version, but I wanted to provide these screenshots in our dis

[2017-07-26 16:17] ariel-phet commented on #106
I am fine with the behavior in dev.107

I feel like this behavior keeps the impression of moving along the filament and still "under" the lightbulb glass.

[2017-07-26 19:01] samreid opened #107 "Allow require statements to exceed the line limit"
From discussion with @jonathanolson

[2017-07-26 19:06] samreid opened #108 "Make sure fuzz tests pass"

[2017-07-26 19:29] samreid commented on #108
Did I mention I love fuzz testing this sim?

![image](https://user-images.githubusercontent.com/679486/28639745-7c1b5336-7206-11e7-9572-6c676d422c0b.png)

[2017-07-26 19:33] samreid commented on #108
Bayes says things are going OK:
![image](https://user-images.githubusercontent.com/679486/28639889-07df534a-7207-11e7-975a-b63b0611a3c0.png)

[2017-07-26 19:34] samreid commented on #108
Oops, some commits are going to #50

[2017-07-26 20:25] kathy-phet commented on #106
Looks fine to me too.

Sent from my iPhone

On Jul 26, 2017, at 12:17 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

I am fine with the behavior in dev.107

I feel like this behavior keeps the impression of moving along the filament and still "under" the lightbulb glass.

—
You are receiving this because you were assigned.
Reply to this email directly, view it o

[2017-07-26 20:27] samreid commented on #106
Sounds good, thanks, closing.

[2017-07-26 20:27] #106 closed

[2017-07-26 20:42] samreid commented on #108
I saw a matrix error one time but haven't reproduced it in a while. Closing.

[2017-07-26 20:42] #108 closed

[2017-07-26 20:42] samreid commented on #107
Done and sorted the lines, closing.

[2017-07-26 20:43] #107 closed

[2017-07-26 20:45] samreid opened #109 "Developer testing"
I'll take a look at these before sharing to design team or QA team:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.111/circuit-construction-kit-dc_en.html
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-dev.3/circuit-construction-kit-dc-virtual-lab_en.html

[2017-07-26 20:48] samreid opened #110 "Light bulb is grainy on firefox"
Discovered in #109, it looks something like this:
![image](https://user-images.githubusercontent.com/679486/28642971-7c5b7122-7211-11e7-8870-f4c85f3fb1e9.png)